<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/usual}">
<head>
<meta charset="UTF-8">
<title>community</title>

<script>
// $();
</script>

</head>
<body>
	<div layout:fragment="content">
		
		<!-- 검색 -->
		<div class="container-fluid search_box" style="width: 520px;">
			<form id="searchForm" class="d-flex" onsubmit="return false;" autocomplete="off"> 
			<select id="type" name="type" class="form-select" aria-label="Default select example"
				style="width: 110px; float: left; margin-right: 10px; font-size:15px;">
				<option selected>전체검색</option>
				<option value="typeCode">식단타입</option>
				<option value="nickName">닉네임</option>
			</select>
			
				<input class="form-control me-2" type="search" id="keyword" name="keyword" placeholder="식단 타입 또는 닉네임을 입력하세요." style="font-size:15px;">
				<button class="btn btn-outline-success" type="button" onclick="getSearchList()" style="width:80px; font-size:15px;">검색</button>
			</form>
		</div>
		<!-- 검색 -->
		<br>
		<div id="allCmntList">
		<!-- 게시판이름 -->
		<h1
			class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">
			추천 피드</h1>

		<!-- 슬라이드 시작 -->
		<div class="relative" uk-slider="finite: true">

			<div class="uk-slider-container pb-3 -ml-3">

				<ul
					class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-small">
					<li th:each="cmnt : ${cmntRec}">
						<div class="oneCmnt" th:data-cmntno="${cmnt.NO}" 
							th:data-sessionid="${session.userId}">
							<!-- th:data-여기대문자적으면안됨! -->
							<div
								class="bg-blue-400 max-w-full lg:h-64 h-40 rounded-md relative overflow-hidden shadow-sm">
								<a href="#story-modal" uk-toggle> <img
									th:src="${cmnt.FILE_DIR}"
									class="w-full h-full absolute object-cover inset-0">
								</a>
								<div
									class="absolut absolute bottom-0 flex items-center justify-between px-4 py-3 space-x-2 text-white w-full">
									<div class="flex space-x-3">
										<!-- 좋아요 하트 붙일 곳 -->
										<!-- 좋아요 처리 -->
										<div th:if="${session.userId != null}" class="heart" th:data-likeno="${cmnt.LIKE_NO}">
											<th:block th:if="${cmnt.LIKE_NO != 0}">
												
													<img src="/assets/images/heart.svg" class="fullHeart">
									
											</th:block>
											<th:block th:unless="${cmnt.LIKE_NO != 0}">
												
													<img src="/assets/images/emptyHeart.svg"  class="emptyHeart">
											
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<a
					class="uk-position-center-left uk-position-small p-3.5 bg-white rounded-full w-10 h-10 flex justify-center items-center -mx-4 mb-6 shadow-md dark:bg-gray-800 dark:text-white"
					href="#" uk-slidenav-previous uk-slider-item="previous"></a> <a
					class="uk-position-center-right uk-positsion-small p-3.5 bg-white rounded-full w-10 h-10 flex justify-center items-center -mx-4 shadow-md dark:bg-gray-800 dark:text-white"
					href="#" uk-slidenav-next uk-slider-item="next"></a>

			</div>
		</div>
	</div>
		<!-- 슬라이드 끝 -->


		<br><br><br>


		<!-- 전체 이미지 -->
		<div
			class="my-3 grid lg:grid-cols-5 grid-cols-2 gap-3 hover:text-yellow-700 uk-link-reset" id="allList">
			<!-- 한 블럭 시작 -->
			<!-- ajax로 리스트 불러옴 -->
			<!-- 한 블럭 끝 -->

			<!-- 전체 이미지 끝 -->
		</div>


			<!-- 스토리 모달 시작 -->
			<div id="story-modal" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog story-modal">
					<button
						class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white"
						type="button" uk-close></button>

					<div class="story-modal-media">
						<img src="" alt="" style="width: 820px; height: 820px;"
							class="inset-0 h-full w-full object-cover" id="cmntImg">
					</div>
					<div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">

						<!-- post header-->
						<div
							class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
							<div class="flex flex-1 items-center space-x-4">
								<a href="" id="feedUserId">
									<div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
										<img id="feedFrofile" src=""
											class="bg-gray-200 border border-white rounded-full w-8 h-8">
									</div>
								</a> <span id="nickName" class="block text-lg font-semibold"></span>
							</div>
							<th:block th:if="${session.userId != null}">
								<!-- 팔로우  -->
								<button type="button" class="follow" style="font-size:12px"></button>
							</th:block>
						</div>
						<div class="story-content p-4 oneCmnt" data-simplebar id="scrollDiv">

							<div id="subject"></div>

							<div class="py-4 ">
								<div class="flex justify-around">
									<a href="#" class="flex items-center space-x-3">
									
										<div class="flex font-bold items-baseline modalHeart heart ">
										
										  <!-- 모달안에 좋아요 -->
									  </div>
										
									</a> <a href="#" class="flex items-center space-x-3">
									<!-- 신고 버튼 -->
									<button type="button" class="btn btn-outline-danger" style="font-size:10px">신고</button>
										<!-- <div class="flex font-bold items-baseline"> -->
											<!-- <i class="uil-comment mr-1"> </i> Comment -->
										<div class="flex font-bold items-baseline" id="commentCnt">
										</div>
									</a>
								</div>
								<hr class="-mx-4 my-3">
							</div>

							<!-- 댓글 출력 -->
							<div class="-mt-1 space-y-1" id="reply"></div>
							<!-- 댓글 출력 끝 -->

						</div>
						<div class="p-3 border-t dark:border-gray-600">
							<div
								class="bg-gray-200 dark:bg-gray-700 rounded-full rounded-md relative">
								<input type="text" placeholder="댓글을 입력하세요."
									class="bg-transparent max-h-8 shadow-none" id="cmmtSubject">
								<div
									class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
									<a href=""><button type="button" style="font-size: 10px;"
											onclick="cmmtInsert()">등록</button></a> <input type="hidden"
										id="postNo">
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		<!-- 스토리 모달 끝 -->
		
		<!-- 더보기 버튼 -->
		<div class="flex justify-center mt-6">
            <a href="" class="bg-white dark:bg-gray-900 font-semibold my-3 px-6 py-2 rounded-full shadow-md dark:bg-gray-800 dark:text-white" style="padding:40px;"
            id="loadBtn" onclick="moreList()">더보기</a>
        </div>
		
		<script>
      
      // ▶ 현재 로그인 중인 아이디(세션에 담긴 아이디)
      let sessionId = $(".oneCmnt").data("sessionid");
      
      
      // ▶ 리스트 띄우기
      $(document).ready(function (){
    	  // 더보기 버튼에 클릭 이벤트 부여해서 첫 리스트 띄우기
    	  loadBtn.click();
    	  
      })
      
      
      // ▶ 리스트 띄우기 + '더보기' 페이징
     function moreList() {
      if(event) {
         event.preventDefault() // a, submit (페이지 이동 막음)
		 event.stopPropagation()
      }
    	 
    	  
        var feedNo = $("#allList .oneCmnt").last().data("cmntno");
        console.log("찾아왔나????? " + feedNo);

	      $.ajax({
	    	  url: "/communityList",
	    	  type: "post",
	    	  dataType: "json",
	    	  data: {"no" : feedNo},
	    	  
	    	  success: function(result) {
	    		  console.log(result.length);

               if(result.length < 10) {
	    			  $("#loadBtn").remove();
	    		  }

               $.each(result, function(index, item) {
                  let heart = '';
                  console.log(item.LIKE_NO)
                  if(sessionId != null) {
					if(item.LIKE_NO != 0) {
						heart = `<div class="heart" data-likeno="${item.LIKE_NO}">
									<img src="/assets/images/heart.svg" class="fullHeart"></div>`;
					}else {
						heart = `<div class="heart" data-likeno="${item.LIKE_NO}">
							<img src="/assets/images/emptyHeart.svg" class="emptyHeart"></div>`;
					}
                  }

                  $("#allList").append(
                     `
                     <div class="oneCmnt" data-cmntno="${item.NO}" data-sessionid="${sessionId}" id="oneFeed">
                        <div class="bg-blue-400 max-w-full lg:h-64 h-40 rounded-md relative overflow-hidden shadow-sm">
                           <a href="#story-modal" uk-toggle> 
                              <img src="${item.FILE_DIR}" class="w-full h-full absolute object-cover inset-0">
                           </a>
                           <div class="absolut absolute bottom-0 flex items-center justify-between px-4 py-3 space-x-2 text-white w-full">
                              <div class="flex space-x-3">
                                 ${heart}
                              </div>
                           </div>
                        </div>
                     </div>
                     `
                  )
               })
         	  
	    		  
	    	  }
	      })    	  
      }
      
	    // ▶ 검색
	    function getSearchList() {
	    	let feedNo = $("#allList .oneCmnt").first().data("cmntno");
	    	let searchData = $("#searchForm").serialize() + "&no=" + feedNo;
	    	console.log(searchData)
// 	    	searchData += "&no=" + feedNo;
	    	
	    	$.ajax({
	    		url: "/communityList",
	    		type: "post",
	    		data : searchData,
	    		success: function(result) {
	    			console.log(result);
	    			console.log("성공??????????")
	    			// 테이블 초기화
	    			$("#allCmntList").empty();
	    			$("#allList").empty();
	    			
	                if(result.length < 10) {
		    			  $("#loadBtn").remove();
		    		  }
	                
	                $("#allCmntList").append(
	                `<h1
			class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">
			검색 결과</h1>`		
	                )
	    			
	                $.each(result, function(index, item) {
	                    let heart = '';
	                    console.log(item.LIKE_NO)
	                    if(sessionId != null) {
	  					if(item.LIKE_NO != 0) {
	  						heart = `<div class="heart" data-likeno="${item.LIKE_NO}">
	  									<img src="/assets/images/heart.svg" class="fullHeart"></div>`;
	  					}else {
	  						heart = `<div class="heart" data-likeno="${item.LIKE_NO}">
	  							<img src="/assets/images/emptyHeart.svg" class="emptyHeart"></div>`;
	  					}
	                    }

	                    $("#allList").append(
	                       `
	                       <div class="oneCmnt" data-cmntno="${item.NO}" data-sessionid="${sessionId}" id="oneFeed">
	                          <div class="bg-blue-400 max-w-full lg:h-64 h-40 rounded-md relative overflow-hidden shadow-sm">
	                             <a href="#story-modal" uk-toggle> 
	                                <img src="${item.FILE_DIR}" class="w-full h-full absolute object-cover inset-0">
	                             </a>
	                             <div class="absolut absolute bottom-0 flex items-center justify-between px-4 py-3 space-x-2 text-white w-full">
	                                <div class="flex space-x-3">
	                                   ${heart}
	                                </div>
	                             </div>
	                          </div>
	                       </div>
	                       `
	                    )
	                 })
	    			
	    			
	    		}
	    	})
	    }

   
      // ▶ 커뮤니티 게시글 단건 조회
      $(document).on("click", ".oneCmnt", function() {
    	  if( $(event.target).hasClass("fullHeart") || $(event.target).hasClass("emptyHeart")){
    		  return
    	  }
    	  event.preventDefault() // a, submit (페이지 이동 막음)
		  event.stopPropagation()
    	  
         console.log($(this));
         let no = $(this).data("cmntno"); // 대소문자 구분 안됨. cmntno는 변수가 아니니까(?) ""안에 넣어주기

         let sessionId = $(this).data("sessionid");
         let dataDiv = $(this);
         
         $(".follow").removeClass("btn btn-outline-sucess btn-outline-secondary");
         
         $(".modalHeart").empty()
         
         // ajax 처리
         $.ajax({
            url: "/community/" + no
         })
         .then(obj => { // 넘어오는 결과값 자체가 json 타입
        	console.log("결과 ======" + obj.followeeId)
            console.log("팔로우 아이디 챙겨왓나용 ===== " + obj.userId);
            console.log("세션 아이디 받았나용 ======= " + sessionId);
            $("#cmntImg").attr("src", obj.fileDir);
            $("#subject").text(obj.subject);
            $("#nickName").text(obj.nickName);
            $("#feedUserId").attr("href", "/myFeed/" + obj.userId);
            $("#feedFrofile").attr("src", obj.profileImgPath);
            $("#postNo").val(obj.no);
            
            if(obj.userId == sessionId) {
//                $(".follow").attr("id", "myBtn");
//                $(".follow").attr("value", obj.userId);
//                $(".follow").text("내스토리");   
               $(".follow").empty();   
            }else {
               if(obj.userId == obj.followeeId) {
                  $(".follow").attr("id", "unfollowBtn");
                  $(".follow").attr("value", obj.userId);
                  $(".follow").attr("onclick", "unfollow('" + obj.userId + "')");
                  $(".follow").addClass("btn btn-outline-secondary");
                  $(".follow").text("언팔로우");
               }if(obj.userId != obj.followeeId){
                  $(".follow").attr("id", "followBtn");
                  $(".follow").attr("value", obj.userId);
                  $(".follow").attr("onclick", "follow('" + obj.userId + "')");
                  $(".follow").addClass("btn btn-outline-success");
                  $(".follow").text("팔로우");
               }
            }
            
            // 모달안에 좋아요
            if(obj.likeNo != 0) {     
            	$(".modalHeart").append(	`<img src="/assets/images/heart.svg" class="fullHeart">`          	)
            	$(".modalHeart").data("likeno", obj.likeNo);
            } else {
            	$(".modalHeart").append( 	`<img src="/assets/images/emptyHeart.svg" class="emptyHeart">`        	)
            	$(".modalHeart").closest(".oneCmnt").data("cmntno", obj.no);
            }
            
            // 댓글 리스트 출력 함수 호출
         	commentList(no);
	      });
	   });
      
      
      
      

      // ▶ 댓글, 대댓글 리스트 출력 ajax
      function commentList(postNo) {
         
         console.log("글번호 =========" + postNo)
         $.ajax({
            url: "/comment/" + postNo,
            type: 'post',
            dataType: 'json',   // 데이터 타입을 Json으로 변경
            contentType: 'application/json'   // Content-Type을 Json으로 변경
         })
         .then(data => {
            console.log("댓글 ======== " + data);
            
            // 댓글창 비우기
            $("#reply").empty()
            
            // 댓글창 채우기
            $(data).each(function(index, item) {
               console.log(item.profileImgPath);
               // 댓글일때
               // 댓글 쓴 아이디가 세션의 아이디와 같다면 수정, 삭제 기능 / 다르다면 답글 기능
               if(item.cmmtClass == 0) {
                  $("#reply").append(
                     `<div class="flex flex-1 space-x-2" id="comment${item.no}">
                     <a href="/myFeed/${item.userId}">   
                     <img src="${item.profileImgPath}"
                           class="rounded-full w-8 h-8"></a>
                        <div class="flex-1" id="one${item.no}"><p id="p${item.no}"><b>${item.nickName}</b> <span style="font-size:10px;">${item.writeDate}</span>
                        
                        ${item.userId == sessionId ? 
                           `<button type="button" style="float: right; font-size:12px;" onclick="cmmtDelete(${item.no})">삭제</button>&nbsp;
                            <button type="button" style="float: right; font-size:12px;" onclick="updateBox('${item.subject}', ${item.cmmtGroup}, ${item.no})">수정</button>
                            <button type="button" style="float: right; font-size:12px;" id="cmmtReply${item.no}" onclick="reply(${item.cmmtGroup}, ${item.no})">답글</button>`
                           : `<button type="button" style="float: right; font-size:12px;" id="cmmtReply${item.no}" onclick="reply(${item.cmmtGroup}, ${item.no})">답글</button>`}</p>
                        <div id="subject${item.no}"><p>${item.subject}</p></div></div>
                        <input type="hidden" id="cmmtClass${item.no}" value="0">
                        <input type="hidden" id="cmmtOrder${item.no}" value="${item.cmmtOrder}">
                     </div>`
                  )
               }
               // 대댓글일때
               // 대댓글 쓴 아이디가 세션의 아이디와 같다면 수정, 삭제 기능
               if(item.cmmtClass != 0) {
                  $("#reply").append(
                     `<div class="flex flex-1 space-x-2" style="padding-left:25px;">
                        <img src="${item.profileImgPath}"
                           class="rounded-full w-8 h-8">
                        <div class="flex-1" id="replyOne${item.no}"><p id="p${item.no}"><b>${item.nickName}</b> <span style="font-size:10px;">${item.writeDate}</span>
                        ${item.userId == sessionId ? 
                           `<button type="button" style="float: right; font-size:12px;" onclick="cmmtDelete(${item.no})">삭제</button>&nbsp;
                           <button type="button" style="float: right; font-size:12px;" onclick="updateBox('${item.subject}', ${item.cmmtGroup}, ${item.no})">수정</button>` : ``}</p>
                           <div id="subject${item.no}"><p>${item.subject}</p></div></div>
                           <input type="hidden" id="cmmtClass${item.no}" value="1">
                           <input type="hidden" id="cmmtOrder${item.no}" value="${item.cmmtOrder}">
                     </div> `
                  )
               }
            });
            
         })
      };
      
      
      // ▶ 댓글 등록
      function cmmtInsert() {
         
         event.preventDefault()
         
         let cmmtSubject = $('#cmmtSubject').val();
         let postNo = $('#postNo').val();
         let scrollDiv = $('#scrollDiv');
         
         // 내용이 없을 경우 ajax 이동 차단
         if(cmmtSubject == '') {
            alert("내용을 입력해주세요.")
            return false;
         }
         
         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/insertComment/' + postNo,
            data: {"subject":cmmtSubject}
         })
         .then(result => {
            console.log(result)
            $('#cmmtSubject').val("");
            commentList(postNo);
            $("#scrollDiv .simplebar-content").scrollTop($("#scrollDiv .simplebar-content")[0].scrollHeight);
         })
         
      }

      // ▶ 답글 등록
      function replyInsert(cmmtGroup, no) {
         
         event.preventDefault()
         
         let replySubject = $('#replySubject').val();
         let postNo = $('#postNo').val();
         let scrollDiv = $('#scrollDiv');
         
         // 내용이 없을 경우 ajax 이동 차단
         if(replySubject == '') {
            alert("내용을 입력해주세요.")
            return false;
         }

         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/insertReply/' + postNo,
            data: {"subject":replySubject, "cmmtGroup":cmmtGroup}
         })
         .then(result => {
            console.log(result)
            $('#replyBox' + no).remove();
            commentList(postNo);
            // 답글은 제일 밑으로 내려가면 안되는데..ㅠ
//             $("#scrollDiv .simplebar-content").scrollTop($("#scrollDiv .simplebar-content")[0].scrollHeight);
         })
      }
      
      
      // ▶ 답글창 생성
      function reply(cmmtGroup, no) {
         let postNo = $('#postNo').val();
         let comment = $('#one' + no);
         let reply = $('#cmmtReply' + no);
         
         // 답글창 붙이기
         comment.append(
         `<div class="p-3 border-t dark:border-gray-600" id="replyBox${no}">
            <div
               class="bg-gray-200 dark:bg-gray-700 rounded-full rounded-md relative">
               <input type="text" placeholder="댓글을 입력하세요."
                  class="bg-transparent max-h-8 shadow-none" id="replySubject">
               <div
                  class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
                  <a href=""><button type="button" style="font-size:10px;" onclick="replyInsert(${cmmtGroup}, ${no})">등록</button></a>
               </div>
            </div>
         </div>`      
         )
         
         reply.attr("onclick", "unreply(" + cmmtGroup + "," + no + ")")
         
      }

      
      // ▶ 답글창 닫기
      function unreply(cmmtGroup, no) {
         let comment = $('#one' + no);
         let reply = $('#cmmtReply' + no);
         let replyBox = $('#replyBox' + no);

         replyBox.remove()
         reply.attr("onclick", "reply(" + cmmtGroup + "," + no + ")")
      }
      

      // ▶ 댓글 수정창 열기
      function updateBox(subject, cmmtGroup, no) {

         let commentBox = $('#subject' + no);
         let comment = commentBox.text();
         commentBox.empty()
         
         let cmmtClass = $('#cmmtClass' + no).val();
         console.log("댓글 클래스 =====" + cmmtClass);

         // 버튼 지우기
         if($('#cmmtClass' + no).val() == 0) {            
            $('#one' + no).find('button').remove();
         }else {
            $('#replyOne' + no).find('button').remove();
         }

         // 취소 버튼 추가
         $('#p' + no).append(
            `<button type="button" style="float: right; font-size:12px;" onclick="noUpdate('${subject}', ${no})">취소</button>`
         )

         // 댓글 수정창 생성
         commentBox.append(
            `<div id="updateBox${no}">
               <div
                  class="bg-gray-200 rounded-full rounded-md relative">
                  <input type="text" placeholder="댓글을 입력하세요."
                     class="bg-transparent max-h-8 shadow-none" id="updateSubject" value="${comment}">
                  <div
                     class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
                     <a href=""><button type="button" style="font-size:10px;" onclick="commentUpdate(${no})">수정</button></a>
                  </div>
               </div>
            </div>`   
         )
      }
      
      
      // ▶ 댓글 수정 기능 (수정)
      function commentUpdate(no) {
//          debugger
         event.preventDefault()
         
         let updateSubject = $('#updateSubject').val();
         let postNo = $('#postNo').val();
         
         // 내용이 없을 경우 ajax 이동 차단
         if(updateSubject == '') {
            alert("내용을 입력해주세요.")
            return false;
         }

         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/updateComment/' + no,
            data: {"subject":updateSubject, "no":no}
         })
         .then(result => {
            console.log(result)
            
            commentList(postNo);
         })
      }
      
      
      // ▶ 댓글 수정 취소
      function noUpdate(subject, no) {
         
         event.preventDefault()
         
         let postNo = $('#postNo').val();
         
         // ajax 처리 (기존의 댓글 내용으로 그냥 수정 처리함)
         $.ajax ({
            type: 'post',
            url: '/updateComment/' + no,
            data: {"subject":subject, "no":no}
         })
         .then(result => {
            console.log(result)
            
            commentList(postNo);
         })
      }

      
      // ▶ 댓글 삭제
      function cmmtDelete(no) {
         let postNo = $('#postNo').val();
         
         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/deleteComment/' + no
         })
         .then(result => {
            console.log(result)
            commentList(postNo);
         })
      }
      

      // ▶ 팔로우 처리
      function follow(userId) {
         event.preventDefault()
         
         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/follow/' + userId, // 피드 유저의 id를 넘겨줘야함
            //dataType: 'json',   // 데이터 타입을 Json으로 변경 // 넘겨주는 값이 JSON타입이 아니라 plain 텍스트인데, JSON으로 넘겨서 애가 인식을 못 한 거임!!!
            contentType: 'application/json'   // Content-Type을 Json으로 변경
         })
         .then(result => {
            console.log("팔로우 신청 결과 ===== " + result.followeeId)
            $(".follow").attr("id", "unfollowBtn");
            $(".follow").attr("value", result.followeeId);
            $(".follow").attr("onclick", "unfollow('" + result.followeeId + "')");
            $(".follow").removeClass("btn btn-outline-sucess");
            $(".follow").addClass("btn btn-outline-secondary");
            $(".follow").text("언팔로우");
         })
      }
      
      
      // ▶ 언팔로우 처리
      function unfollow(userId) {
         console.log("언팔할 아이디 가져왔어? ===== " + userId);
         
         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/unfollow/' + userId, // 피드 유저의 id를 넘겨줘야함
            contentType: 'application/json'   // Content-Type을 Json으로 변경
         })
         .then(result => {
            console.log("언팔로우 결과 ===== " + result.followeeId)
               $(".follow").attr("id", "followBtn");
               $(".follow").attr("value", result.followeeId);
               $(".follow").attr("onclick", "follow('" + result.followeeId + "')");
               $(".follow").removeClass("btn btn-outline-secondary");
               $(".follow").addClass("btn btn-outline-sucess");
               $(".follow").text("팔로우");
         })
      };
      
      
      $(function(){
			
			// 좋아요 인서트
			$(document).on("click", ".emptyHeart", function(){
				event.preventDefault() // a, submit (페이지 이동 막음)
				event.stopPropagation()
				
				let oneCmnt = $(this).closest(".oneCmnt")
				let no = $(this).closest(".oneCmnt").data("cmntno");
				let heart = $(this).parent(".heart")

				console.log(no);
				
				$.ajax({
					type: 'POST',
					url: "/insertLikeMeal/" + no,
				})
					.then(result => {
						oneCmnt.data("likeno", result.no);
							heart.html(`<img src="/assets/images/heart.svg" class="fullHeart">`) // 빨간하트
				//    location.reload();
					
					});
				});
				
			
			
			// 좋아요 삭제
	         $(document).on("click", ".fullHeart", function(){
	            let no = $(this).parent(".heart").data("likeno");
	            console.log(no + "먼데요...........")
	            let heart = $(this).parent(".heart")
	            
	            event.preventDefault()
	            event.stopPropagation()

	            $.ajax({
	               type: 'POST',
	               url: "/myLikeDel/" + no,
	            })
	               .then(result => {
	                  console.log(result)
	                  heart.html(`<img src="/assets/images/emptyHeart.svg" class="emptyHeart">`)// 빈 하트
	           //      location.reload();
	               });
	            });
	         });

   </script>
	</div>
</body>
</html>