<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{frame/administrator}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="css/simplebar.css">
    <!-- Fonts CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="css/app-dark.css" id="darkTheme" disabled="disabled">
    <style>
        #att_zone {
            width: 550px;
            min-height: 150px;
            padding: 10px;
            border: 1px dotted #00f;
        }

        #att_zone:empty:before {
            content: attr(data-placeholder);
            color: #999;
            font-size: 0.9em;
        }
    </style>
</head>

<body class="vertical  light  ">
    <div layout:fragment="content">
        <div class="wrapper">

            <main role="main" class="main-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="page-title">공동구매 상세보기</h2>
                            <p class="text-muted">Demo for form control styles, layout options, and custom
                                components for creating a wide variety of forms.</p>
                            <div class="card-deck" style="width: 600px">

                                <div class="card shadow mb-4">
                                    <div class="card-header" style="width: 500px">
                                        <strong class="card-title">공동구매 상세보기</strong>
                                    </div>
                                    <div class="card-body" style="width: 500px" id="myForm">

                                        <form id="frm" method="post" enctype="multipart/form-data">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">상품명</label>
                                                <div class="col-sm-9">[[${selects.name}]]</div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">업체명</label>
                                                <div class="col-sm-9">[[${selects.coName}]]</div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">시작일자</label>
                                                <div class="col-sm-9">[[${#dates.format(selects.grpStartDate,'yyyy-MM-dd' ) }]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">종료일자</label>
												<div class="col-sm-9">[[${#dates.format(selects.grpEndDate,'yyyy-MM-dd') }]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">가격</label>
												<div class="col-sm-9">[[${selects.price }]]</div>
											</div>


											<div class="form-group row">
												<label class="col-sm-3 col-form-label">최소주문수량</label>
												<div class="col-sm-9">[[${selects.minGd }]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">공급한계수량</label>
												<div class="col-sm-9">[[${selects.splyGd }]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3" for="exampleFormControlTextarea1">상세설명</label>
												<div class="col-sm-9">[[${selects.subject }]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">썸네일 </label>
												<div class="col-sm-9" style="width:15; height:15;">
													[[${selects.thumbnailImgPath }]] 
													<img th:src="${selects.thumbnailImgPath }" >

												</div>
											</div>

											<div class="form-group row">
												<div id='image_preview'>

													<div id='att_zone'
														data-placeholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'>
<!-- 														<div>[[${imgselect}]]</div> -->
														<div th:each="sel : ${imgselect}" >
															<img th:src="${sel.atchPath}" style="width:15; height:15;">
														</div>
													</div>
													<!-- for문 돌려야함 -->

												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- / .card-desk-->
			</main>
			<!-- main -->
		</div>
		<!-- .wrapper 
		<script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/simplebar.min.js"></script>
		<script src='js/daterangepicker.js'></script>
		<script src='js/jquery.stickOnScroll.js'></script>
		<script src="js/tinycolor-min.js"></script>
		<script src="js/config.js"></script>
		<script src="js/apps.js"></script>-->






	</div>
</body>
</html>