<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/administrator}">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
<title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
<!-- Simple bar CSS -->
<link rel="stylesheet" href="css/simplebar.css">
<!-- Fonts CSS -->
<link
	href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">
<!-- Icons CSS -->
<link rel="stylesheet" href="css/feather.css">
<!-- Date Range Picker CSS -->
<link rel="stylesheet" href="css/daterangepicker.css">
<!-- App CSS -->
<link rel="stylesheet" href="css/app-light.css" id="lightTheme">
<link rel="stylesheet" href="css/app-dark.css" id="darkTheme"
	disabled="disabled">
<style>
#att_zone {
	width: 550px;
	min-height: 150px;
	padding: 10px;
	border: 1px dotted #00f;
}

#att_zone:empty:before {
	content: attr(data-placeholder);
	color: #999;
	font-size: 0.9em;
}

.container-fluid{
	margin: 0 auto;
}
.main-content{
	margin: 0 auto;
}
</style>
</head>

<body class="vertical  light  ">
	<div layout:fragment="content">
<!-- 		<div class="wrapper"> -->

			<main role="main" class="main-content">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-12">
							<br>
							<h3 class="page-title">NOTICE 상세보기</h3>
							<br>
							<div class="card-deck" style="width: 800px; height: 450px;">

								<div class="card shadow mb-4">
									<div class="card-header" style="width: 700px; margin: 10px;">
										<strong class="card-title">NOTICE 상세보기</strong>
									</div>
									<form id="frm" method="post" style="width: 800px">
										<div class="card-body" style="width: 800px; margin: 10px;"
											id="myForm">

											<div class="form-group row">
												<label class="col-sm-3 col-form-label">순번</label>
												<div class="col-sm-9">[[${notice.no}]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">제목</label>
												<div class="col-sm-9">[[${notice.boardTitle}]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">내용</label>
												<div class="col-sm-9">[[${notice.boardSubject}]]</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-3" for="exampleFormControlTextarea1">작성일자</label>
												<div class="col-sm-9">[[${#dates.format(notice.boardDate,'yyyy년
													MM월 dd일')}]]</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">작성자</label>
												<div class="col-sm-9">[[${notice.userId }]]</div>
											</div>
										</div>
										<div align="center">
											<input type="button" class="btn btn-light" value="NoticeList"
												onclick="location.href='/admin/adminNotice'">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
<!-- 		</div> -->
	</div>
	</main>
	<!-- main -->
	</div>
	<!-- .wrapper -->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/simplebar.min.js"></script>
	<script src='js/daterangepicker.js'></script>
	<script src='js/jquery.stickOnScroll.js'></script>
	<script src="js/tinycolor-min.js"></script>
	<script src="js/config.js"></script>
	<script src="js/apps.js"></script>

	</div>
</body>

</html>