<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{frame/administrator}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="css/simplebar.css">
    <!-- Fonts CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="css/feather.css">
    <link rel="stylesheet" href="css/dataTables.bootstrap4.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="css/app-dark.css" id="darkTheme" disabled="disabled">
    <style>
        .pagination {
            display: inline-block;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>

</head>

<body class="vertical  light  ">
    <div layout:fragment="content">
        <div class="wrapper">

            <main role="main" class="main-content" style="margin-left :auto">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <script>
                            function gopage(page) {
                                location.href = "adminExperienceGroup?page=" + page;
                                searchFrm.page.value = page;
                                searchFrm.submit();
                            }
                        </script>
                        <script>
      
  		function startdate(){
  			var startdates = $('#inputDate').val()
  			console.log(startdates)
  			
  			$("#inputeDate").prop("min", startdates);
  			console.log()
  		};
  		
        
        </script>

                        <div class="col-12">
<!--                             <div class="row"> -->

                                <!-- 체험단 리스트 출력 -->

                               
                                <!-- 표 시작 Striped rows -->

                                <div class="col-md-20 my-4">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <h5 class="card-title">체험단 리스트</h5>
                                            <p class="card-text">
                                            <!-- 검색 -->
                                             <form id="searchFrm">
                                              기간별 : &nbsp;                
                                	  <input type="date" name="datekeyword1" style="width:45%; text-align:center" id="inputDate" th:value="${#dates.format(paging.datekeyword1, 'yyyy-MM-dd')}" onchange="startdate()">
  											  ~
    								<input type="date" name="datekeyword2" style="width:45%; text-align:center" id="inputeDate" th:value="${#dates.format(paging.datekeyword2, 'yyyy-MM-dd')}"  >
                                             
                                             
                                     	<br><hr>        
                                   선  택 :&nbsp; <select name="type" style="width:10%; text-align:center;">
                                   		<option value="A" th:selected="${paging.type == 'A'}">::: 선택 :::</option>
                                        <option value="G" th:selected="${paging.type == 'G'}">상품명</option>
                                        <option value="R" th:selected="${paging.type == 'R'}">필요등급</option>
                                    </select>
                                    <input type="text" name="keyword" th:value="${paging.keyword}" style="width:82%;">
                                    <br><hr>
                               상  태 :&nbsp; <input type="radio" value="" name="exstatus" style="width:50px;"> 전체
                                    <input type="radio" value="0" name="exstatus" style="width:50px;">  진행중	
                                    <input type="radio" value="1" name="exstatus" style="width:50px;">  완료
                                    <input type="radio" value="2" name="exstatus" style="width:50px;">  진행전
                                    <br><hr>
                                    <div style="text-align:leftr;">
                                    <button type="submit">검색</button> &nbsp;&nbsp;
                                    <button type="button" onclick="location.href='/admin/adminExperience'">초기화</button>
                                    </div>
                               
                               
                               
                               
                                </form>
                                                <input type="button" value="등록하기"
                                                    onclick="location.href='adminEXInsertForm'">
                                            </p>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox"></th>
                                                        <th>순번</th>
                                                        <th>체험상품명</th>
                                                        <th>상품설명</th>
                                                        <th>인원제한수</th>
                                                        <th>필요등급</th>
                                                        <th>시작일</th>
                                                        <th>종료일</th>
                                                        <th>현황</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr th:each="expr : ${expList}">
                                                        <td><input type="checkbox"></td>
                                                        <td th:text="${expr.no}"></td>
                                                        <td th:text="${expr.title}"></td>
                                                        <td th:text="${expr.subject}"></td>
                                                        <td th:text="${expr.lmtAplyt}"></td>
                                                        <td th:text="${expr.nessGrd}"></td>
                                                        <td th:text="${#dates.format(expr.expeStartDate,'yyyy-MM-dd')}"></td>
                                                        <td th:text="${#dates.format(expr.expeEndDate, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${expr.exstatus}"></td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-sm dropdown-toggle" type="button"
                                                                    id="dr2" data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <span class="text-muted sr-only">Action</span>
                                                                </button>
                                                                <div class="dropdown-menu dropdown-menu-right"
                                                                    aria-labelledby="dr2">
                                                                    <a class="dropdown-item"
                                                                        th:href="|adminEXUpdateForm/${expr.no}|">수정</a>
                                                                    <a class="dropdown-item"
                                                                        th:href="|adminEXDelete/${expr.no}|">삭제</a>
                                                                    <a class="dropdown-item"
                                                                        th:href="|adminEXSelect/${expr.no}|">상세보기</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="pagination">
                                                <a href="#">&laquo;</a>
                                                <a th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
                                                        th:href="|javascript:gopage(${num})|"
                                                        th:class="${paging.page}==${num} ? 'active'">[[${num}]]
                                                    </a>
                                                    <a href="#">&raquo;</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Striped rows -->
                                    <br>

<!--                                 </div> -->
                            </div>
                        </div>
                    </div>
                </main>
                <!-- main -->
            </div>
            <!-- .wrapper 

            <script src="/js/jquery.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/moment.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/simplebar.min.js"></script>
            <script src='/js/daterangepicker.js'></script>
            <script src='/js/jquery.stickOnScroll.js'></script>
            <script src="/js/tinycolor-min.js"></script>
            <script src="/js/config.js"></script>
            <script src='/js/jquery.dataTables.min.js'></script>
            <script src='/js/dataTables.bootstrap4.min.js'></script>-->

        </div>
    </body>

</html>