<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/board}">
<head>
<meta charset="UTF-8">
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Faq</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/second-template/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/style.css"
	type="text/css">

<!-- 제이쿼리 -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 테일윈드 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.4/tailwind.min.css">

<style>
.faq-box {
  border:1px solid lightgray;
  background-color:#fff;
  color:inherit;
  padding:10px;
  border-radius: 5px;
}

.faq-box__question {
  cursor:pointer;
}

.faq-box__question::after {
  content:"▼";
  float:right;
}

.faq-box > ul > li {
  padding:10px;
}

.faq-box > ul > li.hover > .faq-box__question::after {
  content:"▲";
}

.faq-box__answer {
  display:none;
  background-color:white;
  padding:10px;
}
.title {
	font-size: 30px;
}
</style>

</head>
<body>
	<div layout:fragment="content">
		<section class="section section-faq">
			<div class="container mx-auto">
				<h1 class="title">FAQ</h1>
				<br>
				<div class="faq-box">
					<ul>
						<li th:each="faq : ${faqAllList}">
							<div class="faq-box__question">
								<span>Q. [[${faq.boardTitle}]]</span>
							</div>
							<div class="faq-box__answer">
								<div>A. [[${faq.boardSubject}]]</div>
							</div>
							<hr>
						</li>
					</ul>
				</div> 
				<br>
			</div>
		</section>

<script>
function FaqBox__init() {
	  $('.faq-box > ul > li').click(function() {
	    let $this = $(this);
	    
	    $this.siblings('.hover').find(' > .faq-box__answer').stop().slideUp(300); 
	    $this.siblings('.hover').removeClass('hover');
	    
	    if ( $this.hasClass('hover') ) {
	      $this.find(' > .faq-box__answer').stop().slideUp(300); 
	      $this.removeClass('hover');
	    }
	    else {
	      $this.find(' > .faq-box__answer').stop().slideDown(300); 
	      $this.addClass('hover');
	    }
	  });
	  
	  $('.faq-box__answer').click(function() {
	    return false;
	  });
	}

	FaqBox__init();
</script>

	</div>
</body>
</html>