<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/board}">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
<title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
<!-- Simple bar CSS -->
<link rel="stylesheet" href="css/simplebar.css">
<!-- Fonts CSS -->
<link
	href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">
<!--     Icons CSS -->
<link rel="stylesheet" href="css/feather.css">
<link rel="stylesheet" href="css/dataTables.bootstrap4.css">
<!--     Date Range Picker CSS -->
<link rel="stylesheet" href="css/daterangepicker.css">
<!--     App CSS -->
<link rel="stylesheet" href="css/app-light.css" id="lightTheme">
<link rel="stylesheet" href="css/app-dark.css" id="darkTheme"
	disabled="disabled">

<style>
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #4CAF50;
	}
</style>
</head>

<body class="vertical  light  ">
	<div layout:fragment="content">
		<script>
			function gopage(page) {
				location.href = "notice?page=" + page;
				searchFrm.page.value = page;
				searchFrm.submit();
			}
		</script>

		<div class="wrapper">
			<main role="main" class="main-content" style="margin-left: auto">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-12">
							<!-- 							<div class="row"> -->

							<!--공지시항 -->

							<!-- 표 시작 Striped rows -->
							<div class="col-md-20 my-4">
								<div class="card shadow">
									<div class="card-body">
									<br>
										<h3 class="card-title" align="center">NOTICE</h3>
										<p class="card-text">
										
										<form id="searchFrm">
											<select name="type"
												style="width: 110px; float: left; margin-right: 10px; font-size: 15px;">
												<option value="A" th:selected="${paging.type == 'A'}">전체</option>
												<option value="N" th:selected="${paging.type == 'N'}">제목</option>
												<option value="S" th:selected="${paging.type == 'S'}">내용</option>
											</select> 
											<input type="text" name="keyword" th:value="${paging.keyword}" style="width: 200px; float:left;  ">
											&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-outline-success" style="margin: 8px; padding: 8, 15, 8, 15;">검색</button>
										</form>
										<div class="container"></div>
										</p>
										<table class="table table-hover">
											<thead>
												<tr>
													<th>번호</th>
													<th>제목</th>
													<th>작성일자</th>
													<th>작성자</th>
												</tr>
											</thead>
											<tbody>

												<tr th:each="n : ${noticeList}" >
													<td th:text="${n.no}"></td>
													<td><a th:href="@{/noticeSel/{no}(no=${n.no})}"> <span
															th:text="${n.boardTitle != null and
															#strings.length(n.boardTitle)> 15 ?
																#strings.substring(n.boardTitle, 0, 15) + '.....' :
																(n.boardTitle != null ? n.boardTitle : '')}"></span>
													</a></td>
													<td th:text="${#dates.format(n.boardDate,'yyyy-MM-dd')}"></td>
													<td th:text="${n.userId}"></td>
													<td></td>
												</tr>

											</tbody>
										</table>

										<div class="pagination">
											<a href="#">&laquo;</a> <a
												th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}"
												th:href="|javascript:gopage(${num})|"
												th:class="${paging.page}==${num} ? 'active'">[[${num}]]
											</a> <a href="#">&raquo;</a>
										</div>

									</div>
								</div>
							</div>
							<!-- Striped rows -->
						</div>
					</div>
				</div>
		</div>
		</main>
		<!-- main -->
	</div>
	<!-- .wrapper -->


	<script>
		var titleCell = document.getElementById("title-cell");
		if (titleCell.innerHTML.length > 15) {
			titleCell.innerHTML = titleCell.innerHTML.substr(0, 15) + "...";
		}
	</script>

</body>

</html>