<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/usual}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<!-- Css Styles -->
<link rel="stylesheet" href="/second-template/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/style.css"
	type="text/css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<style>
</style>
<body>
	<div layout:fragment="content">
		<div align="center">
			<div>
				<h3>
					<b>NOTICE</b>
				</h3>
			</div>
			<br>
			<div>
				<form id="frm" method="post">
					<div>

						<table border="1" id="table">
							<tr>
								<td width="80"><select name="key" id="key">
										<option value="all">전체</option>
										<option value="boardTitle">제목</option>
										<option value="boardSubject">내용</option>
								</select></td>
								<td width="150"><input type="text" name="val" id="val"></td>
								<td width="80"><input type="button" class="btn btn-dark"
									onclick="searchList()" value="검색"></td>
							</tr>
						</table>
					</div>
					<br>
				</form>
			</div>
			<br>
			<div>
				<table border="1" id="list-table">
					<thead>
						<tr>
							<td align="center" width="100">번호</td>
							<td align="center" width="250">제목</td>
							<td align="center" width="150">작성일자</td>
							<td align="center" width="150">작성자</td>

						</tr>
					</thead>
					<tbody id="notice-list">
						<tr th:each="n : ${noticeList}"
							onmouseover='this.style.background="#fcecae";'
							onmouseleave='this.style.background="#FFFFFF";'
							th:onclick="'location.href=\''+ @{/noticeSel/{no}(no = ${n.no})} + '\''">
							<td align="center" th:text="${n.no}"></td>
							<td align="center" th:text="${n.boardTitle}"></td>
							<td align="center"
								th:text="${#dates.format(n.boardDate,'yyyy-MM-dd')}"></td>
							<td align="center" th:text="${n.userId}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div></div>

		</div>

		<script>
			function searchList() {
		let url = 'AjaxSearchList.do';
		let key = document.getElementById("key").value;
		let val = document.getElementById("val").value;
		
		let payload = 'key=' + key + '&val=' + val;
		
		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			body: payload
		})
		.then(response => response.json())
		.then((datas) => {
			htmlConvert(datas)
		})
		.catch(error => console.log(error))
	}
			function htmlConvert(datas) { 
				document.querySelector('#notice-list').remove(); // 리스트의 <tbody> 부분 삭제
				const container = document.createElement('tbody'); // <tbody> 태그 생성
				container.id = 'notice-list'; // <tbody> id값 부여
				container.innerHTML = datas.map(data => createHTMLString(data)).join("");
				document.querySelector('#list-table').appendChild(container); // 원하는 위치에 새로 만든 container 붙이기
			}
			
			function createHTMLString(data) { // html 변환 코드 css

				let str = "<tr onmouseover='this.style.background='#fcecae';"
					str += " onmouseleave='this.style.background='#FFFFFF';" // 앞쪽 공백 주의
					str += " onclick="; // 앞쪽 공백 주의
					str += "noticeSel('" + data.userId + "')" + ">";
					
 					str += 	"<td align=center>" + data.no + "</td>";
					str += 	"<td align=center>" + data.boardTitle + "</td>";
					str += 	"<td align=center>" + data.boardDate + "</td>";
 					str += 	"<td align=center>" + data.userId + "</td>";
					
				return str;
			}
			
			
			// 상세 글 보기
			function noticeSel(no) {
				// 여기서 상세보기 호출
				document.getElementById("no").value = no; // 
				hiddenFrm.submit();
			}	
			
		</script>
	</div>
</body>
</html>