<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/board}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<!-- Css Styles -->
<!-- <link rel="stylesheet" href="/second-template/css/bootstrap.min.css" -->
<!-- 	type="text/css"> -->
<!-- <link rel="stylesheet" href="/second-template/css/font-awesome.min.css" -->
<!-- 	type="text/css"> -->
<!-- <link rel="stylesheet" href="/second-template/css/style.css" -->
<!-- 	type="text/css"> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">	 -->

</head>
<body>
	<div layout:fragment="content">
		<div align="center">
			<div>
				<h3>공지사항 상세보기</h3>
				<br>
			</div>
			<div>
				<table style="border: 1px, solid; border-color: black;" th:each="n : ${notice}">
					<tr >
						<th width="100">작성자</th>
						<td width="150" th:text="${n.userId }"></td>
						<th width="150">작성일자</th>
						<td width="150" th:text="${#dates.format(n.boardDate,'yyyy-MM-dd')}"></td>
						
					</tr>
					<tr>
						<th>제 목</th>
						<td colspan="3" th:text="${n.boardTitle}"></td>
					</tr>
					<tr>
						<th>내 용</th>
						<td width="250" height="200" colspan="3" th:text="${n.boardSubject}">
							</td>
					</tr>
				</table>
			</div>
			<br>

		</div>
	</div>
 
</body>
</html>