<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/store}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div align="center">
			<div>
				<h1>공지사항 등록</h1>
			</div>
			<div align="center">
				<form id="frm" action="noticeInsert" method="post" >
<!-- 				<form id="frm" action="noticeInsert" method="post" enctype="multipart/form-data"> -->
					<div>
						<table border="1">
							<tr>
								<th width="100">작성자</th>
								<td width="200">
									<!-- 데이터가 들어가는 부분 --> <!-- 공지는 로그인 한 사람만 쓸 수 있게 자동으로 id 뿌려줌 -->
									<!-- MemberController.java에서 로그인 처리 할 때 session에 "name"으로 로그인 유저 정보 담아둔거 가져오기 -->
									<input type="text" id="userId" name="userId">
								</td>
								<th width="150">작성일자</th>
								<td width="200"><input type="date" id="boardDate"
									name="boardDate" required="required"></td>
							</tr>
							<tr>
								<th>제 목</th>
								<td colspan="3"><input type="text" size="77"
									id="boardTitle" name="boardTitle" required="required">
								</td>
							</tr>
							<tr>
								<th>내 용</th>
								<td colspan="3"><textarea rows="10" cols="79"
										id="boardSubject" name="boardSubject"></textarea></td>
							</tr>
<!-- 							<tr> -->
<!-- 								<th>첨부파일</th> -->
<!-- 								<td colspan="3"><input type="file" id="file" name="file"> -->
<!-- 								</td> -->
<!-- 							</tr> -->
						</table>
					</div>
					<br>
					<div>
						<input type="submit" value="등록">&nbsp;&nbsp; <input
							type="reset" value="취소">
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>