<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/store}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>groupDetail</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/second-template/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/style.css"
	type="text/css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/assets/css/bootstrap.min_grp.css">
<link rel="stylesheet" href="/assets/css/style_grp.css">

<!-- <!-- 구매하기 모달 -->
<!-- <link href="/modal-template/css/style.css" rel="stylesheet"> -->

</head>
<style>
textarea {
	width: 100%;
	height: 6.25em;
	border: none;
	resize: none;
}
</style>

<body>

	<div layout:fragment="content">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product__details__pic">
						<div class="product__details__pic__item">
							<img class="product__details__pic__item--large"
								th:src="${pchDetail[0].thumbnailImgPath}">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product__details__text">
						<h3>[[ ${pchDetail[0].name} ]]</h3>
						
						<p th:if="${pchDetail[0].grpStartDate == '0'}" style="color: red;"></p>
						<p th:unless="${pchDetail[0].grpStartDate == '0'}"
							style="color: red;">[[${#dates.format(pchDetail[0].grpStartDate,'MM월
							dd일')}]] 에 시작해요!</p>
							
						<div class="product__details__price">
							<span id="price"
								th:text="${#numbers.formatInteger(pchDetail[0].price, 3, 'COMMA')}"></span>원
						</div>
						<ul>
							<li><b>주문자 수</b> <span>[[${pchDetail[0].ordCnt}]]명</span></li>
							<li><b>주문 가능수량</b> <span id="pchOrdCnt">총
									[[${pchDetail[0].pchOrdCnt}]]개</span></li>
							<li><b>진행 기간</b> <span>[[${#dates.format(pchDetail[0].grpStartDate,
									'MM-dd')}]]([[${#dates.dayOfWeekName(pchDetail[0].grpStartDate)}]])
									~ [[${#dates.format(pchDetail[0].grpEndDate,
									'MM-dd')}]]([[${#dates.dayOfWeekName(pchDetail[0].grpEndDate)}]])</span></li>
						</ul>

						<form class="purchaseBtn" action="/pch/pchOrderFrm/" >

							<!-- 수량 입력칸 -->
							<input type="number" name="totalGd" id="totalGd" size="2" min="1"
								maxlength="12" value="1" title="" class="input-text qty"
								onclick="totalCal()">

							<!-- 수량 입력시 합계 -->
							<input type="text" id="totalSum" size="2" min="1" maxlength="12"
								value="1" title="" onclick="totalCal()" class="input-text qty"
								th:value="${#numbers.formatInteger(pchDetail[0].price, 3, 'COMMA') + '원'}">
							<input type="hidden" id="no" name="no"
								th:value="${pchDetail[0].no}"> <input type="hidden"
								name="listNo" th:value="${pchDetail[0].ListNo}">
							<input type="hidden" id="totalGd" name="totalGd" value="3"><br>
							<button type="button" class="primary-btn" onclick="PchBtn()" id="btn"
								name="btn" >구매하기</button>
								<input type="hidden" th:value="${pchDetail[0].pchOrdCnt}" id="pchOrdCntTotal">

						</form>

					</div>
				</div>
				<div class="col-lg-12">
					<div class="product__details__tab">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#detail" role="tab" aria-selected="true">상세설명</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#review" role="tab" aria-selected="false">문의하기</a></li>
						</ul>

						<!--                   탭 내용들 -->
						<div class="tab-content" align="center">
							<!--                      상세 탭 시작 -->
							<div class="tab-pane active" id="detail" role="tabpanel">
								<div class="product__details__tab__desc">
									<h6>상세설명</h6>
									<th:block th:each="img : ${detailImg}">
										<img th:src="${img.atchPath}">
									</th:block>
								</div>
							</div>
							<!--                      상세 탭 끝 후기 탭 시작 -->
							<div class="tab-pane" id="review" role="tabpanel">

								<div class="product__details__tab__desc">
									<div class="review_item">
										<div class="media">
											<textarea style="resize: both;" id="about" name="about"
												rows="3" class="form-control"></textarea>
											<div class="textarea"></div>
										</div>
										<br>
										<!--                      후기 탭 끝 -->


										<div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
											<button type="button" class="primary-btn">전송하기</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 주문수량에 맞게 가격변동 -->
		<script type="text/javascript">
			function totalCal() {
				let totalGd = document.getElementById("totalGd").value;
				let price = document.getElementById("price").innerText;
				let total = (parseInt(totalGd) * parseInt(price
						.replace(",", "")))
						+ '원' //콤마제거
				total = total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); //콤마생성
				document.getElementById('totalSum').value = total
				let cal = document.getElementById('totalSum').value;
				console.log(totalSum);
				console.log(totalGd);
			}

		// 공동구매 신청인원이 다차면 버튼비활성화
			function PchBtn() {
				let no = $('#no').val();
				let pchOrdCntTotal = $('#pchOrdCntTotal').val()
				let totalGd = document.getElementById("totalGd").value;
				console.log(pchOrdCnt + "신청인원");
				console.dir($("#btn"));

				if ( pchOrdCntTotal == 0 ) {
					alert("신청인원이 마감되었습니다");
				} else {
					location.href = "/pch/pchOrderFrm/" +totalGd + "/" + no
				}
			}
		</script>


		<!-- Js Plugins -->
		<script src="/second-template/js/bootstrap.min.js"></script>
		<script src="/second-template/js/jquery-ui.min.js"></script>
	</div>
</body>
</html>