<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/store}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
<title>groupPurchaseInput</title>
<style>
.checkbox_group {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
</style>
<!-- Simple bar CSS -->
<link rel="stylesheet" href="/assets/css/simplebar.css">
<!-- Fonts CSS -->
<link
	href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">

<!-- Icons CSS -->
<link rel="stylesheet" href="/assets/css/feather.css">

</head>
<body>
	<div layout:fragment="content">
		<script type="text/javascript"
			src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
		<script
			src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

		<div align="center">
			<h4>주문완료전 정보입력</h4>
			<hr>
			<div>
				<form id="frm" action="/pch/purchase.do" method="post">
					<table border="1">
						<tr>
							<td><input type="hidden" id="no" name="no"
								th:value="${purOne[0].no}"></td>
						</tr>
						<tr>
							<th>상품명</th>
							<td><input type="text" id="name" name="name"
								th:value="${purOne[0].name}" required></td>
						</tr>
						<tr>
							<th>상품가격</th>
							<td><input type="text" id="price" name="userId"
								th:value="${#numbers.formatInteger(purOne[0].price, 3, 'COMMA') + '원'}" required></td>
						</tr>
						<tr>
							<th>아이디</th>
							<td><input type="text" id="userId" name="userId"
								th:value="${session.userId}" required></td>
						</tr>
						<tr>
							<th>배송지</th>
							<td><input type="text" id="zipcode" name="zipcode"
								th:value="${userInfo.zipcode}"></td>
						</tr>
						<tr>
							<th>&nbsp;&nbsp;</th>
							<td><input type="hidden" id="zipcode"> <input
								type="button" onclick="sample6_execDaumPostcode()"
								value="우편번호 찾기"></td>
						</tr>
						<tr class="col-span-2">
							<th>&nbsp;&nbsp;</th>
							<td><input type="text" id="deliveryAddr" name="deliveryAddr"
								th:value="${userInfo.addr}" required="required"></td>
						</tr>
						<tr class="col-span-2">
							<td><input type="hidden" id="sample6_extraAddress"
								required="required"></td>
						</tr>
						<tr>
							<th>연락처</th>
							<td><input type="tel" id="tel" name="tel"
								th:value="${userInfo.tel}"></td>
						</tr>
						<tr>
							<th>주문 수량</th>
							<td><input type="number" id="totalGd" name="totalGd"
								th:value="${totalGd}"></td>
						</tr>
						<tr>
							<th>총 금액</th>
							<td><input type="number" id="totalPrice" name="totalPrice"
								th:value="${totalPrice}" ></td>
						</tr>
						<tr>
							<td><input type="hidden" id="listNo" name="listNo"
								th:value="${purOne[0].no}"></td>
						</tr>
					</table>
					<br> <input type="button" class="check_module" id="card"
						value="구매하기">

				</form>
			</div>
			<script th:inline="javascript">
				$(".check_module").click(function() {
					let no = $('#no').val(); //공구자 번호
					let userId = $('#userId').val(); // 공구자 아이디
					let deliveryAddr = $('#deliveryAddr').val(); // 공구자 배송지
					let tel = $('#tel').val(); // 공구자 전화번호
					let zipcode = $('#zipcode').val(); // 공구자 우편번호									
					let totalGd = $('#totalGd').val(); // 공구자 구매수량
					let totalPrice = $('#totalPrice').val(); // 공구자 총 결제금액
					let listNo = $('#listNo').val(); // 공구자 주문번호 

					var IMP = window.IMP; 
					IMP.init('imp51560224'); // 가맹점 식별코드 
					IMP.request_pay( // 결제창을 띄움
					{
						pg : 'html5_inicis', //이니시스(웹표준결제)
						pay_method : 'card',
						merchant_uid : 'merchant_' + new Date().getTime(),
						name : userId, // 결제자 아이디
						amount : 100,// 총 결제금액 / 가격 우선조정
						buyer_name : userId,
						buyer_tel : tel,
						m_redirect_url : "/pch/pchOrderList/"+no
					/*  
					    모바일 결제시,
					    결제가 끝나고 랜딩되는 URL을 지정 
					    (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐) 
					 */
					}, function(rsp) {
						console.log(rsp);
						if (rsp.success) {
							var msg = '결제가 완료되었습니다.';
							msg += '고유ID : ' + rsp.imp_uid;
							msg += '상점 거래ID : ' + rsp.merchant_uid;
							msg += '결제 금액 : ' + rsp.paid_amount;
							msg += '카드 승인번호 : ' + rsp.apply_num;

							// 컨트롤러에 데이터를 전달하여 DB에 입력하는 로직
							// 결제내역을 사용자에게 보여주기 위해 필요함.
							$.ajax({
								url : "/pch/purchase.do",
								type : "POST",
								data : JSON.stringify({
									"no" : no,
									"userId" : userId,
									"deliveryAddr" : deliveryAddr,
									"tel" : tel,
									"totalGd" : totalGd,
									"totalPrice" : totalPrice,
									"listNo" : listNo,
									"zipcode" : zipcode
								}),
								contentType : 'application/json',
								success : function(result) {
									if (result == "ok") {
										alert(msg);
										location.href = "/pch/pchOrderList/"+no
									} else {
										alert("디비입력실패");
										return false;
									}
								},
								error : function(a, b, c) {
								}
							});
						} else {
							var msg = '결제에 실패하였습니다.';
							msg += '에러내용 : ' + rsp.error_msg;
							alert(msg);
						}
					});
				});

				// 우편번호 api 시작				
				function sample6_execDaumPostcode() {
					new daum.Postcode(
							{
								oncomplete : function(data) {
									// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

									// 각 주소의 노출 규칙에 따라 주소를 조합한다.
									// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
									var addr = ''; // 주소 변수
									var extraAddr = ''; // 참고항목 변수

									//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
									if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
										addr = data.roadAddress;
									} else { // 사용자가 지번 주소를 선택했을 경우(J)
										addr = data.jibunAddress;
									}

									// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
									if (data.userSelectedType === 'R') {
										// 법정동명이 있을 경우 추가한다. (법정리는 제외)
										// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
										if (data.bname !== ''
												&& /[동|로|가]$/g.test(data.bname)) {
											extraAddr += data.bname;
										}
										// 건물명이 있고, 공동주택일 경우 추가한다.
										if (data.buildingName !== ''
												&& data.apartment === 'Y') {
											extraAddr += (extraAddr !== '' ? ', '
													+ data.buildingName
													: data.buildingName);
										}
										// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
										if (extraAddr !== '') {
											extraAddr = ' (' + extraAddr + ')';
										}
										// 조합된 참고항목을 해당 필드에 넣는다.
										document
												.getElementById("sample6_extraAddress").value = extraAddr;

									} else {
										document
												.getElementById("sample6_extraAddress").value = '';
									}

									var fullAddr =
									document.getElementById('zipcode').value = data.zonecode;
									document.getElementById('deliveryAddr').value = addr;

									// 커서를 상세주소 필드로 이동한다.
									document.getElementById(
											"sample6_detailAddress").focus();
								}

							}).open();

				}
			</script>



		</div>
	</div>

	<script type="text/javascript">
	
		function totalCal() {
			let totalGd = document.getElementById("totalGd").value;
			let price = document.getElementById("price").innerText;
			let total = (parseInt(totalGd) * parseInt(price.replace(",", ""))) +'원' //콤마제거
			total= total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); //콤마생성
			document.getElementById('totalSum').value = total
			let cal = document.getElementById('totalSum').value;
			console.log(totalSum);
			console.log(totalGd);
		}
		
	</script>
	
	

	<!-- Scripts -->
	<script src="/assets/js/tippy.all.min.js"></script>
	<script src="/assets/js/uikit.js"></script>
	<script src="/assets/js/simplebar.js"></script>
	<script src="/assets/js/custom.js"></script>
	<!-- 		<script src="/assets/js/bootstrap-select.min.js"></script> -->


	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/skrollr.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="/assets/js/mail-script.js"></script>
	<script src="/assets/js/main.js"></script>
	<!-- 		<script src="/second-template/js/bootstrap.min.js"></script> -->
	<script src="/second-template/js/jquery-ui.min.js"></script>
	</div>
</body>
</html>