<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>groupPurchase</title>
<link rel="icon" href="favicon.ico">
<link rel="stylesheet" href="assets/css/nouislider.min.css">
<link rel="stylesheet" href="assets/css/style_grp.css">
<link rel="stylesheet" href="assets/css/style_grpD.css">
<link rel="stylesheet" href="assets/css/common.css">
<link rel="stylesheet" href="assets/css/bootstrap.min_grp.css">
<link rel="stylesheet" href="assets/css/all.min.css">
<link rel="stylesheet" href="assets//themify-icons/themify-icons.css">
<link rel="stylesheet" href="assets/css/nice-select/nice-select.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min_grp.css">
<link rel="stylesheet"
	href="assets/css/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet"
	href="assets/css/owl-carousel/owl.carousel.min.css">

</head>
<body>
	<div layout:fragment="content" align="center">
	
					<div class="col-lg-4">
					<div class="order_box">
						<h2>Your Order</h2>
						<ul class="list">
							<li><a href="#"><h4>
										Product <span>Total</span>
									</h4></a></li>
							<li><a href="#">Fresh Blackberry <span class="middle">x
										02</span> <span class="last">$720.00</span></a></li>
							<li><a href="#">Fresh Tomatoes <span class="middle">x
										02</span> <span class="last">$720.00</span></a></li>
							<li><a href="#">Fresh Brocoli <span class="middle">x
										02</span> <span class="last">$720.00</span></a></li>
						</ul>
						<ul class="list list_2">
							<li><a href="#">Subtotal <span>$2160.00</span></a></li>
							<li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li>
							<li><a href="#">Total <span>$2210.00</span></a></li>
						</ul>
						<div class="payment_item">
							<div class="radion_btn">
								<input type="radio" id="f-option5" name="selector"> <label
									for="f-option5">Check payments</label>
								<div class="check"></div>
							</div>
							<p>Please send a check to Store Name, Store Street, Store
								Town, Store State / County, Store Postcode.</p>
						</div>
						<div class="payment_item active">
							<div class="radion_btn">
								<input type="radio" id="f-option6" name="selector"> <label
									for="f-option6">Paypal </label> <img src="img/product/card.jpg"
									alt="">
								<div class="check"></div>
							</div>
							<p>Pay via PayPal; you can pay with your credit card if you
								don’t have a PayPal account.</p>
						</div>
						<div class="creat_account">
							<input type="checkbox" id="f-option4" name="selector"> <label
								for="f-option4">I’ve read and accept the </label> <a href="#">terms
								& conditions*</a>
						</div>
						<div class="text-center">
							<a class="button button-paypal" href="#">Proceed to Paypal</a>
						</div>
					</div>
				</div>
	
	
	
	
	
	
	
	
	<!-- Scripts -->
	<script src="assets/js/tippy.all.min.js"></script>
	<!-- 	<script src="assets/js/jquery-3.3.1.min.js"></script> -->
	<script src="assets/js/uikit.js"></script>
	<script src="assets/js/simplebar.min.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/bootstrap-select.min.js"></script>

	<!-- 	<script src="assets/js/jquery/jquery-3.2.1.min.js"></script> -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/skrollr.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<script src="assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="assets/js/mail-script.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/css/nouislider.min.css"></script>
	<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
	</div>
</body>
</html>