<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
<title>groupPurchaseInput</title>
<style>
.checkbox_group {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
</style>
<!-- Simple bar CSS -->
<link rel="stylesheet" href="/assets/css/simplebar.css">
<!-- Fonts CSS -->
<link
	href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">

<!-- Icons CSS -->
<link rel="stylesheet" href="/assets/css/feather.css">
<!-- <!-- Date Range Picker CSS -->
<!-- <link rel="stylesheet" href="/assets/css/daterangepicker.css"> -->
<!-- <!-- App CSS -->
<!-- <link rel="stylesheet" href="/assets/css/app-light.css" id="lightTheme"> -->
<!-- <link rel="stylesheet" href="/assets/css/app-dark.css" id="darkTheme" disabled> -->
</head>
<body>
	<div layout:fragment="content">
		<script type="text/javascript"
			src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
		<div align="center">
			<h4>주문완료전 정보입력</h4>
			<hr>

			<div>
				<form id="frm" action="/purchase" method="post">
					<table border="1">
						<tr>
							<th>상품명</th>
							<td><input type="text" id="name" name="name"
								th:value="${purOne[0].name}" required> <!-- <button type="button" id="btn" onclick="idCk()" value="no">중복체크</button> -->
							</td>
						</tr>
						<tr>
							<th>상품가격</th>
							<td><input type="text" id="price" name="userId"
								th:value="${purOne[0].price}" required> <!-- <button type="button" id="btn" onclick="idCk()" value="no">중복체크</button> -->
							</td>
						</tr>
						<tr>
							<th>아이디</th>
							<td><input type="text" id="userId" name="userId"
								th:value="${userInfo.userId}" required> <!-- <button type="button" id="btn" onclick="idCk()" value="no">중복체크</button> -->
							</td>
						</tr>
						<tr>
							<th>배송지</th>
							<td><input type="text" id="deliveryAddr" name="deliveryAddr"
								th:value="${purOne[0].deliveryAddr}"></td>
						</tr>
						<tr>
							<th>우편번호</th>
							<td><input type="text" id="zipcode" name="zipcode"
								th:value="${purOne[0].zipcode}"></td>
						</tr>
						<tr>
							<th>연락처</th>
							<td><input type="tel" id="tel" name="tel"
								th:value="${purOne[0].tel}"></td>
						</tr>
						<tr>
							<th>주문 수량</th>
							<td><input type="number" id="totalGd" name="totalGd"
								th:value="${param.totalGd}"></td>
						</tr>
						<tr>
							<th>총 금액</th>
							<td><input type="number" id="totalPrice" name="totalPrice"
								th:value="${totalPrice}"></td>
						</tr>
					</table>

					<!-- 공동구매 약관 체크박스 -->
					<div class="checkbox_group">
						<fieldset data-role="controlgroup">
							<input type="checkbox" id="check_all"> <label
								for="check_all">전체 동의</label> <input type="checkbox"
								id="check_1" class="normal"> <label for="check_1">개인정보
								처리방침 동의</label> <input type="checkbox" id="check_2" class="normal">
							<label for="check_2">서비스 이용약관 동의</label> <input type="checkbox"
								id="check_3" class="normal"> <label for="check_3">마케팅
								수신 동의</label>
						</fieldset>

					</div>

					<!-- 							<th>결제수단</th> -->
					<!-- 							<td><input type="radio" id="card" name="paymentMthd" -->
					<!-- 								value="카드" onchange="showDiv('C')" checked="checked">카드 -->
					<!-- <!-- 								<input type="radio" id="cash" name="paymentMthd" -->
					<!-- <!-- 								value="현금" onchange="showDiv('U')">현금</td> -->
					<!-- 						</tr> -->


					<!-- 					<div id="card" style="display: block;" class="check_module"> -->
					<!-- 					</div> -->


					<!-- 					<div id="cash" style="display: none;"> -->
					<!-- 						<p>국민은행 123-5649-12345 로 입금해주세요.</p> -->
					<!-- 					</div> -->

					<input type="button" class="check_module" id="card" value="구매하기">

				</form>
			</div>
			<script th:inline="javascript">
				$(".check_module").click(function() {
					let userId = $('#userId').val(); // 공구자 아이디
					let deliveryAddr = $('#deliveryAddr').val(); // 공구자 배송지
					let tel = $('#tel').val(); // 공구자 전화번호
					//let paymentMthd = $('#paymentMthd').val(); 		// 공구자 결제수단
					//let zipcode = $('#zipcode').val(); 			// 공구자 우편번호									
					let totalGd = $('#totalGd').val(); // 공구자 구매수량
					let totalPrice = $('#totalPrice').val(); // 공구자 총결제금액
					//let listNo = $('#listNo').val();				// 공구자 주문번호 

					var IMP = window.IMP; // 생략가능
					IMP.init('imp51560224');
					// 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
					// i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
					IMP.request_pay( // 결제창을 띄움
					{
						pg : 'html5_inicis', //:카카오페이, 
						/*  'inicis', // version 1.1.0부터 지원.
						    html5_inicis':이니시스(웹표준결제)
						        'nice':나이스페이
						        'jtnet':제이티넷
						        'uplus':LG유플러스
						        'danal':다날
						        'payco':페이코
						        'syrup':시럽페이
						        'paypal':페이팔
						 */
						pay_method : 'card',
						/* 
						    'samsung':삼성페이, 
						    'card':신용카드, 
						    'trans':실시간계좌이체,
						    'vbank':가상계좌,
						    'phone':휴대폰소액결제 
						 */
						merchant_uid : 'merchant_' + new Date().getTime(),
						/* 
						    merchant_uid에 경우 
						    https://docs.iamport.kr/implementation/payment
						    위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
						    참고하세요. 
						    나중에 포스팅 해볼게요.
						 */
						name : userId, //결제창에서 보여질 이름
						amount : 100,//totalPrice, //가격 
						buyer_name : userId,
						buyer_tel : tel,
						m_redirect_url : 'http://localhost/purchaseForm'
					/*  
					    모바일 결제시,
					    결제가 끝나고 랜딩되는 URL을 지정 
					    (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐) 
					 */
					}, function(rsp) {
						console.log(rsp);
						if (rsp.success) {
							var msg = '결제가 완료되었습니다.';
							msg += '고유ID : ' + rsp.imp_uid;
							msg += '상점 거래ID : ' + rsp.merchant_uid;
							msg += '결제 금액 : ' + rsp.paid_amount;
							msg += '카드 승인번호 : ' + rsp.apply_num;

							// 컨트롤러에 데이터를 전달하여 DB에 입력하는 로직
							// 결제내역을 사용자에게 보여주기 위해 필요함.
							$.ajax({
								url : "/purchase",
								type : "POST",
								data : JSON.stringify({
									"userId" : userId,
									//"deliveryAddr": deliveryAddr,
									//"paymentMthd" : paymentMthd,
									"deliveryAddr" : deliveryAddr,
									"tel" : tel,
									"totalGd" : totalGd,
									"totalPrice" : totalPrice,
								//"listNo" : listNo,	
								//"zipcode" : zipcode
								//                         payState: rsp.status,
								}),
								contentType : 'application/json',
								success : function(result) {
									if (result == "ok") { // ㅇ오잉.ㅇ.ㅇ....
										alert(msg);
										location.href = "/orderList"
									} else {
										alert("디비입력실패");
										return false;
									}
								},
								error : function(a, b, c) {
								}
							}); //아작스 끝
						} else {
							var msg = '결제에 실패하였습니다.';
							msg += '에러내용 : ' + rsp.error_msg;
							alert(msg);
						}
					});
				});

				// 				function showDiv(option) {
				// 					if (option == 'C') {
				// 						document.getElementById('card').setAttribute('style',
				// 								'display:block')
				// 						document.getElementById('cash').setAttribute('style',
				// 								'display:none')
				// 					} else if (option == 'U') {
				// 						document.getElementById('card').setAttribute('style',
				// 								'display:none')
				// 						document.getElementById('cash').setAttribute('style',
				// 								'display:block')
				// 					}
				// 				}

				// 공동구매 구매약관 체크박스 전체 선택
				$(".checkbox_group").on(
						"click",
						"#check_all",
						function() {
							$(this).parents(".checkbox_group").find('input')
									.prop("checked", $(this).is(":checked"));
						});

				// 공동구매 구매약관 체크박스 개별 선택
				$(".checkbox_group").on("click", ".normal", function() {
					var is_checked = true;

					$(".checkbox_group .normal").each(function() {
						is_checked = is_checked && $(this).is(":checked");
					});

					$("#check_all").prop("checked", is_checked);
				});
			</script>

		</div>
	</div>



	<!-- Scripts -->
	<script src="/assets/js/tippy.all.min.js"></script>
	<script src="/assets/js/uikit.js"></script>
	<script src="/assets/js/simplebar.js"></script>
	<script src="/assets/js/custom.js"></script>
	<!-- 		<script src="/assets/js/bootstrap-select.min.js"></script> -->


	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/skrollr.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="/assets/js/mail-script.js"></script>
	<script src="/assets/js/main.js"></script>
	<!-- 		<script src="/second-template/js/bootstrap.min.js"></script> -->
	<script src="/second-template/js/jquery-ui.min.js"></script>
	</div>
</body>
</html>