<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{myPageLayout}">
<head>
<meta charset="UTF-8">
<title>MyLikeList</title>

</head>
<body>
	<div layout:fragment="content">

		<h1
			class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">식단</h1>
		<div
			class="my-3 grid lg:grid-cols-4 grid-cols-2 gap-3 hover:text-yellow-700 uk-link-reset">
			<!-- 한 블럭 시작 -->
			<!-- 식단 리스트 출력 -->
			<div th:each="myLike : ${myPageLike}">
				<!-- 꽉찬 하트 -->
				<div class="likeOne" th:data-postno="${myLike.POST_NO}">
					<div
						class="lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
						<div href="#storyModal" uk-toggle>
							<img th:src="${myLike.FILE_DIR}"
								class="w-full h-full absolute object-cover inset-0 scale-150 transform">
						</div>
						<div
							class="flex flex-1 items-center absolute bottom-0 w-full p-3 text-white">
							<div class="flex space-x-2 flex-1 lg:flex-initial justify-around">
								<a href="#" class="heart-click heart_icon fullHeart"
									th:data-no="${myLike.NO}"> <svg
										xmlns="http://www.w3.org/2000/svg" width="30" height="30"
										fill="currentColor" class="bi bi-suit-heart-fill"
										viewBox="0 0 16 16" style="color: red;">
                           		<path
											d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                            	</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 한 블럭 끝 -->

			<!-- 스토리 모달 시작 -->
			<div id="storyModal" class="uk-modal-container" uk-modal>
				<div class="uk-modal-dialog story-modal">
					<button
						class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white"
						type="button" uk-close></button>

					<div class="story-modal-media">
						<img src="" alt="" style="width: 820px; height: 820px;"
							class="inset-0 h-full w-full object-cover" id="postImg">
					</div>
					<div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">

						<!-- post header-->
						<div
							class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
							<div class="flex flex-1 items-center space-x-4">
								<a href="#">
									<div
										class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
										<img src=""
											class="bg-gray-200 border border-white rounded-full w-8 h-8"
											id="profileImg">
									</div>
								</a> <span class="block text-lg font-semibold" id="nickName"></span>
							</div>
							<a href="#"></a>
						</div>
						<div class="story-content p-4" data-simplebar>

							<p id="subject"></p>

							<div class="py-4 ">
								<div class="flex justify-around">
									<a href="#" class="flex items-center space-x-3"> <svg
											xmlns="http://www.w3.org/2000/svg" width="15" height="15"
											fill="currentColor" class="bi bi-suit-heart-fill"
											viewBox="0 0 16 16" style="color: red;">
                            <path
												d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                           			</svg>
										<div class="flex font-bold items-baseline">Like</div>
									</a> <a href="#" class="flex items-center space-x-3">
										<div class="flex font-bold items-baseline">
											<i class="uil-comment mr-1"> </i> Comment
										</div>
									</a>
								</div>
								<hr>
							</div>

							<div class="-mt-1 space-y-1">
								<div class="flex flex-1 items-center space-x-2">
									<img src="assets/images/avatars/avatar-2.jpg"
										class="rounded-full w-8 h-8">
									<div class="flex-1 p-2">댓글 내용1</div>
								</div>

								<div class="flex flex-1 items-center space-x-2">
									<img src="assets/images/avatars/avatar-4.jpg"
										class="rounded-full w-8 h-8">
									<div class="flex-1 p-2">댓글 내용2</div>
								</div>
							</div>
						</div>
						<div class="p-3 border-t dark:border-gray-600">
							<div
								class="bg-gray-200 dark:bg-gray-700 rounded-full rounded-md relative">
								<input type="text" placeholder="Add your Comment.."
									class="bg-transparent max-h-8 shadow-none">
								<div
									class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
									<a href="#"> <i class="uil-image"></i></a> <a href="#"> <i
										class="uil-video"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 스토리 모달 끝 -->

		<h1
			class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">챌린지</h1>
		<div
			class="my-3 grid lg:grid-cols-4 grid-cols-2 gap-3 hover:text-yellow-700 uk-link-reset">
			<!-- 챌린지 리스트 출력 -->
			<div th:each="myChallLike : ${challLike}">
				<div th:data-no="${myChallLike.NO}"
					th:onclick="'location.href=\''+ @{/challenge/{no}(no = ${myChallLike.POST_NO})} + '\''">
					<div
						class="lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
						<div href="" uk-toggle>
							<img th:src="${myChallLike.THUMBNAIL_IMG_PATH}"
								class="w-full h-full absolute object-cover inset-0 scale-150 transform">
						</div>
						<div
							class="flex flex-1 items-center absolute bottom-0 w-full p-3 text-white">
							<div class="flex space-x-2 flex-1 lg:flex-initial justify-around">
								<a href="#" class="heart-click heart_icon fullHeart"
									th:data-no="${myChallLike.NO}"> <svg
										xmlns="http://www.w3.org/2000/svg" width="30" height="30"
										fill="currentColor" class="bi bi-suit-heart-fill"
										viewBox="0 0 16 16" style="color: red;">
                           		<path
											d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                            	</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>
			$(function() {
				$(".likeOne").on("click", function(){
					let postNo = $(this).data("postno");
					
					$.ajax({
						url: "/myLikeList/" + postNo
					})
					.then(result => {
						console.log(result);
						$("#postImg").attr("src", result.FILE_DIR)
						$("#profileImg").attr("src", result.PROFILE_IMG)
						$("#nickName").text(result.NICK_NAME)
						$("#subject").text(result.SUBJECT)
					});
					
				});
				

				
					
				$(".fullHeart").on("click", function(){
						let no = $(this).data("no");
						event.stopPropagation() // 이벤트 전파중지(현재 이벤트가 상위로 전파되지 않도록 한다)
						
						$.ajax({
							type: 'POST',
							url: "/myLikeDel/" + no
						})
						.then(obj => {
							console.log("========================결과" + obj);
							location.reload();
						});
				});
			});
			
		</script>
	</div>
</body>
</html>