<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{myPageLayout}">
<head>
<meta charset="UTF-8">
<title>MyLikeList</title>


</head>
<body>
	<div layout:fragment="content">
		<h1
			class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">좋아용</h1>
		<div
			class="my-3 grid lg:grid-cols-4 grid-cols-2 gap-3 hover:text-yellow-700 uk-link-reset">
			<!-- 한 블럭 시작 -->
			<div href="#storyModal" uk-toggle th:each="myLike : ${myPageLike}">
				<form method="post">

					<div
						class="lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
						<img th:src="${myLike.FILE_DIR}"
							class="w-full h-full absolute object-cover inset-0 scale-150 transform">

						<div
							class="flex flex-1 items-center absolute bottom-0 w-full p-3 text-white custom-overly1 uk-transition-slide-bottom-medium">
							<div class="flex space-x-2 flex-1 lg:flex-initial justify-around">
								<a href="#"> <svg xmlns="http://www.w3.org/2000/svg"
										width="16" height="16" fill="currentColor"
										class="bi bi-suit-heart" viewBox="0 0 16 16">
                                  	<path
											d="M8 6.236l-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                </svg>
								</a> 150</a> <a href="#"> <i class="uil-heart"></i> 30
								</a>
							</div>
						</div>
					</div>

					<!-- 한 블럭 끝 -->

					<!-- 스토리 모달 시작 -->
					<div id="storyModal" class="uk-modal-container" uk-modal>
						<div class="uk-modal-dialog story-modal">
							<button
								class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white"
								type="button" uk-close></button>

							<div class="story-modal-media">
								<img src="" alt="" style="width: 820px; height: 820px;"
									class="inset-0 h-full w-full object-cover">
							</div>
							<div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">

								<!-- post header-->
								<div
									class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
									<div class="flex flex-1 items-center space-x-4">
										<a href="#">
											<div
												class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
												<img src="assets/images/avatars/avatar-2.jpg"
													class="bg-gray-200 border border-white rounded-full w-8 h-8">
											</div>
										</a> <span class="block text-lg font-semibold"> Johnson
											smith </span>
									</div>
									<a href="#"> <i
										class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
									</a>
								</div>
								<div class="story-content p-4" data-simplebar>

									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing
										elit, sed diam nonummy nibh euismod tincidunt ut laoreet
										dolore magna aliquam erat volutpat.</p>

									<div class="py-4 ">
										<div class="flex justify-around">
											<a href="#" class="flex items-center space-x-3">
												<div class="flex font-bold items-baseline">
													<i class="uil-heart mr-1"> </i> Like
												</div>
											</a> <a href="#" class="flex items-center space-x-3">
												<div class="flex font-bold items-baseline">
													<i class="uil-heart mr-1"> </i> Comment
												</div>
											</a> <a href="#" class="flex items-center space-x-3">
												<div class="flex font-bold items-baseline">
													<i class="uil-heart mr-1"> </i> Share
												</div>
											</a>
										</div>
										<hr class="-mx-4 my-3">
										<div class="flex items-center space-x-3">
											<div class="flex items-center">
												<img src="assets/images/avatars/avatar-1.jpg" alt=""
													class="w-6 h-6 rounded-full border-2 border-white"> <img
													src="assets/images/avatars/avatar-4.jpg" alt=""
													class="w-6 h-6 rounded-full border-2 border-white -ml-2">
												<img src="assets/images/avatars/avatar-2.jpg" alt=""
													class="w-6 h-6 rounded-full border-2 border-white -ml-2">
											</div>
											<div>
												Liked <strong> Johnson</strong> and <strong> 209
													Others </strong>
											</div>
										</div>
									</div>

									<div class="-mt-1 space-y-1">
										<div class="flex flex-1 items-center space-x-2">
											<img src="assets/images/avatars/avatar-2.jpg"
												class="rounded-full w-8 h-8">
											<div class="flex-1 p-2">consectetuer adipiscing elit,
												sed diam nonummy nibh euismod</div>
										</div>

										<div class="flex flex-1 items-center space-x-2">
											<img src="assets/images/avatars/avatar-4.jpg"
												class="rounded-full w-8 h-8">
											<div class="flex-1 p-2">consectetuer adipiscing elit</div>
										</div>

									</div>


								</div>
								<div class="p-3 border-t dark:border-gray-600">
									<div
										class="bg-gray-200 dark:bg-gray-700 rounded-full rounded-md relative">
										<input type="text" placeholder="Add your Comment.."
											class="bg-transparent max-h-8 shadow-none">
										<div
											class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
											<a href="#"> <i class="uil-image"></i></a> <a href="#"> <i
												class="uil-video"></i></a>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
			</div>
			<!-- 스토리 모달 끝 -->
		</div>
	</div>
</body>
</html>