<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/myPage}">
<head>
<!-- Favicon -->
<link href="assets/images/favicon.png" rel="icon" type="image/png">

<!-- Basic Page Needs
    ================================================== -->
<title>Purchase</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Instello - Sharing Photos platform HTML Template">

<!-- icons
    ================================================== -->
<link rel="stylesheet" href="assets/css/icons.css">

<!-- CSS 
    ================================================== -->
<link rel="stylesheet" href="assets/css/uikit.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/tailwind-dark.css">
<style>
.one{
	border: 1px solid #ccc;
}
.img{
	width: 100px; 
	height: 130px;
}
.two{
	border: 1px solid #ccc; 
	padding-left: 20px;
	text-align: left;
}
.three{
	border: 1px solid #ccc; 
	padding-left: 20px;
	text-align: left;
}
</style>

</head>
<body>
	<!-- 마이페이지 공동구매 상세내역 -->
	<div layout:fragment="content" align="center">
		<h1>공동구매</h1>
		<br> <br>
		<form id="frm" action="/myPurchaseList" method="post">
			<div>
				<div class="col-lg-7">
					<br>
					<div class="block flex items-center py-3 px-4 space-x-3 one">
						<br>
						<div class="w-13 h-13 rounded-full relative flex-shrink-0">
							<img th:src="${myPurchase.THUMBNAIL_IMG_PATH}" alt=""  class="img">
						</div>
						&nbsp;&nbsp;
						<div class="flex-1 min-w-0 relative text-gray-500" align="left">
							<h5 class="text-black font-semibold dark:text-white">상품명 : [[${myPurchase.NAME}]]</h5>
							<span class="absolute right-0 top-1 text-xs">회사명 : [[${myPurchase.CO_NAME}]]</span>
							<p class="truncate">상품설명 : [[${myPurchase.SUBJECT}]]</p>
							<p class="text-black font-semibold dark:text-white">가격 : [[${myPurchase.PRICE}]]</p>
							<p class="truncate">수량: [[${myPurchase.TOTAL_GD}]]</p>
						</div>
					</div>
					<br> <br>
					<h4 align="left">배송정보</h4>
					<div class="two">
						<br>
						<div class="flex-1 min-w-0 relative text-gray-500">
							<p class="truncate">이름 : [[${myPurchase.USER_NAME}]]</p>
							<p class="truncate">배송지 : [[${myPurchase.DELIVERY_ADDR}]]</p>
							<p class="truncate">전화번호 : [[${myPurchase.TEL}]]</p>
						</div>
					</div>
					<br>
					<h4 align="left">결제금액</h4>
					<div class="three">
					<br>
						<div class="flex-1 min-w-0 relative text-gray-500">
							<p class="truncate">총 금액 : [[${myPurchase.TOTAL_PRICE}]]</p>
						</div>
					</div>
					<br><br>
					
					<button type="submit" class="button bg-blue-700">목록으로</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>