<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.common.mapper.BoardMapper">

	<!-- faq 전체리스트 출력 -->
	<select id="faqList"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE BOARD_CODE = 'BD02'
	</select>

	<select id="faqSelect"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE NO = #{no}
	</select>

	<!-- faq 추가 -->
	<insert id="faqInsert"
		parameterType="co.doeat.common.service.BoardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			NVL(MAX(NO)+1, 1) FROM BOARD
		</selectKey>
		INSERT INTO BOARD(
		NO,
		BOARD_TITLE,
		BOARD_SUBJECT,
		BOARD_DATE,
		BOARD_CODE,
		USER_ID
		)
		VALUES(#{no}, #{boardTitle}, #{boardSubject}, sysdate,
		'BD02',
		'ADMIN' )
	</insert>

	<!-- faq 수정 -->
	<update id="faqUpdate"
		parameterType="co.doeat.common.service.BoardVO">
		UPDATE BOARD
		SET
		BOARD_TITLE = #{boardTitle},
		BOARD_SUBJECT = #{boardSubject}
		WHERE NO = #{no}
	</update>

	<delete id="faqDelete">
		DELETE FROM BOARD WHERE NO= #{no}
	</delete>


	<!--- Notice -->

	<!-- notice 전체리스트 출력 -->
	<select id="noticeList"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE BOARD_CODE = 'BD01' 
	</select>

	<!-- notice 상세보기 -->
	<select id="noticeSelect"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE no = #{no}
	</select>

	<!-- notice 등록 -->
	<insert id="noticeInsert"
		parameterType="co.doeat.common.service.BoardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			NVL(MAX(NO)+1, 1) FROM BOARD
		</selectKey>
		INSERT INTO BOARD(
		NO,
		BOARD_TITLE,
		BOARD_SUBJECT,
		BOARD_DATE,
		BOARD_CODE,
		USER_ID
		)
		VALUES(#{no}, 
			   #{boardTitle}, 
			   #{boardSubject}, 
			   sysdate, 
			   'BD01', 
			   'ADMIN' )
	</insert>

	<!-- notice 수정 -->
	<update id="noticeUpdate">
		UPDATE BOARD
		<set>
			<if test="boardTitle != null">BOARD_TITLE = #{boardTitle},</if>
			<if test="boardSubject != null">BOARD_SUBJECT = #{boardSubject},</if>
			<if test="boardDate != null">BOARD_DATE = #{boardDate},</if>
		</set>
		WHERE no = #{no}
	</update>

	<!-- notice 삭제 -->
	<delete id="noticeDelete"
		parameterType="co.doeat.common.service.BoardVO">
		DELETE FROM BOARD WHERE NO = #{no}
	</delete>

	<!-- notice 조회수증가 -->
	<update id="noticeHitUpdate">
		UPDATE BOARD SET NOTICE_HIT = BOARD_HIT + 1 WHERE
		USER_ID = #{id}
	</update>

	<!-- notice 전체리스트 검색어 기능 -->
	<select id="noticeSearch"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		<if test="key == 'all'">WHERE 1 = 1 AND BOARD_CODE = 'BD01'</if>
		<if test="key == 'boardTitle'">WHERE BOARD_TITLE LIKE '%'||#{val}||'%'</if>
		<if test="key == 'boardSubject'">WHERE BOARD_SUBJECT LIKE '%'||#{val}||'%'</if>
	</select>

</mapper>