<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.common.mapper.BoardMapper">

	<!-- 유저 faq 리스트 출력 -->
	<select id="userFaq"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE BOARD_CODE = 'BD02'
	</select>


	<!-- 페이징 -->
	<sql id="creiteria">
		<choose>
			<when test="type == 'T'.toString()">
			AND	board_title like '%'||#{keyword}||'%'
			</when>
			<when test="type == 'S'.toString()">
			AND	board_subject like '%'||#{keyword}||'%'
			</when>
		</choose>
	</sql>

	<!-- 관리자 faq 리스트 출력 -->
	<select id="faqList"
		resultType="co.doeat.common.service.BoardVO"
		parameterType="co.doeat.community.service.UsersVO">
		SELECT *
		FROM( SELECT ROWNUM RN,
		A.*
		FROM( SELECT *
		FROM BOARD
		WHERE BOARD_CODE = 'BD02'
		<include refid="creiteria"></include>
		ORDER BY NO DESC
					<![CDATA[
	 		)A WHERE ROWNUM <= #{last}) B 
 		 WHERE RN >= #{first} 
 		 ]]>
	</select>

	<!-- 전제 수 계산 -->
	<select id="cntTotal"
		parameterType="co.doeat.community.service.UsersVO" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_CODE = 'BD02'
			<include refid="creiteria"></include>
	</select>

	<select id="faqSelect"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE NO = #{no}
	</select>

	<!-- faq 추가 -->
	<insert id="faqInsert"
		parameterType="co.doeat.common.service.BoardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			NVL(MAX(NO)+1, 1) FROM BOARD
		</selectKey>
		INSERT INTO BOARD(
		NO,
		BOARD_TITLE,
		BOARD_SUBJECT,
		BOARD_DATE,
		BOARD_CODE,
		USER_ID
		)
		VALUES(#{no}, #{boardTitle}, #{boardSubject}, sysdate,
		'BD02',
		'ADMIN' )
	</insert>

	<!-- faq 수정 -->
	<update id="faqUpdate"
		parameterType="co.doeat.common.service.BoardVO">
		UPDATE BOARD
		SET
		BOARD_TITLE = #{boardTitle},
		BOARD_SUBJECT = #{boardSubject}
		WHERE NO = #{no}
	</update>

	<delete id="faqDelete">
		DELETE FROM BOARD WHERE NO= #{no}
	</delete>


	<!--- Notice -->

	<!-- Notice 전체리스트(ADMIN) -->
	<select id="noticeList"
		resultType="co.doeat.common.service.BoardVO">
		SELECT *
		FROM( SELECT ROWNUM RN,
		A.*
		FROM( SELECT *
		FROM BOARD
		WHERE BOARD_CODE = 'BD01'
		<include refid="creite"></include>
		ORDER BY NO DESC
					<![CDATA[
	 		)A WHERE ROWNUM <= #{last}) B 
 		 WHERE RN >= #{first} 
 		 ]]>
	</select>

	<!--- Notice 전체리스트(USER) -->
	<select id="userNotice"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE BOARD_CODE = 'BD01'
	</select>

	<!-- 페이징 -->
	<sql id="creite">
		<choose>
			<when test="type == ''and keyword != null">
			AND	(board_title like '%'||#{keyword}||'%' or board_subject like '%'||#{keyword}||'%')
			</when>
			<when test="type == 'N'.toString()">
			AND	board_title like '%'||#{keyword}||'%'
			</when>
			<when test="type == 'S'.toString()">
			AND	board_subject like '%'||#{keyword}||'%'
			</when>
		</choose>
	</sql>

		<!-- 페이징 전체 수 계산 -->
	<select id="NoticeCnt"
		parameterType="co.doeat.community.service.UsersVO" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_CODE = 'BD01'
			<include refid="creite"></include>
	</select>

	<!-- notice 상세보기 -->
	<select id="noticeSelect"
		resultType="co.doeat.common.service.BoardVO">
		SELECT * FROM BOARD
		WHERE no = #{no}
	</select>

	<!-- notice 등록 -->
	<insert id="noticeInsert"
		parameterType="co.doeat.common.service.BoardVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			NVL(MAX(NO)+1, 1) FROM BOARD
		</selectKey>
		INSERT INTO BOARD(
		NO,
		BOARD_TITLE,
		BOARD_SUBJECT,
		BOARD_DATE,
		BOARD_CODE,
		USER_ID
		)
		VALUES(#{no},
		#{boardTitle},
		#{boardSubject},
		sysdate,
		'BD01',
		'ADMIN' )
	</insert>

	<!-- notice 수정 -->
	<update id="noticeUpdate">
		UPDATE BOARD
		<set>
			<if test="boardTitle != null">BOARD_TITLE = #{boardTitle},</if>
			<if test="boardSubject != null">BOARD_SUBJECT = #{boardSubject},</if>
			<if test="boardDate != null">BOARD_DATE = #{boardDate},</if>
		</set>
		WHERE no = #{no}
	</update>

	<!-- notice 삭제 -->
	<delete id="noticeDelete"
		parameterType="co.doeat.common.service.BoardVO">
		DELETE FROM BOARD WHERE NO = #{no}
	</delete>


</mapper>
