<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.management.mapper.ChallengeMapper">

	<!-- 챌린지 전체조회(최신 등록순 조회) -->
	<select id="getChallList" resultType="map">
		SELECT C.*,
            NVL((SELECT L.NO
                 FROM LIKES L
                WHERE L.POST_NO = C.NO 
                  AND L.USER_ID = #{userId} 
                  AND L.BOARD_CODE = 'CT01'),0) AS LIKE_NO
        FROM CHALLENGES C
       ORDER BY C.NO DESC
	</select>

	<!-- 챌린지 인기순 조회(좋아요 상위 7개까지) -->
	<select id="likeRankChallList" resultType="map">
		WITH LIKE_COUNT 
		AS
		(SELECT POST_NO, 
		        COUNT(*) CN
		   FROM LIKES
		  GROUP BY POST_NO
		  ORDER BY CN DESC, 
		        POST_NO)
		
		SELECT C.*, 
		       NVL(LC.CN, 0) AS CN, 
		       NVL((SELECT L.NO 
		              FROM LIKES L
		             WHERE  L.POST_NO = C.NO 
		               AND L.USER_ID = #{userId} 
		               AND L.BOARD_CODE = 'CT01'),0) AS LIKE_NO
		 FROM CHALLENGES C 
		 LEFT JOIN  LIKE_COUNT LC
		   ON C.NO = LC.POST_NO
		<![CDATA[
		WHERE rownum < 8
		]]>
	</select>

	<!-- 챌린지 단건조회 -->
	<select id="getChallenge"
		resultType="co.doeat.management.service.ChallengeVO">
		SELECT C.*, 
			   I.*, 
			   (C.PARTICIR * C.DEDUCT_POINT) AS SUM_POINT,
			   (C.CHAL_START_DATE - TRUNC(SYSDATE)) AS START_DAY,
			   NVL((SELECT L.NO 
			   		  FROM LIKES L
					 WHERE L.POST_NO = C.NO 
					   AND L.USER_ID = #{userId} 
					   AND L.BOARD_CODE = 'CT01'),0) AS LIKE_NO,
			   NVL((SELECT P.NO
					  FROM CHALLENGE_PARTICIPATION P 
					 WHERE C.NO = P.NO 
					   AND P.USER_ID = #{userId}), 0) AS ATTEND_NO
		  FROM CHALLENGES C 
		  RIGHT JOIN IMAGES I 
		    ON (C.NO = I.POST_NO)
		 WHERE I.POST_NO = #{no} 
		   AND I.BOARD_CODE='CT01'
	</select>

	<!-- 챌린지 등록 -->
	<insert id="insertChallenge">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT seq_board.NEXTVAL AS NO 
			  FROM DUAL
		</selectKey>
		INSERT INTO CHALLENGES
		VALUES(#{no}, 
			   #{title}, 
			   #{subject},
			   #{chalStartDate}, 
			   #{chalEndDate}, 
			   #{round},
			   #{particir},
			   #{sumParticir}, 
			   #{deductPoint}, 
			   #{vldStartTime}, 
			   #{vldEndTime},
			   #{vldPosbDate})
	</insert>

	<!-- 챌린지 참여 -->
	<insert id="attendChall"
		parameterType="co.doeat.management.service.ChallengeParticipationVO">
		INSERT INTO CHALLENGE_PARTICIPATION
		VALUES (#{userId}, #{no}, #{round}, null)
		<!-- <selectKey keyProperty="USER_ID" resultType="java.util.HashMap" order="AFTER"> -->
		<!-- SELECT USER_ID FROM CHALLENGE_PARTICIPATION WHERE NO = #{no} -->
		<!-- </selectKey> -->
	</insert>

	<!-- ▶ 나의 챌린지 - 참여중 -->
	<!-- 참여중 - 전체조회 -->
	<select id="getMyChallList" resultType="map">
		SELECT P.CODE_ID, 
			   C.*, 
			   U.NICK_NAME, 
			   U.GRADE, 
			   U.PROFILE_IMG_PATH
		  FROM CHALLENGE_PARTICIPATION P 
		  JOIN CHALLENGES C
		    ON (P.NO = C.NO)
		  JOIN USERS U
		    ON (P.USER_ID = U.USER_ID)
		 WHERE P.USER_ID = #{userId} 
		   AND P.CODE_ID IS NULL
	  	 ORDER BY C.CHAL_START_DATE, 
	   		  	  C.CHAL_END_DATE
	</select>

	<!-- 참여중 - 단건조회 -->
	<select id="getMyChall" resultType="map">
		SELECT U.NICK_NAME, 
			   U.TOTAL_POINT, 
			   P.USER_ID, 
			   P.NO, 
			   P.ROUND, 
			   NVL(P.CODE_ID, '0') as code_id, 
			   C.TITLE, 
			   C.CHAL_START_DATE, 
			   C.CHAL_END_DATE, 
			   C.PARTICIR, 
			   C.SUM_PARTICIR, 
			   C.DEDUCT_POINT, 
			   C.THUMBNAIL_IMG_PATH
		FROM CHALLENGE_PARTICIPATION P 
		LEFT JOIN CHALLENGES C
		  ON (P.NO = C.NO)
		LEFT JOIN USERS U
		  ON (P.USER_ID = U.USER_ID)
	   WHERE P.USER_ID = #{userId} 
	     AND P.NO = #{no}
	</select>
	
	<!-- 참여중 - 챌린지별 인증사진 전체조회 -->
	<select id="getMyChallImg" resultType="co.doeat.management.service.ChallengeValidationVO">
		SELECT *
		  FROM CHALLENGE_VALIDATION
		 WHERE CHAL_NO = #{chalNo}
		   AND USER_ID = #{userId}
		 ORDER BY NO DESC
	</select>
	
	<!-- 참여중 - 챌린지별 인증사진 단건조회 -->
	<select id="getMyChallImgOne" resultType="co.doeat.management.service.ChallengeValidationVO">
		SELECT *
		  FROM CHALLENGE_VALIDATION
		 WHERE NO = #{no}
		   AND USER_ID = #{userId}
		   AND TRUNC(VLD_DATE) = TO_DATE(#{vldDate},'YYYYMMDD')
	</select>
	
	<!-- 참여중 - 인증사진 등록 -->
	<!-- select 하니까 selectKey를 못 써.. resultType = vo로 해서 결과를 vo에 받아야 append를 하는데 ㅠ -->
<!-- 	<select id="" ></select> -->
	<insert id="insertMyChallImg">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			NVL(MAX(NO)+1, 1) FROM CHALLENGE_VALIDATION
		</selectKey>
		INSERT INTO CHALLENGE_VALIDATION
		VALUES (#{no}, #{userId}, #{chalNo}, TO_DATE(SYSDATE,'YYYY-MM-DD'), #{chalImg}, #{fileDir}, 'Y')
	</insert>
	
	
	<!-- ▶ 나의 챌린지 - 종료 -->
	<!-- 종료 - 전체조회 -->
	<select id="getMyEndChallList" resultType="map">
		SELECT p.code_id, 
			   c.*, 
			   u.nick_name, 
			   u.grade, 
			   u.profile_img_path
		  FROM CHALLENGE_PARTICIPATION P 
		  JOIN CHALLENGES C
		    ON (P.NO = C.NO)
		  JOIN USERS U
		    ON (P.USER_ID = U.USER_ID)
		 WHERE P.USER_ID = #{userId} 
		   AND P.CODE_ID IS NOT NULL
	  	 ORDER BY C.CHAL_START_DATE DESC, 
	   		  	  C.CHAL_END_DATE DESC
	</select>

	<!-- +++++++++++++++++++++++++++관리자++++++++++++++++++++++++++ -->
	<!-- 관리자 챌린지 리스트 -->
	<sql id="creiteria">
		<where>
			<if test="title != null and title != '' ">
				title = #{title}
			</if>
			<if test="chalEndDate != null and chalEndDate != '' ">
				AND chal_end_date = #{chalEndDate}
			</if>
		</where>
	</sql>

	<select id="getCountTotal"
		parameterType="co.doeat.management.service.ChallengeVO"
		resultType="int">
		SELECT COUNT(*)
		FROM CHALLENGES
		<include refid="creiteria"></include>
	</select>

	<select id="adminChalList"
		parameterType="co.doeat.management.service.ChallengeVO"
		resultType="co.doeat.management.service.ChallengeVO">
		SELECT * FROM( SELECT rownum rn, a.*
		from(

		SELECT
		no,title,deduct_point,chal_start_date,chal_end_date,
		<![CDATA[
	        CASE WHEN chal_start_date <=trunc(current_date) 
	        		AND chal_end_date <= trunc(current_date) THEN '완료'
	            WHEN TRUNC(chal_start_date) <= TRUNC(current_date) 
	            	And trunc(current_date) <= chal_end_date Then '진행중' 
	            Else '진행전' END as chstatus
 		]]>
		FROM CHALLENGES
		<include refid="creiteria"></include>
		order by no
		<![CDATA[
		 )a where rownum <= #{last}) b where rn  >= #{first}
	
		]]>
	</select>

	<!-- 관리자 챌린지 등록 -->
	<insert id="adminCHInsert"
		parameterType="co.doeat.management.service.ChallengeVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			MAX(NO)+1 FROM CHALLENGES
		</selectKey>
		INSERT INTO CHALLENGES(
		NO,
		TITLE,
		SUBJECT,
		CHAL_START_DATE,
		CHAL_END_DATE,
		ROUND,
		PARTICIR,
		SUM_PARTICIR,
		DEDUCT_POINT,
		VLD_START_TIME,
		VLD_END_TIME,
		VLD_POSB_DATE,
		THUMBNAIL_IMG,
		THUMBNAIL_IMG_PATH
		)
		VALUES(#{no},
		#{title},
		#{subject},
		#{chalStartDate},
		#{chalEndDate},
		#{round},
		#{particir},
		#{deductPoint},
		#{vldStartTime},
		#{vldEndTime},
		#{vldPosbDate},
		#{thumbnailImg},
		#{thumbnailImgPath})
	</insert>

	<!-- 챌린지 삭제 -->
	<delete id="adminCHDelete"
		parameterType="co.doeat.management.service.ChallengeVO">
		DELETE FROM CHALLENGES WHERE NO=#{no}
	</delete>

	<!-- 챌린지 맵 -->
	<resultMap type="co.doeat.management.service.ChallengeVO"
		id="chListMap">
		<id property="no" column="no" />
		<result property="no" column="no" />
		<result property="title" column="title" />
		<result property="subject" column="subject" />
		<result property="chalStartDate" column="chal_start_Date" />
		<result property="chalEndDate" column="chal_end_Date" />
		<result property="round" column="round" />
		<result property="particir" column="particir" />
		<result property="sumParticir" column="sum_particir" />
		<result property="deductPoint" column="deduct_point" />
		<result property="vldStartTime" column="vld_start_time" />
		<result property="vldEndTime" column="vld_end_time" />
		<result property="vldPosbDate" column="vld_posb_date" />
		<result property="thumbnailImgPath" column="thumbnail_Img_Path" />
		<collection property="imgPath" resultMap="imgMap"></collection>
	</resultMap>

	<!-- 챌린지 단건 이미지이름 맵 -->
	<resultMap type="co.doeat.common.service.ImageVO" id="imgMap">
		<result property="postNo" column="post_No" />
		<result property="boardCode" column="board_Code" />
		<result property="atchPath" column="atch_Path" />
	</resultMap>

	<!-- 관리자용 단건조회 (이미지다수, 글 하나) -->
	<select id="adminCHSelect" parameterType="int"
		resultMap="chListMap">
		SELECT ch.*, img.*
		FROM CHALLENGES ch
		LEFT OUTER JOIN IMAGES
		img ON ch.no = img.post_no
		WHERE ch.no = #{no} AND
		img.board_Code =
		'CT01'
	</select>

</mapper>
