<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.community.mapper.CommunityMapper">
	<!-- 검색 -->
	<sql id="search">
		<choose>
			<when test="type != null and type.equals('typeCode')">
				and m.type_code like '%'||#{keyword}||'%'
			</when>
			<when test="type != null and type.equals('nickName')">
				and u.nick_name like '%'||#{keyword}||'%'
			</when>
			<when test="type == '' and keyword != null">
				and(m.type_code like '%'||#{keyword}||'%' or u.nick_name like '%'||#{keyword}||'%')
			</when>
		</choose>
	</sql>
	
	<!-- 게시물 max 번호 -->
	<select id="getMaxFeedNo" resultType="int">
		SELECT MAX(NO) MAX_NO
		  FROM MEALS
	</select>

	<!-- 커뮤니티 전체조회 & 검색 -->
	<select id="getCmntList" resultType="map">
		SELECT *
		FROM(SELECT ROWNUM RN, A.* 
			   FROM(SELECT M.*, 
			               U.NICK_NAME, 
			               U.GRADE, 
			               U.PROFILE_IMG_PATH,
			               NVL((SELECT L.NO
			                      FROM LIKES L
			                     WHERE L.POST_NO = M.NO 
			                       AND L.USER_ID = #{userId}
			                       AND L.BOARD_CODE = 'CT04'), 0) AS LIKE_NO
	                  FROM MEALS M 
	                  LEFT JOIN USERS U
	                    ON (M.USER_ID = U.USER_ID)
				    <where>
					<if test="no > 0">
						<![CDATA[
				            M.NO < #{no}
						]]>
					</if>
						<include refid="search"></include>
					</where>
	                 ORDER BY M.NO DESC) A 
        <![CDATA[
		WHERE ROWNUM <= 10) b
		]]>
	</select>
	
	<!-- 커뮤니티 인기순 조회(좋아요 상위 7개까지) -->
	<select id="likeRankCmntList" resultType="map">
		WITH LIKE_COUNT 
		AS
		(SELECT POST_NO, 
		        COUNT(*) CN
		   FROM LIKES
		  GROUP BY POST_NO
		  ORDER BY CN DESC, 
		        POST_NO)
		
		SELECT M.*, 
		       NVL(LC.CN, 0) AS CN, 
		       NVL((SELECT L.NO 
		              FROM LIKES L
		             WHERE  L.POST_NO = M.NO 
		               AND L.USER_ID = #{userId}
		               AND L.BOARD_CODE = 'CT04'),0) AS LIKE_NO
		 FROM MEALS M 
		 LEFT JOIN  LIKE_COUNT LC
		   ON M.NO = LC.POST_NO
   		<![CDATA[
		WHERE rownum < 8
		]]>
	</select>
	
	
	<!-- 커뮤니티 피드 단건조회 -->
	<select id="getCommunity" resultType="co.doeat.activity.service.MealVO">
	    SELECT U.NICK_NAME, 
	    	   U.PROFILE_IMG_PATH, M.*, 
	    	   (SELECT F.FOLLOWEE_ID
				  FROM FOLLOW F JOIN MEALS M
					ON (F.FOLLOWEE_ID = M.USER_ID 
						AND F.FOLLOWER_ID = #{userId} 
						AND M.NO = #{no})) AS FOLLOWEE_ID, 
			   NVL((SELECT L.NO
		      		  FROM LIKES L
		     		 WHERE L.POST_NO = M.NO 
		       		   AND L.USER_ID = #{userId}
		       		   AND L.BOARD_CODE = 'CT04'),0) AS LIKE_NO
		 FROM USERS U LEFT 
		 JOIN MEALS M
		 ON (U.USER_ID = M.USER_ID)
		 WHERE M.NO = #{no}
		 ORDER BY M.NO
	</select>

</mapper>