<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.community.mapper.CommentMapper">

	<!-- 댓글 조회 -->
	<select id="commentsList" resultType="co.doeat.community.service.CommentVO">
		SELECT C.*, U.NICK_NAME, U.PROFILE_IMG_PATH
		FROM COMMENTS C JOIN USERS U
		ON C.USER_ID = U.USER_ID
		WHERE C.POST_NO = #{postNo} AND BOARD_CODE = #{boardCode}
		ORDER BY C.CMMT_GROUP, C.CMMT_ORDER
	</select>
	
	<!-- 그룹 댓글 조회 -->
	<select id="groupCommentsList" resultType="co.doeat.community.service.CommentVO">
		SELECT C.*, U.NICK_NAME, U.PROFILE_IMG_PATH
		FROM COMMENTS C JOIN USERS U
		ON C.USER_ID = U.USER_ID
		WHERE C.POST_NO = #{postNo} AND C.GROUP_MEMBER = #{groupMember} AND BOARD_CODE = #{boardCode}
		ORDER BY C.CMMT_GROUP, C.CMMT_ORDER
	</select>

	<!-- 댓글 등록 -->
	<!-- 그룹 번호는 no 번호랑 동일하게 넣어주면 됨 -->
	<insert id="commentInsert" parameterType="co.doeat.community.service.CommentVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT MAX(NO)+1
			FROM COMMENTS
		</selectKey>
		INSERT INTO COMMENTS
		VALUES (#{no}, #{userId}, sysdate, #{subject}, 0, 1, #{no}, #{postNo}, #{boardCode}, #{groupMember})
	</insert>
	
	<!-- 대댓글 등록 -->
	<insert id="replyInsert" parameterType="co.doeat.community.service.CommentVO">
		<selectKey keyProperty="no,cmmtOrder" resultType="co.doeat.community.service.CommentVO" order="BEFORE">
			SELECT MAX(no)+1 AS no, MAX(cmmt_order)+1 AS cmmt_order
			FROM COMMENTS
		</selectKey>
		INSERT INTO COMMENTS
		VALUES (#{no}, #{userId}, sysdate, #{subject}, 1, #{cmmtOrder}, #{cmmtGroup}, #{postNo}, #{boardCode}, #{groupMember})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="commentUpdate">
		UPDATE COMMENTS
		SET SUBJECT = #{subject}
		WHERE NO = #{no}
	</update>
	
	
	<!-- 댓글 삭제 -->
	<delete id="commentDelete">
		DELETE COMMENTS
		WHERE NO = #{no}
	</delete>
</mapper>