<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.community.mapper.CommunityMapper">

	<!-- 커뮤니티 전체조회 -->
	<select id="getCmntList" resultType="map">
		SELECT * 
		FROM MEALS M LEFT JOIN USERS U
	            	 ON (M.USER_ID = U.USER_ID)
	    ORDER BY M.NO
	</select>
	
	<!-- 커뮤니티 피드 단건조회 -->
	<select id="getCommunity" resultType="co.doeat.activity.service.MealVO">
	    SELECT U.NICK_NAME, U.PROFILE_IMG_PATH, M.*, (SELECT F.FOLLOWEE_ID
		FROM FOLLOW F JOIN MEALS M
		ON (F.FOLLOWEE_ID = M.USER_ID AND F.FOLLOWER_ID = #{userId} AND M.NO = #{no})) AS FOLLOWEE_ID
		FROM USERS U LEFT JOIN MEALS M
		             ON (U.USER_ID = M.USER_ID)
		WHERE M.NO = #{no}
		ORDER BY M.NO
	</select>

</mapper>