<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.management.mapper.ExperienceMapper">

	<!-- 메인페이지 체험단 최신등록, 마감임박 리스트-->
	<select id="hmExprList" resultType="co.doeat.management.service.ExperienceVO">
		SELECT  title,
		        subject,
		        lmt_aplyt - now_aplyt aplytCnt
		  FROM experience_group
		 WHERE expe_start_date <![CDATA[ <= ]]>TRUNC(current_date)
		   AND TRUNC(current_date) <![CDATA[ < ]]> expe_end_date
		 ORDER BY aplytCnt ASC, no DESC
	</select>
	
	<!-- 전체 체험단 리스트 출력 -->
	<select id="getExperList" resultType="ExperienceVO">
		SELECT  EG.NO
		        ,EG.TITLE
		        ,EG.SUBJECT
		        ,(EG.NOW_APLYT - TRUNC(EG.LMT_APLYT)) as aplytCnt
		        ,EG.LMT_APLYT
		        ,EG.NESS_GRD
		        ,EG.SAVE_POINT
		        ,(EG.EXPE_START_DATE - TRUNC(SYSDATE)) as START_DATE 
		        ,EG.EXPE_END_DATE
		        ,EG.REVIEW_START_DATE
		        ,EG.REVIEW_END_DATE
		        ,EG.THUMBNAIL_IMG
		        ,EG.THUMBNAIL_IMG_PATH
		        ,COUNT(EP.NO) AS ordCnt
		FROM EXPERIENCE_GROUP EG
		JOIN EXPERIENCE_PARTICIPANTS EP
		ON EG.NO = EP.NO
		GROUP BY EG.NO
		        ,EG.TITLE
		        ,EG.SUBJECT
		        ,EG.NOW_APLYT
		        ,EG.LMT_APLYT
		        ,EG.NESS_GRD
		        ,EG.SAVE_POINT
		        ,EG.EXPE_START_DATE
		        ,EG.EXPE_END_DATE
		        ,EG.REVIEW_START_DATE
		        ,EG.REVIEW_END_DATE
		        ,EG.THUMBNAIL_IMG
		        ,EG.THUMBNAIL_IMG_PATH
	</select>

	<!-- 현재 진행중 체험단 리스트 출력 -->
	<select id="getExperiencing" resultType="ExperienceVO">
		SELECT  EG.NO
		        ,EG.TITLE
		        ,EG.SUBJECT
		        ,EG.NOW_APLYT
		        ,EG.LMT_APLYT
		        ,EG.NESS_GRD
		        ,EG.SAVE_POINT
		        
		        ,(EG.EXPE_START_DATE - TRUNC(SYSDATE)) as START_DATE 
		        ,EG.EXPE_END_DATE
		        ,EG.REVIEW_START_DATE
		        ,EG.REVIEW_END_DATE
		        ,EG.THUMBNAIL_IMG
		        ,EG.THUMBNAIL_IMG_PATH
		        ,COUNT(EP.NO) AS ordCnt
		FROM EXPERIENCE_GROUP EG
		JOIN EXPERIENCE_PARTICIPANTS EP
		<![CDATA[
		ON EG.NO = EP.NO
		WHERE TRUNC(expe_start_date) <= sysdate AND sysdate < expe_end_date
		]]>
		GROUP BY EG.NO
		        ,EG.TITLE
		        ,EG.SUBJECT
		        ,EG.NOW_APLYT
		        ,EG.LMT_APLYT
		        ,EG.NESS_GRD
		        ,EG.SAVE_POINT
		        ,EG.EXPE_START_DATE
		        ,EG.EXPE_END_DATE
		        ,EG.REVIEW_START_DATE
		        ,EG.REVIEW_END_DATE
		        ,EG.THUMBNAIL_IMG
		        ,EG.THUMBNAIL_IMG_PATH
	</select>
	
	<!-- 단건조회 -->
	<select id="ExperOne" resultType="ExperienceVO">
		SELECT  g.NO,
		        g.TITLE,
		        g.SUBJECT,
		        g.NOW_APLYT,
		        (g.LMT_APLYT - TRUNC(g.NOW_APLYT)) as aplytCnt,
		        g.NESS_GRD,
		        g.SAVE_POINT,
		        g.EXPE_START_DATE,
		        g.EXPE_END_DATE,
		        g.REVIEW_START_DATE,
		        g.REVIEW_END_DATE,
		        g.THUMBNAIL_IMG,
		        g.THUMBNAIL_IMG_PATH 
		FROM EXPERIENCE_GROUP g
		WHERE g.NO = #{no}
		ORDER BY g.NO
	</select>
	
		<!-- 배송정보 입력 -->
	<insert id="expInsert" parameterType="ExprParticipantsVO">
        INSERT INTO EXPERIENCE_PARTICIPANTS
		VALUES(#{no}, 
			   #{userId}, 
			   TO_DATE(SYSDATE,'YYYY-MM-DD'),
			   #{addr})
	</insert>
	
   <!-- 배송정보입력 내 유저 정보 조회 -->
	<select id="expSelect" parameterType="ExprParticipantsVO" resultType="map">
		SELECT u.USER_ID, 
	       u.TEL,
	       u.ADDR,
	       u.ZIPCODE,
	       g.TITLE,
	       g.REVIEW_START_DATE,
	       g.REVIEW_END_DATE
		FROM
		USERS u, EXPERIENCE_GROUP g
		WHERE USER_ID = #{userId}
		ORDER BY g.NO
	</select>
	
		<!-- 배송정보 조회 -->
	<select id="expOrderList"
		resultType="co.doeat.management.service.ExperienceVO">
		SELECT U.*, P.*,G.*
		FROM EXPERIENCE_PARTICIPANTS P LEFT JOIN
		USERS U ON (U.USER_ID = P.USER_ID)
		LEFT JOIN
		GROUP_PURCHASE_LISTS G ON (P.NO = G.NO)
		WHERE P.NO = #{no}
	</select>
	
		<!-- 수정 -->
	<update id="expUpdate">
		update EXPERIENCE_GROUP
        set NOW_APLYT = NOW_APLYT + 1
        where NO = #{no}
        
	</update>
	
	<!-- 관리자 +++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- 관리자 체험단 전체리스트 출력 -->
	<sql id="creiteria">
		
			<if test="type == 'G'.toString()">
				and title like '%'||#{keyword}||'%'
			</if>
			<if test="type == 'R'.toString()">
				and NESS_GRD like '%'||#{keyword}||'%'
			</if>
			<if test="datekeyword1 != null">
				<![CDATA[
				and not( expe_end_date < #{datekeyword1} or	expe_start_date > #{datekeyword2})
				]]>
			</if>
			<if test="exstatus != null and exstatus != ''">
				<if test='exstatus == "0"'>
					and <![CDATA[TRUNC(expe_start_date) <= TRUNC(current_date) and
	            	 trunc(current_date) <= expe_end_date]]>
				</if>
				<if test='exstatus == "1"'>
			
	            	and <![CDATA[ expe_end_date <= trunc(current_date) ]]>
				</if>
				<if test='exstatus == "2"'>
				 	  and <![CDATA[expe_start_date > trunc(current_date) ]]>
				</if>
			
			</if>
	
	</sql>
	<select id="getCountTotal"
		parameterType="co.doeat.management.service.ExperienceVO"
		resultType="int">
		SELECT COUNT(*)
		FROM EXPERIENCE_GROUP
		<where>
		<include refid="creiteria"></include>
		</where>
	</select>
	<select id="adminExperienceGroupList" parameterType="co.doeat.management.service.ExperienceVO" resultType="co.doeat.management.service.ExperienceVO">
		SELECT * FROM( SELECT rownum rn, a.*
		from(

		SELECT
		no,title,subject,lmt_aplyt,ness_grd,expe_start_date,expe_end_date,
		<![CDATA[
	        CASE WHEN expe_start_date <=trunc(current_date) 
      		  		AND expe_end_date <= trunc(current_date) THEN '완료'
	            WHEN TRUNC(expe_start_date) <= TRUNC(current_date) 
	            	And trunc(current_date) <= expe_end_date Then '진행중' 
	            Else '진행전' END as exstatus
 		]]>
		FROM EXPERIENCE_GROUP
		<where>
		<include refid="creiteria"></include>
		</where>
		order by no
		
		<![CDATA[
		)a where rownum <= #{last}) b where rn  >= #{first} 
		]]>
	</select>
	
	<!-- 등록 -->
	<insert id="adminEXInsert" parameterType="co.doeat.management.service.ExperienceVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT 
			NVL(MAX(NO)+1, 1) FROM EXPERIENCE_GROUP
		</selectKey>
		INSERT INTO EXPERIENCE_GROUP(
				NO,
				TITLE,
				SUBJECT,
				LMT_APLYT,
				NESS_GRD,
				EXPE_START_DATE,
				EXPE_END_DATE,
				REVIEW_START_DATE,
				REVIEW_END_DATE,
				THUMBNAIL_IMG,
				THUMBNAIL_IMG_PATH)
				VALUES(#{no},
				#{title},
				#{subject},
				#{lmtAplyt},
				#{nessGrd},
				#{expeStartDate},
				#{expeEndDate},
				#{reviewStartDate},
				#{reviewEndDate},
				#{thumbnailImg},
				#{thumbnailImgPath})
	</insert>
	
	<!-- 삭제 -->
	<delete id="adminEXDelete" parameterType="co.doeat.management.service.ExperienceVO">
		DELETE FROM EXPERIENCE_GROUP WHERE NO = #{no}
	</delete>
	
	<!-- 단건조회 -->
	<select id="adminEXSelect" resultType="co.doeat.management.service.ExperienceVO">
		SELECT *
		FROM EXPERIENCE_GROUP
		WHERE NO = #{no}
	</select>
	
	<!-- 수정 -->
	<update id="adminEXUpdate">
		UPDATE EXPERIENCE_GROUP
		<set>
			<if test="title != null">TITLE = #{title},</if>
			<if test="subject != null">SUBJECT = #{subject},</if>
			<if test="lmtAplyt != null">LMT_APLYT = #{lmtAplyt},</if>
			<if test="nessGrd != null">NESS_GRD = #{nessGrd},</if>
			<if test="expeStartDate != null">EXPE_START_DATE = #{expeStartDate},</if>
			<if test="reviewEndDate != null">REVIEW_END_DATE = #{reviewEndDate},</if>
			<if test="thumbnailImg != null">THUMBNAIL_IMG = #{thumbnailImg},</if>
			<if test="expeEndDate != null">EXPE_END_DATE = #{expeEndDate},</if>
			<if test="reviewStartDate != null">REVIEW_START_DATE = #{reviewStartDate},</if>
			<if test="thumbnailImgPath != null">THUMBNAIL_IMG_PATH = #{thumbnailImgPath}</if>
		</set>
		where no = #{no}
	</update>
	
</mapper>