<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.doeat.management.mapper.GroupPurchaseMapper">



	<!-- 현재 진행중인 공구리스트 출력 -->
	<select id="pchIngList" resultType="GroupPurchaseListVO">
		SELECT PL.NO
				,PL.NAME
				,PL.CO_NAME
				,PL.PRICE
				,PL.SUBJECT
				,PL.MIN_GD
				,(PL.SPLY_GD - TRUNC(COUNT(PST.LIST_NO))) as pchOrdCnt
				,(PL.GRP_START_DATE - TRUNC(SYSDATE)) as startDate
				,PL.GRP_END_DATE
				,PL.THUMBNAIL_IMG
				,PL.THUMBNAIL_IMG_PATH
				,COUNT(PST.LIST_NO) AS ordCnt
			FROM GROUP_PURCHASE_LISTS PL
			LEFT OUTER JOIN GROUP_PURCHASE_SETTLEMENT PST ON PL.NO = PST.LIST_NO
		<![CDATA[
			WHERE TRUNC(grp_start_date) <= sysdate AND sysdate < grp_end_date
		]]>
			GROUP BY PL.NO
				,PL.NAME
				,PL.CO_NAME
				,PL.PRICE
				,PL.SUBJECT
				,PL.MIN_GD
				,PL.SPLY_GD
				,PL.GRP_START_DATE
				,PL.GRP_END_DATE
				,PL.THUMBNAIL_IMG
				,PL.THUMBNAIL_IMG_PATH
	</select>

	<!-- 전체 공구진행중 리스트 출력 -->
	<select id="pchAllList" resultType="GroupPurchaseListVO">
			SELECT PL.NO
				,PL.NAME
				,PL.CO_NAME
				,PL.PRICE
				,PL.SUBJECT
				,PL.MIN_GD
				,PL.SPLY_GD
				,(PL.GRP_START_DATE - TRUNC(SYSDATE)) as StartDate
				,PL.GRP_END_DATE
				,PL.THUMBNAIL_IMG
				,PL.THUMBNAIL_IMG_PATH
				,COUNT(PST.LIST_NO) AS ordCnt
		  FROM	GROUP_PURCHASE_LISTS PL
          LEFT OUTER JOIN  GROUP_PURCHASE_SETTLEMENT PST ON PL.NO =	PST.LIST_NO
		  GROUP BY PL.NO
				,PL.NAME
				,PL.CO_NAME
				,PL.PRICE
				,PL.SUBJECT
				,PL.MIN_GD
				,PL.SPLY_GD
				,PL.GRP_START_DATE
				,PL.GRP_END_DATE
				,PL.THUMBNAIL_IMG
				,PL.THUMBNAIL_IMG_PATH
	</select>
	
	<!-- 단건조회 -->
	<select id="pchDetail" resultType="GroupPurchaseListVO">
		SELECT PL.NO
		    ,PL.NAME
		    ,PL.CO_NAME
		    ,PL.PRICE
		    ,PL.SUBJECT
		    ,PL.MIN_GD
		    ,(PL.SPLY_GD - TRUNC(COUNT(PST.LIST_NO))) as pchOrdCnt
		    ,PL.GRP_START_DATE
		    ,PL.GRP_END_DATE
		    ,PL.THUMBNAIL_IMG
		    ,PL.THUMBNAIL_IMG_PATH
		    ,COUNT(PST.LIST_NO) AS ordCnt
		FROM	GROUP_PURCHASE_LISTS PL
		LEFT OUTER JOIN  GROUP_PURCHASE_SETTLEMENT PST ON PL.NO =	PST.LIST_NO
		WHERE PL.NO = #{no}
		GROUP BY PL.NO
		    ,PL.NAME
		    ,PL.CO_NAME
		    ,PL.PRICE
		    ,PL.SUBJECT
		    ,PL.MIN_GD
		    ,PL.SPLY_GD
		    ,PL.GRP_START_DATE
		    ,PL.GRP_END_DATE
		    ,PL.THUMBNAIL_IMG
		    ,PL.THUMBNAIL_IMG_PATH
	</select>

	<!-- 배송정보 입력 -->
	<insert id="payInsert" parameterType="GroupPurchaseSettlementVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT	MAX(NO)+1
			FROM GROUP_PURCHASE_SETTLEMENT
		</selectKey>
		insert into GROUP_PURCHASE_SETTLEMENT
					(NO,
					USER_ID,
					DELIVERY_ADDR,
					PAYMENT_MTHD, 
					ZIPCODE, 
					TEL, 
					TOTAL_GD, 
					TOTAL_PRICE,
					LIST_NO
					)
			values( #{no},
					#{userId}, 
					#{deliveryAddr},
					#{paymentMthd}, 
					#{zipcode},
					#{tel},
					#{totalGd}, 
					#{totalPrice},
					#{listNo}
					)
	</insert>

	<!-- 배송정보 조회 -->
	<select id="pchOrderList"
		resultType="GroupPurchaseSettlementVO">
        SELECT U.*, S.*,G.*
		FROM GROUP_PURCHASE_SETTLEMENT S LEFT JOIN
		USERS U ON (U.USER_ID = S.USER_ID)
		LEFT JOIN
		GROUP_PURCHASE_LISTS G ON (S.LIST_NO = G.NO)
		WHERE S.LIST_NO = #{no} AND U.USER_ID= #{userId}
	</select>



	<!-- +++++++++++++++++마이페이지+++++++++++++++++++++++++++++++ -->
	<!-- 마이페이지 - 공동구매내역 전체리스트 -->
	<select id="getPurchaseList"
		resultType="co.doeat.management.service.GroupPurchaseListVO">
		SELECT U.*, P.*,G.*
		FROM USERS U LEFT JOIN
		GROUP_PURCHASE_SETTLEMENT P ON (U.USER_ID = P.USER_ID)
		LEFT JOIN
		GROUP_PURCHASE_LISTS G ON (P.LIST_NO = G.NO)
		WHERE U.USER_ID = #{userId}
	</select>

	<!-- 마이페이지 - 공동구매내역 상세보기 -->
	<select id="purchaseSelect" resultType="map">
		SELECT U.*, P.*,G.*
		FROM
		USERS U LEFT JOIN
		GROUP_PURCHASE_SETTLEMENT P ON (U.USER_ID =
		P.USER_ID)
		LEFT JOIN
		GROUP_PURCHASE_LISTS G ON (P.LIST_NO = G.NO)
		WHERE
		U.USER_ID = #{userId} AND
		P.NO = #{no}
	</select>

	<!-- +++++++++++++++++관리자+++++++++++++++++++++++++++++++ -->
	<!-- 관리자 -공동구매 물품 리스트 -->
	<sql id="creiteria">
	
			<if test="type == 'G'.toString()">
				and NAME like '%'||#{keyword}||'%'
			</if>
			<if test="type == 'N'.toString()">
				and co_name like '%'||#{keyword}||'%'  
			</if>
			<if test="datekeyword1 != null">
				<![CDATA[
				and not( grp_end_date < #{datekeyword1} or	grp_start_date > #{datekeyword2})
				]]>
			</if>
			<if test="gpstatus != null and gpstatus != ''">
				<if test='gpstatus == "0"'>
					and <![CDATA[TRUNC(grp_start_date) <= TRUNC(current_date) and
	            	 trunc(current_date) <= grp_end_date]]>
				</if>
				<if test='gpstatus == "1"'>
			
	            	and <![CDATA[ grp_end_date <= trunc(current_date) ]]>
				</if>
				<if test='gpstatus == "2"'>
				 	  and <![CDATA[grp_start_date > trunc(current_date) ]]>
				</if>
			</if>

		
	</sql>
	<select id="getCountTotal"
		parameterType="co.doeat.management.service.GroupPurchaseListVO"
		resultType="int">
		SELECT COUNT(*)
		FROM GROUP_PURCHASE_LISTS
		<where>
		<include refid="creiteria"></include>
		</where>
	</select>

	<select id="getAdminGroupPurchaseList"
		parameterType="co.doeat.management.service.GroupPurchaseListVO"
		resultType="co.doeat.management.service.GroupPurchaseListVO">
		SELECT * FROM( SELECT rownum rn, a.*
		from(

		SELECT
		no,name,co_name,grp_start_date,grp_end_date,
		<![CDATA[
	        CASE WHEN grp_start_date <=trunc(current_date) 
      		  		AND grp_end_date <= trunc(current_date) THEN '완료'
	            WHEN TRUNC(grp_start_date) <= TRUNC(current_date) 
	            	And trunc(current_date) <= grp_end_date Then '진행중' 
	            Else '진행전' END as gpstatus
 		]]>
		FROM GROUP_PURCHASE_LISTS
		
		<where>
		<include refid="creiteria"></include>
		</where>
		order by no desc
		
		<![CDATA[
		)a where rownum <= #{last}) b where rn  >= #{first} 
		]]>
	</select>

	<!-- 등록 -->
	<insert id="adminGPInsert"
		parameterType="co.doeat.management.service.GroupPurchaseListVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			MAX (NO)+1 FROM GROUP_PURCHASE_LISTS
		</selectKey>
		INSERT INTO GROUP_PURCHASE_LISTS(NO,
		NAME,
		CO_NAME,
		PRICE,
		SUBJECT,
		MIN_GD,
		SPLY_GD,
		GRP_START_DATE,
		GRP_END_DATE,
		THUMBNAIL_IMG,
		THUMBNAIL_IMG_PATH)
		VALUES(#{no},
		#{name},
		#{coName},
		#{price},
		#{subject},
		#{minGd},
		#{splyGd},
		#{grpStartDate},
		#{grpEndDate},
		#{thumbnailImg},
		#{thumbnailImgPath})
	</insert>

	<!-- 삭제 -->
	<delete id="adminGPDelete"
		parameterType="co.doeat.management.service.GroupPurchaseListVO">
<!-- 		DELETE FROM GROUP_PURCHASE_LISTS WHERE NO= #{no} -->
		delete from group_purchase_lists
			where NO= #{no} and not exists(select *
			from group_purchase_settlement
			where list_no = #{no} )
	</delete>

	<!-- 수정 -->
	<update id="adminGPUpdate">
		UPDATE GROUP_PURCHASE_LISTS
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="coName != null">co_Name = #{coName},</if>
			<if test="price != null">price = #{price},</if>
			<if test="subject != null">subject = #{subject},</if>
			<if test="minGd != null">min_gd = #{minGd},</if>
			<if test="splyGd != null">sply_gd = #{splyGd},</if>
			<if test="grpStartDate != null">grp_start_date = #{grpStartDate},</if>
			<if test="grpEndDate != null">grp_end_date = #{grpEndDate},</if>
			<if test="thumbnailImg != null">THUMBNAIL_IMG = #{thumbnailImg},</if>
			<if test="thumbnailImgPath != null">THUMBNAIL_IMG_PATH =#{thumbnailImgPath}</if>
		</set>
		WHERE NO = #{no}
	</update>

	<!-- 공동구매리스트 맵 -->
	<!-- <resultMap -->
	<!-- type="co.doeat.management.service.GroupPurchaseListVO" id="gpListMap"> -->
	<!-- <id property="no" column="no" /> -->
	<!-- <result property="no" column="no" /> -->
	<!-- <result property="name" column="name" /> -->
	<!-- <result property="coName" column="co_name" /> -->
	<!-- <result property="price" column="price" /> -->
	<!-- <result property="subject" column="subject" /> -->
	<!-- <result property="minGd" column="min_gd" /> -->
	<!-- <result property="splyGd" column="sply_gd" /> -->
	<!-- <result property="grpStartDate" column="grp_Start_Date" /> -->
	<!-- <result property="grpEndDate" column="grp_End_Date" /> -->
	<!-- <result property="thumbnailImgPath" column="thumbnail_Img_Path" /> -->
	<!-- <result property="thumbnailImgPath" column="thumbnail_Img" /> -->
	<!-- <collection property="imgPath" resultMap="imgMap"></collection> -->
	<!-- </resultMap> -->

	<!-- 공구 단건 이미지이름 맵 -->
	<!-- <resultMap type="co.doeat.common.service.ImageVO" id="imgMap"> -->
	<!-- <result property="postNo" column="post_No" /> -->
	<!-- <result property="boardCode" column="board_Code" /> -->
	<!-- <result property="atchPath" column="atch_Path" /> -->
	<!-- </resultMap> -->

	<!-- 관리자용 단건조회 (이미지다수, 글 하나) -->
	<select id="adminGPSelect" resultType="GroupPurchaseListVO">
		SELECT *
		FROM GROUP_PURCHASE_LISTS
		WHERE no = #{no}
	</select>
</mapper>