<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.doeat.management.mapper.GroupPurchaseMapper">

	<!-- 전체조회 -->
	<select id="getPurList" resultType="GroupPurchaseListVO">

		SELECT *
		FROM
		GROUP_PURCHASE_LISTS g left JOIN IMAGES i
		ON (G.NO = i.post_no)
		WHERE
		i.board_type='groupBuying'

	</select>

	<!-- 현재 진행 조회 -->
	<select id="getPurchasingList" resultType="GroupPurchaseListVO">

		SELECT *
		FROM group_purchase_lists g RIGHT JOIN IMAGES i
		ON (g.NO = i.POST_NO)
		<![CDATA[
		WHERE TRUNC(grp_start_date) <= sysdate AND sysdate < g.grp_end_date AND I.BOARD_TYPE='groupBuying'
		]]>
		ORDER BY g.NO

	</select>
	
	<!-- 단건조회 -->
	<select id="getPurOne" resultType="GroupPurchaseListVO">

		SELECT *
		FROM
		GROUP_PURCHASE_LISTS g RIGHT JOIN IMAGES I
		ON (G.NO = I.POST_NO)
		WHERE
		I.POST_NO= #{no}
		AND I.BOARD_TYPE='groupBuying'
		ORDER BY g.NO

	</select>


<!-- 	<select id="count" parameterType="String" resultType="Group"> -->
<!-- 	SELECT no, -->
<!-- 	COUNT(*) -->
<!-- 	FROM GROUP_PURCHASE_SETTLEMENT -->
<!-- 	GROUP BY no; -->
<!-- 	</select> -->



	<!-- +++++++++++++++++마이페이지+++++++++++++++++++++++++++++++ -->
	<!-- 마이페이지 - 공동구매내역 전체리스트 -->
	<select id="getPurchaseList"
		resultType="co.doeat.management.service.GroupPurchaseListVO">
		SELECT U.*, P.*,G.*,I.*
		FROM USERS U LEFT JOIN
		GROUP_PURCHASE_SETTLEMENT P ON (U.USER_ID = P.USER_ID)
		LEFT JOIN
		GROUP_PURCHASE_LISTS G ON (P.NO = G.NO)
		LEFT JOIN IMAGES I ON (G.NO =
		i.post_no)
		WHERE U.USER_ID = 'user1' AND I.board_type='groupBuying'
	</select>

	<!-- 마이페이지 - 공동구매내역 상세보기 -->
	<select id="purchaseSelect"
		resultType="co.doeat.management.service.GroupPurchaseSettlementVO">
		SELECT U.*, P.*,G.*,I.*
		FROM USERS U LEFT JOIN
		GROUP_PURCHASE_SETTLEMENT P ON
		(U.USER_ID = P.USER_ID)
		LEFT JOIN
		GROUP_PURCHASE_LISTS G ON (P.NO = G.NO)
		LEFT JOIN IMAGES I ON (G.NO =
		i.post_no)
		WHERE U.USER_ID = 'user1' AND I.board_type='groupBuying' AND
		P.NO = 1
	</select>
</mapper>