<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.community.mapper.GroupsMapper">


	<resultMap type="co.doeat.community.service.GroupsVO"
		id="groupsImg">
		<collection property="mealsImg" javaType="ArrayList"
			ofType="co.doeat.activity.service.MealVO" select="imgList"
			column="{userId=USER_ID, postDate=POST_DATE}" />
	</resultMap>


	<!-- 내가 속한 그룹 전체 리스트 출력  -->
	<select id="grpSelect" resultMap="groupsImg">
		SELECT U.USER_ID,
		U.USER_NAME,
		#{postDate} as post_date,
		U.NICK_NAME,
		U.PROFILE_IMG_PATH,
		GM.*,
		GL.*

		FROM USERS U
		JOIN GROUP_MEMBER GM
		ON (U.USER_ID = GM.USER_ID)
		JOIN GROUP_LISTS GL
		ON (GM.NO = GL.NO)
		WHERE GL.NO = #{no}
	</select>

	<select id="imgList"
		resultType="co.doeat.activity.service.MealVO">
		SELECT M.*
		FROM MEALS M
		WHERE TRUNC(post_date) = TO_DATE(#{postDate}, 'yyyyMMdd')
		AND M.USER_ID = #{userId}
		ORDER BY M.NO
	</select>

	<!-- 그룹 멤버 단건조회 -->
	<select id="grpMembSelect" resultType="map">
		SELECT U.USER_ID,
		       U.USER_NAME, 
		       U.NICK_NAME, 
		       U.PROFILE_IMG_PATH, 
		       M.*, 
		       GM.*, 
		       GL.*
		       
		FROM USERS U 
		JOIN MEALS M 
		  ON (U.USER_ID = M.USER_ID)
		JOIN GROUP_MEMBER GM 
		  ON (M.USER_ID = GM.USER_ID)
		JOIN GROUP_LISTS GL
		  ON (GM.NO = GL.NO)
		  
	   WHERE TRUNC(post_date) = TRUNC(#{postDate}) 
		 AND M.USER_ID = #{userId}
	</select>

	<!-- 내가 참여중인 그룹 리스트 -->
	<select id="grpAllList" resultType="map">
		SELECT U.USER_ID,
		U.USER_NAME,
		U.NICK_NAME,
		GM.*,
		GL.*

		FROM USERS U
		JOIN GROUP_MEMBER GM
		ON (U.USER_ID = GM.USER_ID)
		JOIN GROUP_LISTS GL
		ON (GM.NO = GL.NO)
		WHERE U.USER_ID = #{userId}
	</select>

	<!-- 해당그룹 멤버리스트 조회 -->
	<select id="membList" resultType="map">
		SELECT U.NICK_NAME,
		U.PROFILE_IMG_PATH, GL.*, GM.*
		FROM USERS U JOIN GROUP_MEMBER GM ON(U.USER_ID = GM.USER_ID)
		JOIN GROUP_LISTS GL ON (GM.NO = GL.NO AND GL.NO = #{no})
	</select>

	<!-- 참여중인 그룹의 멤버탈퇴 -->
	<delete id="grpMembDel"
		parameterType="co.doeat.community.service.GroupsVO">
		DELETE FROM GROUP_MEMBER
		WHERE NO = #{grpNo} AND USER_ID
		= #{userId}
	</delete>

	<!-- 내가 만든 그룹 삭제 -->
	<delete id="grpDel"
		parameterType="co.doeat.community.service.GroupsVO">
		DELETE FROM GROUP_LISTS
		WHERE NO = #{no}
	</delete>

	<!-- 멤버 추가 -->
	<insert id="membInsert"
		parameterType="co.doeat.community.service.GroupsVO">
		INSERT INTO GROUP_MEMBER
		VALUES (#{no}, #{userId})
	</insert>

	<!-- 그룹 만들기 -->
	<insert id="grpInsert"
		parameterType="co.doeat.community.service.GroupsVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			NVL(MAX(NO)+1, 1) FROM GROUP_LISTS
		</selectKey>
		INSERT INTO GROUP_LISTS
		VALUES(#{no}, #{grpLeader}, #{grpName}, null, #{grpCode})
	</insert>
	
	<!-- 입력값과 저장된 값이 동일할시 해당그룹 멤버로 등록 -->
	<insert id="compareInsert" parameterType="co.doeat.community.service.GroupsVO">
		INSERT INTO GROUP_MEMBER(NO, USER_ID) 
		VALUES(iv_grp_no(#{grpCode}), #{userId});
	</insert>

</mapper>