<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.doeat.activity.mapper.MealMapper">
	<!-- 개인 식단등록 -->
	<insert id="insertMeal" parameterType="co.doeat.activity.service.MealVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT
			MAX (NO)+1 FROM MEALS
		</selectKey>
		insert into Meals(
		no,
		user_id,
		subject,
		img,
		file_dir,
		meal_score,
		type_code,
		meal_time,
		meal_amount,
		post_date
		
		)values (
		#{no},
		#{userId},
		#{subject},
		#{img},
		#{fileDir},
		#{mealScore},
		#{typeCode},
		#{mealTime},
		#{mealAmount},
		sysdate
		
		)
	</insert>
	
	<!-- 개인 식단 리스트 -->
	<select id="myFeedList"
		resultType="co.doeat.activity.service.MealVO" parameterType="String">
		SELECT *
		FROM MEALS
		WHERE TRUNC(post_date) = TO_DATE(#{postDate},'yyyyMMdd') AND user_id = #{userId}
	</select>
	
 	<!-- 개인 식단 단건조회 -->
	<select id="mealSelect"
		resultType="co.doeat.activity.service.MealVO">
		SELECT * FROM MEALS
		WHERE NO = #{no}
	</select>
	
	<!-- 그룹 식단 리스트 -->
	<select id="mealList" resultType="co.doeat.activity.service.MealVO" parameterType="co.doeat.activity.service.MealVO">
		SELECT * FROM MEALS
		WHERE TRUNC(POST_DATE) = #{postDate} AND USER_ID = #{userId}
	</select>
	
	<!-- 개인식단삭제 -->
	<delete id="mealDelete" parameterType="co.doeat.activity.service.MealVO">
	DELETE FROM MEALS WHERE NO = #{no}
	</delete>
	
	<!-- 식단 update -->
	<update id="updateMeal" >
		UPDATE MEALS
		<set>
			<if test="userId != null">user_id = #{userId},</if>
			<if test="subject != null">subject = #{subject},</if>
			<if test="img != null">img = #{img},</if>
			<if test="fileDir != null">file_dir = #{fileDir},</if>
			<if test="mealScore != null">meal_score = #{mealScore},</if>
			<if test="typeCode != null">type_code = #{typeCode},</if>
			<if test="mealTime != null">meal_time = #{mealTime},</if>
			<if test="mealAmount != null">meal_amount = #{mealAmount},</if>
			<if test="postDate != null">post_date = sysdate</if>
		</set>
		WHERE NO = #{no}
	</update>
	
	
	<!--  포스팅 갯수 -->
	<select id="postList" resultType="map">
		 SELECT COUNT(CASE WHEN USER_ID = #{userId} THEN 1 END) AS POST_CNT
		  FROM MEALS
		 
	</select>
	
	<!-- 식단평균 -->
	<select id="mealAvg" resultType="map">
		SELECT  round(NVL(AVG(meal_score) ,0),1) "meal_Avg"
  		FROM meals
 		 where user_id = #{userId}
	
	</select>

</mapper>