<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/store}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>experienceDetail</title>

<!-- <!-- Google Font -->
<!-- <link -->
<!-- 	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" -->
<!-- 	rel="stylesheet"> -->

<!-- Css Styles -->
<link rel="stylesheet" href="/second-template/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/style.css"
	type="text/css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/assets/css/bootstrap.min_grp.css">
<link rel="stylesheet" href="/assets/css/style_grp.css">


</head>
<style>
textarea {
	width: 100%;
	height: 6.25em;
	border: none;
	resize: none;
}
</style>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product__details__pic">
						<div class="product__details__pic__item">
							<img class="product__details__pic__item--large"
								th:src="${ExpOne[0].thumbnailImgPath}">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product__details__text">
						<h3>[[ ${ExpOne[0].title} ]]</h3>
						<div class="product__details__price">[[${ExpOne[0].subject}]]</div>
						<p th:if="${ExpOne[0].expeStartDate == '0'}" style="color: red;"></p>
						<p th:unless="${ExpOne[0].expeStartDate == '0'}"
							style="color: red;">[[${#dates.format(ExpOne[0].expeStartDate, 'MM월 dd일')}]] 에 시작해요!</p>
						<ul>
							<li><b>참여 등급</b> <span>[[${ExpOne[0].nessGrd}]]</span></li>
							<li><b>참여 인원</b> <span>현재 [[${ExpOne[0].nowAplyt}]] 명
									신청 </span> / <span style="color: red;" id="aplytCnt"><b>[[${ExpOne[0].aplytCnt}]]
										명 신청가능 ✨</b></span></li>

							<li><b>모집 기간</b> <span>[[${#dates.format(ExpOne[0].expeStartDate,
									'MM-dd')}]]([[${#dates.dayOfWeekName(ExpOne[0].expeStartDate)}]])
									- [[${#dates.format(ExpOne[0].expeEndDate,
									'MM-dd')}]]([[${#dates.dayOfWeekName(ExpOne[0].expeEndDate)}]])</span></li>
							<li><b>리뷰 기간</b> <span>[[${#dates.format(ExpOne[0].reviewStartDate,
									'MM-dd')}]]([[${#dates.dayOfWeekName(ExpOne[0].reviewStartDate)}]])
									- [[${#dates.format(ExpOne[0].reviewEndDate,
									'MM-dd')}]]([[${#dates.dayOfWeekName(ExpOne[0].reviewEndDate)}]])</span></li>
						</ul>
						<br>
						<button type="button" class="primary-btn" id="btn" name="btn" onclick="ExpBtn()">신청하기</button>


					</div>
				</div>
				<div class="col-lg-12">
					<div class="product__details__tab">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#detail" role="tab" aria-selected="true">상세설명</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#review" role="tab" aria-selected="false">리뷰</a></li>
						</ul>

						<!--                   탭 내용들 -->
						<div class="tab-content" align="center">
							<!--                      상세 탭 시작 -->
							<div class="tab-pane active" id="detail" role="tabpanel">
								<div class="product__details__tab__desc">
									<h6>상세설명</h6>
									<th:block th:each="img : ${detailImg}">
										<img th:src="${img.atchPath}" style=" width: 100% ;">
									</th:block>
								</div>
							</div>
							<!--                      상세 탭 끝 후기 탭 시작 -->
							<div class="tab-pane" id="review" role="tabpanel">

								<div class="product__details__tab__desc">
									<div class="review_item">
										<div class="media">
											<textarea style="resize: both;" id="about" name="about"
												rows="3" class="form-control"></textarea>
											<div class="textarea"></div>
										</div>
										<br>
										<!--                      후기 탭 끝 -->


										<div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
											<button class="primary-btn">전송하기</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- 체험단 신청인원이 다차면 버튼비활성화 -->
		<script th:inline="javascript">
				let no = /*[[${ExpOne[0].no}]]*/
				console.log(no);
			function ExpBtn() {

				let aplyt = /*[[${ExpOne[0].aplytCnt}]]*/
				console.log(aplyt);
				console.dir($("#btn"));

				if (aplyt == 0) {
					alert("신청이 마감되었습니다.");
				} else {
						location.href = "/expr/exprFrm/" + no
				}
			}
		</script>


		<!-- Js Plugins -->
		<script src="/second-template/js/bootstrap.min.js"></script>
		<script src="/second-template/js/jquery-ui.min.js"></script>
	</div>
</body>

</html>