<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/store}">
<head>
<!-- Favicon -->
<link href="/assets/images/favicon.png" rel="icon" type="image/png">
<meta charset="UTF-8">
<title>orderList</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Instello - Sharing Photos platform HTML Template">

<!-- icons
    ================================================== -->
<link rel="stylesheet" href="/assets/css/icons.css">

<!-- CSS 
    ================================================== -->
<link rel="stylesheet" href="/assets/css/uikit.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/tailwind-dark.css">
</head>
<body>


	<div layout:fragment="content" align="center">
		<h1
			class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">체험단 신청
			내역</h1>
		<hr>

		<form id="frm" action="" method="post">
			<div id="wrapper">
			<br>
				<div class="col-lg-7">
					<ul>
						<li th:each="exp : ${expOrder}">
						[[ ${session.userId} ]]
							<div align="left">
								<p class="truncate"></p>
							</div> <a class="block flex items-center py-3 px-4 space-x-3">
								<div class="w-13 h-13 rounded-full relative flex-shrink-0">
									<img th:src="${exp.thumbnailImgPath }" style="width: 100px; height: 110px;">
								</div>
								<div class="flex-1 min-w-0 relative text-gray-500" align="left">
									
									<h4 class="text-black font-semibold dark:text-white"></h4>
									<br>
									<span class="absolute right-0 top-1 text-xs"
										th:text="${exp.title}">체험단명</span>
									<p class="text-black font-semibold dark:text-white"
										th:text="${exp.subject}">내용</p>
									<p style="color: red;">체험참여기간 : [[ ${#dates.format(exp.expeStartDate,'yy년 M월 d일 ~')} ]] [[ ${#dates.format(exp.expeEndDate,'yy년 M월 d일')} ]]</p>
									<br>
									
									<div align="right"></div>
								</div>
						</a>
						<br>
							<hr>
						</li>
					</ul>
					<br>
					<br> <input type="button" value="체험단 홈으로" 
						style="width: 130px; height: 40px;" th:onclick="|location.href='@{/contentsMain/expr}'|">
				</div>
			</div>
		</form>
	</div>
</body>
</html>