<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
  <!-- Simple bar CSS -->
  <link rel="stylesheet" href="css/simplebar.css">
  <!-- Fonts CSS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- Icons CSS -->
  <link rel="stylesheet" href="/css/feather.css">
  <link rel="stylesheet" href="/css/select2.css">
  <link rel="stylesheet" href="/css/dropzone.css">
  <link rel="stylesheet" href="/css/uppy.min.css">
  <link rel="stylesheet" href="/css/jquery.steps.css">
  <link rel="stylesheet" href="/css/jquery.timepicker.css">
  <link rel="stylesheet" href="/css/quill.snow.css">
  <!-- Date Range Picker CSS -->
  <link rel="stylesheet" href="/css/daterangepicker.css">
  <!-- App CSS -->
  <link rel="stylesheet" href="/css/app-light.css" id="lightTheme">
  <link rel="stylesheet" href="/css/app-dark.css" id="darkTheme" disabled>
  
  <!-- .wrapper -->

		<script src="/js/jquery.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/moment.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/simplebar.min.js"></script>
		<script src="/js/daterangepicker.js"></script>
		<script src="/js/jquery.stickOnScroll.js"></script>
		<script src="/js/tinycolor-min.js"></script>
		<script src="/js/config.js"></script>
		<script src='/js/jquery.dataTables.min.js'></script>
		<script src='/js/dataTables.bootstrap4.min.js'></script> 
		
</head>

<body class="vertical  light  ">
  <div class="wrapper">
    <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar="data-simplebar">
      <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x">
          <span class="sr-only"></span></i>
      </a>
      <nav class="vertnav navbar navbar-light">
        <!-- nav bar -->
        <div class="w-100 mb-4 d-flex">
          <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
            <img src="assets/images/momeal.png" alt="">
          </a>
        </div>
        <ul class="navbar-nav flex-fill w-100 mb-2">
          <li class="nav-item dropdown">
            <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-home fe-16"></i>
              <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
              <li class="nav-item active">
                <a class="nav-link pl-3" href="./index.html">
                  <span class="ml-1 item-text">Default</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="./dashboard-analytics.html">
                  <span class="ml-1 item-text">Analytics</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="./dashboard-sales.html">
                  <span class="ml-1 item-text">E-commerce</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="./dashboard-saas.html">
                  <span class="ml-1 item-text">Saas Dashboard</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="./dashboard-system.html">
                  <span class="ml-1 item-text">Systems</span></a>
              </li>
            </ul>
          </li>
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
          <span>Components</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
          <li class="nav-item dropdown">
            <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-box fe-16"></i>
              <span class="ml-3 item-text">체험단</span>
<!--               <span class="badge badge-pill badge-primary">New</span> -->
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminExperience">
                  <span class="ml-1 item-text">체험단 목록</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminEXInsertForm">
                  <span class="ml-1 item-text">체험단 등록</span></a>
              </li>
<!--               <li class="nav-item"> -->
<!--                 <a class="nav-link pl-3" href="#"> -->
<!--                   <span class="ml-1 item-text">게시글 등록</span></a> -->
<!--               </li> -->
<!--               <li class="nav-item"> -->
<!--                 <a class="nav-link pl-3" href="#"> -->
<!--                   <span class="ml-1 item-text">게시글 신고관리</span></a> -->
<!--               </li> -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-credit-card fe-16"></i>
              <span class="ml-3 item-text">챌린지</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="forms">
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminChallenge">
                  <span class="ml-1 item-text">챌린지 목록</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminCHInsertForm">
                  <span class="ml-1 item-text">챌린지 등록</span></a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-grid fe-16"></i>
              <span class="ml-3 item-text">공동구매</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="tables">
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminGroupPurchase">
                  <span class="ml-1 item-text">공동구매 목록</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminGPInsertFrom">
                  <span class="ml-1 item-text">공동구매 등록</span></a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-pie-chart fe-16"></i>
              <span class="ml-3 item-text">BOARD</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="charts">
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminFaq"><span class="ml-1 item-text">FAQ</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/adminNotice">
                  <span class="ml-1 item-text">NOTICE</span></a>
              </li>
            </ul>
          </li>
          
           <li class="nav-item dropdown">
            <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-pie-chart fe-16"></i>
              <span class="ml-3 item-text">회원관리</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="charts">
              <li class="nav-item">
                <a class="nav-link pl-3" href="/admin/usrList"><span class="ml-1 item-text">회원리스트</span></a>
              </li>
            </ul>
          </li>
<!--         </ul> -->
<!--         <P CLASS="TEXT-MUTED NAV-HEADING MT-4 MB-1"> -->
<!--           <SPAN>회원관리</SPAN> -->
<!--         </P> -->
<!--         <UL CLASS="NAVBAR-NAV FLEX-FILL W-100 MB-2"> -->
<!--           <LI CLASS="NAV-ITEM W-100"> -->
<!--             <A CLASS="NAV-LINK" HREF="/ADMIN/USRLIST"> -->
<!--               <I CLASS="FE FE-CALENDAR FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">CALENDAR</SPAN> -->
<!--             </A> -->
<!--           </LI> -->
<!--           <LI CLASS="NAV-ITEM DROPDOWN"> -->
<!--             <A HREF="#CONTACT" DATA-TOGGLE="COLLAPSE" ARIA-EXPANDED="FALSE" CLASS="DROPDOWN-TOGGLE NAV-LINK"> -->
<!--               <I CLASS="FE FE-BOOK FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">CONTACTS</SPAN> -->
<!--             </A> -->
<!--             <UL CLASS="COLLAPSE LIST-UNSTYLED PL-4 W-100" ID="CONTACT"> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="#"> -->
<!--                 <SPAN CLASS="ML-1">블랙리스트 관리</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="#"> -->
<!--                 <SPAN CLASS="ML-1">회원 신고관리</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="#"> -->
<!--                 <SPAN CLASS="ML-1">NEW CONTACT</SPAN></A> -->
<!--             </UL> -->
<!--           </LI> -->
<!--           <LI CLASS="NAV-ITEM DROPDOWN"> -->
<!--             <A HREF="#PROFILE" DATA-TOGGLE="COLLAPSE" ARIA-EXPANDED="FALSE" CLASS="DROPDOWN-TOGGLE NAV-LINK"> -->
<!--               <I CLASS="FE FE-USER FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">PROFILE</SPAN> -->
<!--             </A> -->
<!--             <UL CLASS="COLLAPSE LIST-UNSTYLED PL-4 W-100" ID="PROFILE"> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./PROFILE.HTML"> -->
<!--                 <SPAN CLASS="ML-1">OVERVIEW</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./PROFILE-SETTINGS.HTML"> -->
<!--                 <SPAN CLASS="ML-1">SETTINGS</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./PROFILE-SECURITY.HTML"> -->
<!--                 <SPAN CLASS="ML-1">SECURITY</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./PROFILE-NOTIFICATION.HTML"> -->
<!--                 <SPAN CLASS="ML-1">NOTIFICATIONS</SPAN></A> -->
<!--             </UL> -->
<!--           </LI> -->
<!--           <LI CLASS="NAV-ITEM DROPDOWN"> -->
<!--             <A HREF="#FILEMAN" DATA-TOGGLE="COLLAPSE" ARIA-EXPANDED="FALSE" CLASS="DROPDOWN-TOGGLE NAV-LINK"> -->
<!--               <I CLASS="FE FE-FOLDER FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">FILE MANAGER</SPAN> -->
<!--             </A> -->
<!--             <UL CLASS="COLLAPSE LIST-UNSTYLED PL-4 W-100" ID="FILEMAN"> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./FILES-LIST.HTML"> -->
<!--                 <SPAN CLASS="ML-1">FILES LIST</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./FILES-GRID.HTML"> -->
<!--                 <SPAN CLASS="ML-1">FILES GRID</SPAN></A> -->
<!--             </UL> -->
<!--           </LI> -->
<!--           <LI CLASS="NAV-ITEM DROPDOWN"> -->
<!--             <A HREF="#SUPPORT" DATA-TOGGLE="COLLAPSE" ARIA-EXPANDED="FALSE" CLASS="DROPDOWN-TOGGLE NAV-LINK"> -->
<!--               <I CLASS="FE FE-COMPASS FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">HELP DESK</SPAN> -->
<!--             </A> -->
<!--             <UL CLASS="COLLAPSE LIST-UNSTYLED PL-4 W-100" ID="SUPPORT"> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./SUPPORT-CENTER.HTML"> -->
<!--                 <SPAN CLASS="ML-1">HOME</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./SUPPORT-TICKETS.HTML"> -->
<!--                 <SPAN CLASS="ML-1">TICKETS</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./SUPPORT-TICKET-DETAIL.HTML"> -->
<!--                 <SPAN CLASS="ML-1">TICKET DETAIL</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./SUPPORT-FAQS.HTML"> -->
<!--                 <SPAN CLASS="ML-1">FAQS</SPAN></A> -->
<!--             </UL> -->
<!--           </LI> -->
<!--         </UL> -->
<!--         <P CLASS="TEXT-MUTED NAV-HEADING MT-4 MB-1"> -->
<!--           <SPAN>EXTRA</SPAN> -->
<!--         </P> -->
<!--         <UL CLASS="NAVBAR-NAV FLEX-FILL W-100 MB-2"> -->
<!--           <LI CLASS="NAV-ITEM DROPDOWN"> -->
<!--             <A HREF="#PAGES" DATA-TOGGLE="COLLAPSE" ARIA-EXPANDED="FALSE" CLASS="DROPDOWN-TOGGLE NAV-LINK"> -->
<!--               <I CLASS="FE FE-FILE FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">PAGES</SPAN> -->
<!--             </A> -->
<!--             <UL CLASS="COLLAPSE LIST-UNSTYLED PL-4 W-100 W-100" ID="PAGES"> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./PAGE-ORDERS.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">ORDERS</SPAN> -->
<!--                 </A> -->
<!--               </LI> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./PAGE-TIMELINE.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">TIMELINE</SPAN> -->
<!--                 </A> -->
<!--               </LI> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./PAGE-INVOICE.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">INVOICE</SPAN> -->
<!--                 </A> -->
<!--               </LI> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./PAGE-404.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">PAGE 404</SPAN> -->
<!--                 </A> -->
<!--               </LI> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./PAGE-500.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">PAGE 500</SPAN> -->
<!--                 </A> -->
<!--               </LI> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./PAGE-BLANK.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">BLANK</SPAN> -->
<!--                 </A> -->
<!--               </LI> -->
<!--             </UL> -->
<!--           </LI> -->
<!--           <LI CLASS="NAV-ITEM DROPDOWN"> -->
<!--             <A HREF="#AUTH" DATA-TOGGLE="COLLAPSE" ARIA-EXPANDED="FALSE" CLASS="DROPDOWN-TOGGLE NAV-LINK"> -->
<!--               <I CLASS="FE FE-SHIELD FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">AUTHENTICATION</SPAN> -->
<!--             </A> -->
<!--             <UL CLASS="COLLAPSE LIST-UNSTYLED PL-4 W-100" ID="AUTH"> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./AUTH-LOGIN.HTML"> -->
<!--                 <SPAN CLASS="ML-1">LOGIN 1</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./AUTH-LOGIN-HALF.HTML"> -->
<!--                 <SPAN CLASS="ML-1">LOGIN 2</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./AUTH-REGISTER.HTML"> -->
<!--                 <SPAN CLASS="ML-1">REGISTER</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./AUTH-RESETPW.HTML"> -->
<!--                 <SPAN CLASS="ML-1">RESET PASSWORD</SPAN></A> -->
<!--               <A CLASS="NAV-LINK PL-3" HREF="./AUTH-CONFIRM.HTML"> -->
<!--                 <SPAN CLASS="ML-1">CONFIRM PASSWORD</SPAN></A> -->
<!--             </UL> -->
<!--           </LI> -->
<!--           <LI CLASS="NAV-ITEM DROPDOWN"> -->
<!--             <A HREF="#LAYOUTS" DATA-TOGGLE="COLLAPSE" ARIA-EXPANDED="FALSE" CLASS="DROPDOWN-TOGGLE NAV-LINK"> -->
<!--               <I CLASS="FE FE-LAYOUT FE-16"></I> -->
<!--               <SPAN CLASS="ML-3 ITEM-TEXT">LAYOUT</SPAN> -->
<!--             </A> -->
<!--             <UL CLASS="COLLAPSE LIST-UNSTYLED PL-4 W-100" ID="LAYOUTS"> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./INDEX.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">DEFAULT</SPAN></A> -->
<!--               </LI> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./INDEX-HORIZONTAL.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">TOP NAVIGATION</SPAN></A> -->
<!--               </LI> -->
<!--               <LI CLASS="NAV-ITEM"> -->
<!--                 <A CLASS="NAV-LINK PL-3" HREF="./INDEX-BOXED.HTML"> -->
<!--                   <SPAN CLASS="ML-1 ITEM-TEXT">BOXED</SPAN></A> -->
<!--               </LI> -->
<!--             </UL> -->
<!--           </LI> -->
        </ul>
      </nav>
    </aside>

    <main role="main" class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="row align-items-center mb-2"></div>
          </div>
          <!-- .col-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container-fluid -->

      <!-- 여기에 들어가는건가...? 뭐가..? -->
      <div class="uk-container" layout:fragment="content"></div>

    </main>
    <!-- main -->
  </div>
  <!-- .wrapper -->

</body>

</html>