<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{frame/feed}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link href="assets/images/favicon.png" rel="icon" type="image/png">

<!-- Basic Page Needs
        ================================================== -->
<title>Instello Sharing Photos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
   content="Instello - Sharing Photos platform HTML Template">

<!-- icons
        ================================================== -->
<link rel="stylesheet" href="assets/css/icons.css">

<!-- CSS 
        ================================================== -->
<link rel="stylesheet" href="assets/css/uikit.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/tailwind-dark.css">

<!-- 인증 모달 -->
<!-- <link href="/modal-template/css/style.css" rel="stylesheet"> -->
<style>
/*@media (min-width: 1024px) {
            header .header_inner {
                max-width: 980px;
            }

            .pro-container {
                max-width: 860px;
            }
        }*/
.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   /*width: 40%;*/
   width: auto;
   height: auto;
   border-radius: 5px;
   text-align: center;
   margin: 0 auto;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
   border-radius: 5px 5px 0 0;
}

.Cardcontainer {
   padding: 2px 16px;
}

.Calendar {
   text-align: center;
   margin-right: 0px;
   margin: 0 auto;
   width: 500px;
}

.Calendar>thead {
   width: 500px
}

.Calendar>tbody {
   width: 500px
}

.Calendar>thead>tr {
   text-align: center;
}

.calendar>tbody>tr {
   width: 1500px;
}

.Calendar>thead>tr:first-child>td {
   font-family: 'Questrial', sans-serif;
   font-size: 1.1em;
   font-weight: bold;
   width: auto;
   text-align: center;
}

.Calendar>thead>tr:last-child>td {
   font-family: 'Questrial', sans-serif;
   font-weight: 600;
   width: auto;
   text-align: center;
}

.Calendar>tbody>tr>td>p {
   font-family: 'Montserrat', sans-serif;
   height: 45px;
   width: 45px;
   border-radius: 45px;
   transition-duration: .2s;
   line-height: 45px;
   margin: 2.5px;
   display: block;
   text-align: center;
}

.Cal {
   height: auto;
   width: auto;
   margin: 0px;
   padding: 0px;
   margin: 0 auto;
   border-radius: 5px;
   text-align: center;
}
</style>



</head>

<body>
   <div layout:fragment="content">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   

      <!--<div id="wrapper">-->

      <!-- btn night mode -->

      <!-- Logo -->

      <!-- Messages -->

				

      <div class="container pro-container m-auto">
      		<h4>
				<b style="text-align:center">MY STORY</b>
			</h4>

         <!-- profile-cover-->
         <div
            class="flex lg:flex-row flex-col items-center lg:py-8 lg:space-x-8">
            <div>
               <div
                  class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full m-0.5 mr-2  w-56 h-56 relative overflow-hidden uk-transition-toggle">
                  <img th:src=${selects.profileImgPath}
                     class="bg-gray-200 border-4 border-white rounded-full w-full h-full dark:border-gray-900">
               </div>
            </div>

            <div
               class="lg:w/8/12 flex-1 flex flex-col lg:items-start items-center">
               <input type="hidden" id="feedUserId" th:value="${selects.userId}">

               <h2 class="font-semibold lg:text-2xl text-lg mb-2">[[${selects.nickName}]]</h2>
               <p class="lg:text-left mb-2 text-center  dark:text-gray-100">
                 <p>등급 [[${selects.grade}]]</p> 
                 <p>평균점수 [[${mealavg.meal_Avg}]]</p> 
               <div class="flex font-semibold mb-3 space-x-2  dark:text-gray-10">
<!--                   <a href="#story-modal2" uk-toggle>포인트</a> , <a href="#">Sports</a> -->
<!--                   , <a href="#">Movies</a> -->
               </div>


				<div th:if="${session.userId == selects.userId}">
	               <div
	                  class="capitalize flex font-semibold space-x-3 text-center text-sm my-2">
	                  <a href="/feedUpload"
	                     class="bg-gray-300 shadow-sm p-2 px-6 rounded-md dark:bg-gray-700">
	                     식단기록</a> 
	                     <a   href="javascript:atCk();"
	                     class="bg-pink-500 shadow-sm p-2 pink-500 px-6 rounded-md text-white hover:text-white hover:bg-pink-600">
	                     출석체크</a>
	               </div>
               </div>
               <div th:unless="${session.userId == selects.userId}" id="followButton">
               		<!-- 팔로우  -->
					<button type="button" class="follow" style="font-size:17px; padding:auto 30px auto 30px"></button>
					<br><br>
               </div>

               <div
                  class="divide-gray-300 divide-transparent divide-x grid grid-cols-3 lg:text-left lg:text-lg mt-3 text-center w-full dark:text-gray-100">
                  <div class="flex lg:flex-row flex-col" style="cursor: pointer"
                     onclick="">[[${mealcnt.POST_CNT}]]
                   <strong class="lg:pl-2">게시글</strong>
                  </div>
                  <div class="lg:pl-4 flex lg:flex-row flex-col" style="cursor: pointer" data-toggle="modal" data-target="#followerModal" th:onclick="followerList([[${selects.userId}]])"  id="followee">
                     [[ ${follow.followeeCnt} ]] <strong class="lg:pl-2">팔로워</strong>
                  </div>
                  <div class="lg:pl-4 flex lg:flex-row flex-col" style="cursor: pointer" data-toggle="modal" data-target="#followerModal" th:onclick="followingList([[${selects.userId}]])">
                     [[ ${follow.followerCnt} ]] <strong class="lg:pl-2">팔로잉</strong>
                  </div>
                  <input type="hidden" id="followeeCnt" th:value="${follow.followeeCnt}">
               </div>

            </div>

            <div class="w-20"></div>

         </div>

         <!-- </div>-->


         <!--날짜 표시부분-->
         <div class="Cal">
            <table class="Calendar">
               <thead>
                  <tr>
                     <td style="width: 100px"></td>
                     <td onclick="prevCalendar();" style="cursor: pointer;">&#60;</td>
                     <td style="width: 500px"><span id="calYear"></span>- <span
                        id="calMonth"></span>- <span id="calDate"></span></td>
                     <td onclick="nextCalendar();" style="cursor: pointer;" id="nodate">&#62;</td>
                     <td style="width: 100px"></td>
                  </tr>
               </thead>
               <tbody id="tbd">

               </tbody>


               <!--             <tbody> -->
               <!--                <tr> -->
               <!--                   <td colspan="6"> -->
               <!--                    <div class="card"> -->
               <!--                     <a href="#story-modal" uk-toggle> -->
               <!--                     <img src="assets/images/momeal.png" alt="Avatar" style="width:100%"> -->
               <!--                     </a> -->
               <!--                     <div class="Cardcontainer"> -->
               <!--                          <h4><b>아침</b></h4>  -->
               <!--                          <p>식사량</p>  -->
               <!--                          <p>1</p>  -->
               <!--                          <p>2</p>  -->
               <!--                     </div> -->
               <!--                   </div>   -->
               <!--                </td> -->
               <!--                </tr> -->

               <!--             </tbody> -->
            </table>
         </div>


         <!--사진보여주는 부분 for문 돌리기-->

         <!--     <div class="card"> -->
         <!--         <a href="#story-modal" uk-toggle> -->
         <!--         <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
         <!--         </a> -->
         <!--         <div class="Cardcontainer"> -->
         <!--           <h4><b>${meal.typeCode}</b></h4>  -->
         <!--           <p>식사량 : ${meal.mealAmount} </p>  -->
         <!--           <p>2${meal.mealTime}</p>  -->
         <!--           <p>3${meal.subject}</p>  -->

         <!--         </div> -->
         <!--       </div> -->
      </div>


      <!-- Story modal -->
      <form  action="mealSelect">
      <div id="story-modal" class="uk-modal-container" uk-modal>
               
         <div class="uk-modal-dialog story-modal">
            <button
               class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white"
               type="button" uk-close></button>

            <div class="story-modal-media">
               <img src="" alt=""
                  class="inset-0 h-full w-full object-cover" id="mealImg" style="width: 820px;">
            </div>
            <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">

               <!-- post header-->
               <div
                  class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                  <div class="flex flex-1 items-center space-x-4">
                     <a href="#">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                           <img th:src=${selects.profileImgPath}
                              class="bg-gray-200 border border-white rounded-full w-8 h-8">
                        </div>
                     </a> <span class="block text-lg font-semibold"> [[${selects.nickName}]]
                     </span>
                  </div>
                  <a href="#"> <i
                     class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                  </a>
               </div>
               <div class="story-content p-4 oneFeed" data-simplebar id="scrollDiv">
<!--                      <span>식단점수<p id="mealScore"></p></span> <span>식사<p id="typeCode">식단점수</p></span> -->
                     <input type="hidden" id="no">
                     
<!--                      <span>시간<p id="mealTime"></p></span> -->
<!--                       <span>얼마만큼?<p id="mealAmount"></p></span> -->
<!--                       <span><p id="subject"></p></span> -->
							<span><b><span id="typeCode"></span></b>&nbsp;<span id="mealTime"></span>&nbsp;<span id="mealAmount"></span></span>
							<br>
							식단 점수 : <span id="mealScore"></span>
							<br>
							<p id="subject"></p>
							
                  <div class="py-4 ">
                     <div class="flex justify-around">
                        <a href="#" class="flex items-center space-x-3">
                           <div class="flex font-bold items-baseline modalHeart heart ">
                             <!-- 좋아요 들어간 자리 -->
                           </div>
                        </a>
                        <th:block th:if="${session.userId == selects.userId}">
                        <button type="button" onclick = "feedUpdteForm();">글수정</button>
                        <button type="button"  onclick="feedDel();">글삭제</button>
						</th:block>
                     </div>
                     <hr class="-mx-4 my-3">
                     
                  </div>

					<!-- 댓글 -->
                  <div class="-mt-1 space-y-1" id="reply"></div>


               </div>
               <div class="p-3 border-t dark:border-gray-600">
                 <div
								class="bg-gray-200 dark:bg-gray-700 rounded-full rounded-md relative">
								<input type="text" placeholder="댓글을 입력하세요."
									class="bg-transparent max-h-8 shadow-none" id="cmmtSubject">
								<div
									class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
									<a href=""><button type="button" style="font-size: 10px;"
											onclick="cmmtInsert()">등록</button></a> 
											<input type="hidden" id="postNo">
											<input type="hidden" th:value="${session.userId}" id="sessionId">
								</div>
							</div>
               </div>

            </div>

         </div>
      </div>
   </form>


      <!-- 포인트 모달 -->
      <!-- Story modal -->
      <div id="story-modal2" class="uk-modal-container" uk-modal>
         <div class="uk-modal-dialog story-modal">
            <button
               class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white"
               type="button" uk-close></button>
         </div>
      </div>
      
      
      <!-- 팔로우 리스트 모달 -->
      <div class="modal fade" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
         <div class="modal-dialog" role="document" style="width:400px;">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="Modal-label-1"></h5>
                  <button type="button" class="close" data-dismiss="modal"
                     aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body" id="followList" style="padding: 20px;">
                  <!-- ajax 반복문 돌려서 리스트 띄우는 곳 -->
               </div>
            </div>
         </div>
      </div>
      <!-- 팔로우 리스트 모달 끝 -->

      <!-- Scripts
    ================================================== -->
      <script src="assets/js/tippy.all.min.js"></script>
      <script src="assets/js/jquery-3.3.1.min.js"></script>
      <script src="assets/js/uikit.js"></script>
      <script src="assets/js/simplebar.js"></script>
      <script src="assets/js/custom.js"></script>


      <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script>
toastr.options = {

		  "showDuration": "50",
		  "hideDuration": "100",
		 
		}


</script>


<script>
let sessionId = $("#sessionId").val();
let storyUserId = $("#feedUserId").val();
let followeeCnt = $("#followeeCnt").val();

window.onload = function () { 
	
	buildCalendar(); // 웹 페이지가 로드되면 buildCalendar 실행
	
	// ▶ 팔로우 유무 체크 후 버튼 띄우기
	// ajax 처리
	$.ajax ({
	type: 'post',
	url: '/followCheck/' + storyUserId
	})
	.then (result => {
		if(sessionId != storyUserId) {
			if(result == 0) {
				$(".follow").attr("id", "followBtn");
                $(".follow").attr("value", storyUserId);
                $(".follow").attr("onclick", "follow('" + storyUserId + "')");
                $(".follow").addClass("btn btn-outline-success");
                $(".follow").text("팔로우");
			}else {
				$(".follow").attr("id", "unfollowBtn");
                $(".follow").attr("value", storyUserId);
                $(".follow").attr("onclick", "unfollow('" + storyUserId + "')");
                $(".follow").addClass("btn btn-outline-secondary");
                $(".follow").text("언팔로우");
			}
		}
	})
}    

let postNo = $(this).data("no");
let today = new Date();     // 페이지를 로드한 날짜를 저장
today.setHours(0, 0, 0, 0);  // 비교 편의를 위해 today의 시간을 초기화

let userId = $("#feedUserId").val(); // 피드 주인의 아이디 저장

// 피드생성
function buildCalendar() {

    //let tbody_Calendar = document.querySelector(".Calendar > tbody");
    document.getElementById("calYear").innerText = today.getFullYear();            
    document.getElementById("calMonth").innerText = leftPad(today.getMonth() + 1);
    document.getElementById("calDate").innerText = leftPad(today.getDate()); 
   
      let year =document.getElementById("calYear").innerText
     let month =document.getElementById("calMonth").innerText
     let date =document.getElementById("calDate").innerText
     let thisDay = year +  month + date
     console.log(thisDay)
     
     $.ajax({
       url:"/usr/myFeed/"+ userId + "/" + thisDay,

       success:function(res){
          $('#tbd').empty()
         //console.log(res[0].typeCode)
         if(res[0] == null){
        	 if(userId == sessionId){
        	 toastr.success('등록된식단이 없습니다.');
        	 }
         }
         $(res).each(function(i, res){
            console.log(res)
            
         let tr = `
         <tr>
              <td colspan="6">
               <div class="card" >
                <a href="#story-modal" class="show" uk-toggle data-no="${res.no}">
                <img src="${res.fileDir}" alt="Avatar" style="width:100%; height:100%;">
                </a>
                <div class="Cardcontainer">
                      <div>${res.typeCode}<b></b></div> 
                        <div>식사량: ${res.mealAmount}</div> 
                       <div>${res.subject}</div> 
                 </div>
               </div>  
           </tr>
         `
            
         $('#tbd').append(tr)
         
   
         })
          
       }
     })
}


// 이전 버튼 클릭
function prevCalendar() {
   today = new Date(today.getFullYear(), today.getMonth() , today.getDate()-1);
   

    buildCalendar();    // 폼 다시 생성

}

// 다음 버튼 클릭
function nextCalendar() {
    nextday = new Date(today.getFullYear(), today.getMonth() , today.getDate()+1);
    var currentDate = new Date();
    currentDate.setHours(0, 0, 0, 0);
    if (nextday > currentDate) {
    	
		toastr.info('다음 날짜가 없습니다');
   
          return; 
          
   }
   today = new Date(today.getFullYear(), today.getMonth() , today.getDate()+1); 
   buildCalendar();    // 폼 다시 생성       
       
}






// input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
function leftPad(value) {
	
	event.preventDefault() // a, submit (페이지 이동 막음)
	event.stopPropagation()
	
    if (value < 10) {
        value = "0" + value;
        return value;
    }
    return value;
}


//상세보기
$('#tbd').on("click",".show",function(){
   let no = $(this).data("no")
   

   
   $(".modalHeart").empty()
   
   $.ajax({
      url: "/mealSelect/" +no
   })

   .then(obj => {
	
      $("#mealImg").attr("src", obj.fileDir);
      $("#mealScore").text(obj.mealScore);
      $('#no').val(obj.no);
      $('#postNo').val(obj.no);
      $('#typeCode').text(obj.typeCode);
      $('#mealTime').text(obj.mealTime);
	  $('#mealAmount').text(obj.mealAmount);  
	  $('#subject').text(obj.subject);
	  
   // 모달안에 좋아요
      if(obj.likeNo != 0) {     
      	$(".modalHeart").append(	`<img src="/assets/images/heart.svg" class="fullHeart">`          	)
      	$(".modalHeart").data("likeno", obj.likeNo);
      } else {
      	$(".modalHeart").append( 	`<img src="/assets/images/emptyHeart.svg" class="emptyHeart">`        	)
      	$(".modalHeart").closest(".oneFeed").data("no", no);
      }
   
      
   
      commentList(no);
   
   });
})


 $(function(){
			
			// 좋아요 인서트
			$(document).on("click", ".emptyHeart", function(){
				event.preventDefault() // a, submit (페이지 이동 막음)
				event.stopPropagation()
				
				let oneFeed = $(this).closest(".oneFeed")
				let no = $(this).closest(".oneFeed").data("no");
				let heart = $(this).parent(".heart")

				console.log(no);
				
				$.ajax({
					type: 'POST',
					url: "/insertLikeMeal/" + no,
				})
					.then(result => {
						oneFeed.data("likeno", result.no);
							heart.html(`<img src="/assets/images/heart.svg" class="fullHeart">`) // 빨간하트
				//    location.reload();
					
					});
				});
				
			
			
			// 좋아요 삭제
			$(document).on("click", ".fullHeart", function(){
				let no = $(this).parent(".heart").data("likeno");
				let heart = $(this).parent(".heart")
				
				event.preventDefault()
				event.stopPropagation()

				$.ajax({
					type: 'POST',
					url: "/myLikeDel/" + no,
				})
					.then(result => {
						console.log(result)
						heart.html(`<img src="/assets/images/emptyHeart.svg" class="emptyHeart">`)// 빈 하트
           //      location.reload();
					});
				});
			});


//출석중복체크
function atCk(){
   fetch("/ajaxAtCheck")
      .then(response => response.text())
      .then(data => isCheckResult(data));
}
function isCheckResult(data){
   console.log(data)
   if(data == "true") {
      alert("이미 출석을 완료했습니다");
   }else if(data == "false"){
      alert("출석");
   }
}

//피드삭제
function feedDel(){
   let no = $('#no').val()
   console.log(no);
   $.ajax({
      url : "/mealDelete/" +no,
      success: function(res){
         alert("삭제 되었습니다")
         location.href = "/usr/myFeed/" + userId         
      },
      error:function(err){
         console.log(err)
      }
   })

}

function feedUpdteForm(){
	   let no = $('#no').val()
	   location.href = "/feedUpdateForm/" + no
}



// ▶ 팔로우 관련
// ▶ 팔로우 처리
      function follow(userId) {
         event.preventDefault()

         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/follow/' + userId, // 피드 유저의 id를 넘겨줘야함
            contentType: 'application/json'   // Content-Type을 Json으로 변경
         })
         .then(result => {
            console.log("팔로우 신청 결과 ===== " + result.followeeId)
            $(".follow").remove();
            $("#followButton").prepend(
            `
            <button type="button" class="follow" style="font-size:17px; padding:auto 30px auto 30px"></button>
            `		
            )
            $(".follow").attr("id", "unfollowBtn");
            $(".follow").attr("value", result.followeeId);
            $(".follow").attr("onclick", "unfollow('" + result.followeeId + "')");
            $(".follow").addClass("btn btn-outline-secondary");
            $(".follow").text("언팔로우");
            followeeCnt = Number(followeeCnt) + 1;
            $("#followee").html(followeeCnt + '<strong class="lg:pl-2">팔로워</strong>')
         })
      }
      
      
      // ▶ 언팔로우 처리
      function unfollow(userId) {
         console.log("언팔할 아이디 가져왔어? ===== " + userId);
         
         // ajax 처리
         $.ajax ({
            type: 'post',
            url: '/unfollow/' + userId, // 피드 유저의 id를 넘겨줘야함
            contentType: 'application/json'   // Content-Type을 Json으로 변경
         })
         .then(result => {
            console.log("언팔로우 결과 ===== " + result.followeeId)
            $(".follow").remove();
            $("#followButton").prepend(
            `
            <button type="button" class="follow" style="font-size:17px; padding:auto 30px auto 30px"></button>
            `		
            )
            $(".follow").attr("id", "followBtn");
            $(".follow").attr("value", result.followeeId);
            $(".follow").attr("onclick", "follow('" + result.followeeId + "')");
            $(".follow").addClass("btn btn-outline-success");
            $(".follow").text("팔로우");
            followeeCnt = Number(followeeCnt) - 1;
            $("#followee").html(followeeCnt + '<strong class="lg:pl-2">팔로워</strong>')
         })
      };

      
// 팔로워 리스트 출력
function followerList(userId) {
   // 제목 생성
   $(".modal-title").text("팔로워")

   // 리스트 비우기
   $("#followList").empty()
   
   // ajax 처리
   $.ajax ({
      url: "/follower/" + userId,
      type: "post"
   })
   .then(result => {
	   if(result.length == 0) {
		   $("#followList").append(
			`<p>팔로워가 없습니다.</p>`	   
		   )
	   }
      // 리스트 목록 반복문 돌려서 붙이기
      $(result).each(function(index, item) {
         $("#followList").append(
         `
         <div class="py-2" style="padding-left: 30px;">
            <div class="flex flex-1 items-center space-x-4">
               <a href="#">
                  <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                     <img src="${item.profileImgPath}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                  </div>
               </a> 
               <span class="block text-lg font-semibold">${item.nickName}</span>
            </div>
         </div>
         `
         )
      })
   })
}

// 팔로잉 리스트 출력
function followingList(userId) {
   // 제목 생성
   $(".modal-title").text("팔로잉")
   
   // 리스트 비우기
   $("#followList").empty()
   
   // ajax 처리
   $.ajax ({
      url: "/following/" + userId,
      type: "post"
   })
   .then(result => {
	   if(result.length == 0) {
		   $("#followList").append(
			`<p>팔로잉 중인 회원이 없습니다.</p>`	   
		   )
	   }
	   
      // 리스트 목록 반복문 돌려서 붙이기
      $(result).each(function(index, item) {
         $("#followList").append(
         `
         <div class="py-2" style="padding-left: 30px;">
            <div class="flex flex-1 items-center space-x-4">
               <a href="#">
                  <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                     <img src="${item.profileImgPath}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                  </div>
               </a>
               <span class="block text-lg font-semibold">${item.nickName}</span>
            </div>
         </div>
         `
         )
      })
   })
}
</script>
   </div>
</body>
</html>