<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Challenge</title>

</head>
<body>
	<div layout:fragment="content">

		<div class="header_search">

			<!-- 검색창 -->
			<form id="frmSearch" name="frmSearch">
				<div class="bg-gray-100 input-with-icon rounded-md dark:bg-gray-700"
					width="300px">
					<input id="autocomplete-input" type="text" placeholder="Search"
						class="bg-transparent max-h-10 shadow-none"> <i
						class="icon-material-outline-search"></i>
				</div>

				<div class="flex h-full space-x-2">
					<button type="submit"
						class="bg-blue-600 font-semibold px-6 py-2 rounded-md text-white">Send</button>
				</div>
			</form>
			<!-- 게시판이름 -->
			<h1
				class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">
				추천 챌린지</h1>

			<!-- 슬라이드 시작 -->
			<div class="relative" uk-slider="finite: true">

				<div class="uk-slider-container pb-3 -ml-3">

					<ul
						class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-small">
						<!-- onclick으로 페이지 이동 걸 때는 요렇게 -->
						<li th:each="rec : ${challRec}"
							th:onclick="'location.href=\''+ @{/challenge/{no}(no = ${rec.NO})} + '\''">
							<div th:data-challno="${rec.NO}" th:data-likeno="${rec.LIKE_NO}" class="oneChall">
								<div class="bg-red-400 max-w-full lg:h-56 h-48 rounded-lg relative overflow-hidden uk-transition-toggle">
									<img th:src="${rec.THUMBNAIL_IMG_PATH}"
										class="w-full h-full absolute object-cover inset-0 scale-150">
									<!-- transform 지우니까 이미지가 더 작게 나옴!-->
									
									<div class="flex flex-1 items-center absolute bottom-0 w-full p-3 text-white">
										<!-- 마우스 오버로 하트 보이게 하려면 추가하기 custom-overly1 uk-transition-slide-bottom-medium -->
										<div class="flex space-x-2 flex-1 lg:flex-initial justify-around">

											<!-- 좋아요 처리 -->
											<div th:if="${session.userId != null}" class="heart">
												<th:block th:if="${rec.LIKE_NO != 0}">
													<a href="#" class="fullHeart"> <!-- class="heart-click heart_icon${rec.LIKE_NO }" -->
														<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16" style="color: red;">
	                           						<path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
	                            					</svg>
													</a>
												</th:block>
												<th:block th:unless="${rec.LIKE_NO != 0}">
													<a href="#" class="emptyHeart"> <!-- class="heart-click heart_icon${rec.LIKE_NO }" -->
														<svg xmlns="http://www.w3.org/2000/svg" width="30"
															height="30" fill="currentColor" class="bi bi-suit-heart"
															viewBox="0 0 16 16" style="color: white;">
					                                  <path
																d="M8 6.236l-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
					                                </svg>
													</a>
												</th:block>
											</div>
										</div>
									</div>
								</div>

								<!-- 제목부분 -->
								<div class="market-list">
									<div class="item-inner">
										<div class="item-price">
											<br>
										</div>
										<a th:text="${rec.TITLE}"></a>
										<div class="item-title">Brown headphones</div>
										<div class="item-statistic">
											<span> <span class="count">4</span> likes
											</span> <span> <span class="count">106</span> views
											</span>
										</div>
									</div>
								</div>
								<!-- 								</a> -->
							</div>
						</li>

					</ul>

					<a
						class="uk-position-center-left uk-position-small p-3.5 bg-white rounded-full w-10 h-10 flex justify-center items-center -mx-4 mb-6 shadow-md dark:bg-gray-800 dark:text-white"
						href="#" uk-slidenav-previous uk-slider-item="previous"></a> <a
						class="uk-position-center-right uk-positsion-small p-3.5 bg-white rounded-full w-10 h-10 flex justify-center items-center -mx-4 shadow-md dark:bg-gray-800 dark:text-white"
						href="#" uk-slidenav-next uk-slider-item="next"></a>

				</div>

			</div>
			<!-- 슬라이드 끝 -->



			<h1
				class="font-extrabold leading-none mb-6 mt-8 lg:text-2xl text-lg text-gray-900 tracking-tight">
				참여 가능한 챌린지</h1>
			<!-- 이미지 -->

			<div
				class="my-3 grid lg:grid-cols-5 grid-cols-2 gap-3 hover:text-yellow-700 uk-link-reset">
				<!-- 한 블럭 시작 -->
				<div th:each="chall : ${challList}" class="oneChall"
					th:data-challno="${chall.NO}" th:data-likeno="${chall.LIKE_NO}"
					th:onclick="'location.href=\''+ @{/challenge/{no}(no = ${chall.NO})} + '\''">
					<form method="post">
						<div
							class="bg-red-400 max-w-full lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
							<img th:src="${chall.THUMBNAIL_IMG_PATH}"
								class="w-full h-full absolute object-cover inset-0 scale-150">

							<div
								class="flex flex-1 items-center absolute bottom-0 w-full p-3 text-white">
								<div>
									<!-- 좋아요 처리 -->
									<!-- 로그인 유무에 따라 하트 표시하기(로그인 한 경우만 하트 표시) -->
									<div th:if="${session.userId != null}" class="heart">
										<!-- 좋아요 한 챌린지는 빨간 하트 -->
										<th:block th:if="${chall.LIKE_NO != 0}">
											<a href="#" class="fullHeart"> <!--  class="heart-click heart_icon${rec.LIKE_NO }" -->
												<svg xmlns="http://www.w3.org/2000/svg" width="30"
													height="30" fill="currentColor"
													class="bi bi-suit-heart-fill" viewBox="0 0 16 16"
													style="color: red;">
                           						<path
														d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                            					</svg>
											</a>
										</th:block>
										<!-- 좋아요 안 한 챌린지는 빨간 하트 -->
										<th:block th:unless="${chall.LIKE_NO != 0}">
											<a href="#" class="emptyHeart"> <!-- class="heart-click heart_icon${rec.LIKE_NO }" -->
												<svg xmlns="http://www.w3.org/2000/svg" width="30"
													height="30" fill="currentColor" class="bi bi-suit-heart"
													viewBox="0 0 16 16" style="color: white;">
				                                  <path
														d="M8 6.236l-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
				                                </svg>
											</a>
										</th:block>
									</div>
								</div>
							</div>

						</div>

						<!-- 제목부분 -->
						<div class="market-list">
							<div class="item-inner">
								<div class="item-price">
									<br> <a th:text="${chall.TITLE}"></a>
								</div>
								<div class="item-title">Brown headphones</div>
								<div class="item-statistic">
									<span> <span class="count">4</span> likes
									</span> <span> <span class="count">106</span> views
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- 한 블럭 끝 -->
			</div>
		</div>

		<script>
		$(function(){
			
			// 좋아요 인서트
			$(".heart").on("click", ".emptyHeart", function(){
				let no = $(this).closest(".oneChall").data("challno");
				let heart = $(this).parent(".heart")
				
				event.preventDefault() // a, submit (페이지 이동 막음)
				event.stopPropagation()
				console.log(no);
				
				$.ajax({
					type: 'POST',
					url: "/insertLikeChall/" + no,
				})
					.then(result => {
							heart.html(`<a href="#" class="fullHeart">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16" style="color: red;">
               						<path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                					</svg>
									</a>`) // 빨간하트
				    location.reload();
					
					});
				});
				
			
			
			// 좋아요 삭제
			$(".heart").on("click", ".fullHeart", function(){
				let no = $(this).closest(".oneChall").data("likeno");
				let heart = $(this).parent(".heart")
				
				event.preventDefault()
				event.stopPropagation()

				$.ajax({
					type: 'POST',
					url: "/myLikeDel/" + no,
				})
					.then(result => {
						console.log(result)
						heart.html(`<a href="#" class="emptyHeart">
								<svg xmlns="http://www.w3.org/2000/svg" width="30"
								height="30" fill="currentColor" class="bi bi-suit-heart"
								viewBox="0 0 16 16" style="color: white;">
                          <path
									d="M8 6.236l-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                        </svg>
						</a>`)// 빈 하트
                   location.reload();
					});
				});
			});
				
		</script>

	</div>
</body>
</html>