<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{frame/feed}">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Ogani Template">
        <meta name="keywords" content="Ogani, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My challenge</title>

        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link
            rel="stylesheet"
            href="/second-template/css/bootstrap.min.css"
            type="text/css">
        <link
            rel="stylesheet"
            href="/second-template/css/font-awesome.min.css"
            type="text/css">
        <!-- <link rel="stylesheet" href="/ogani-master/css/elegant-icons.css" -->
        <!-- type="text/css"> -->
        <!-- <link rel="stylesheet" href="/ogani-master/css/nice-select.css" -->
        <!-- type="text/css"> -->
        <!-- <link rel="stylesheet" href="/ogani-master/css/jquery-ui.min.css" -->
        <!-- type="text/css"> -->
        <!-- <link rel="stylesheet" href="/ogani-master/css/owl.carousel.min.css" -->
        <!-- type="text/css"> -->
        <!-- <link rel="stylesheet" href="/ogani-master/css/slicknav.min.css" -->
        <!-- type="text/css"> -->
        <link rel="stylesheet" href="/second-template/css/style.css" type="text/css">

        <!-- 리뷰 탭 -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/assets/css/bootstrap.min_grp.css">
        <link rel="stylesheet" href="/assets/css/style_grp.css">

        <!-- 인증 모달 -->
        <link href="/modal-template/css/style.css" rel="stylesheet">

        <style>
            #reviewForm fieldset {
                display: inline-block;
                /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
                direction: rtl;
                /* 이모지 순서 반전 */
                border: 0;
                /* 필드셋 테두리 제거 */
            }
            #reviewForm fieldset legend {
                text-align: left;
            }
            #reviewForm input[type=radio] {
                display: none;
                /* 라디오박스 감춤 */
            }
            #reviewForm label {
                font-size: 30px;
                /* 이모지 크기 */
                color: transparent;
                /* 기존 이모지 컬러 제거 */
                text-shadow: 0 0 0 #f0f0f0;
                /* 새 이모지 색상 부여 */
            }
            #reviewForm label:hover {
                text-shadow: 0 0 0 #FFE324;
                /* 마우스 호버 */
            }
            #reviewForm label:hover ~ label {
                text-shadow: 0 0 0 #FFE324;
                /* 마우스 호버 뒤에오는 이모지들 */
            }
            #reviewForm input[type=radio]:checked ~ label {
                text-shadow: 0 0 0 #FFE324;
                /* 마우스 클릭 체크 */
            }
        </style>
    </head>

    <body>
        <div layout:fragment="content">
            <!-- Product Details Section Begin -->
            <!-- <section class="product-details spad"> -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product__details__pic" align="center">
                            <!-- <div class="product__details__pic__item"> -->
                            <img
                                class="product__details__pic__item--large"
                                th:src="${chall.thumbnailImgPath}"
                                alt=""
                                style="width:330px; height:330px;">
                            <!-- </div> -->

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product__details__text" id="challInfo">
                            <h3>[[ ${chall.title} ]]</h3>
                            <p>[[ ${#dates.format(chall.chalStartDate, 'MM-dd')} ]]([[
								${#dates.dayOfWeekName(chall.chalStartDate)} ]]) ~ [[
								${#dates.format(chall.chalEndDate, 'MM-dd')} ]]([[
								${#dates.dayOfWeekName(chall.chalEndDate)} ]])</p>
							<th:block th:if="${chall.codeId == 'CL01'}">
								<br><br><br>
								<p style="color: red;"><b>[[${#numbers.formatInteger(chall.rewardPoint, 3, 'COMMA')}]]포인트를 획득했어요!</b></p>
							</th:block>
							<th:block th:if="${chall.codeId == 'CL02'}">
								<br><br><br>
								<p style="color: red;"><b>챌린지 완주에 실패했어요😥</b></p>
							</th:block>
							<th:block th:if="${chall.codeId == '0'}">
	                            <p>[[ ${chall.totalDay} ]]일간 진행</p>
	                            <br><br>
							<br>
								<a href="#" class="heart-icon" data-toggle="modal"
									data-target="#Modal-1">인증방법</a> <a href="" class="primary-btn"
									data-toggle="modal" data-target="" onclick="modal()">인증하기</a> <!-- data-target="#Modal-2" -->
							</th:block>
							<th:block th:unless="${chall.codeId == '0'}">
								<th:block th:if="${chall.reviewCheck == 0}">
									<a href="#" class="primary-btn"
										data-toggle="modal" data-target="#review" th:id="|reviewBtn${chall.no}|">후기쓰기</a>
								</th:block>
								<th:block th:unless="${chall.reviewCheck == 0}">
									<a href="#" class="primary-btn"
										data-toggle="modal" data-target="#review" id="reviewBtn" th:onclick="reviewModal([[${chall.no}]])">후기관리</a>
								</th:block>
							</th:block>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="product__details__tab">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#myAuthentication" role="tab"
									aria-selected="true">나의 인증 현황</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#authentication" role="tab" aria-selected="false">참가자
										인증 현황</a></li>

							</ul>

							<!-- 탭 내용들 -->
							<div class="tab-content">
								<!-- 나의 챌린지 탭 시작 -->
								<div class="tab-pane active" id="myAuthentication"
									role="tabpanel">
									<div class="product__details__tab__desc">
										<div id="myPercent">
											<p>달성률</p>
											<h4>
												<b>[[ ${chall.percent} ]]%</b>
											</h4>
										</div>
										<br>
										<div class="row">
											<div class="text-center"></div>
											<div class="col-md-8">
												<!-- skill bar item -->
												<div class="skillbar-item">
													<div class="skillbar" id="myPercentBar" th:data-percent="${chall.percent}">
														<!-- 여기... 달성률 %로 해야해.. -->
														<div class="skillbar-bar">
															<div class="skillbar-percent" style="width:50%;">
																<!-- 여기... 달성률 %로 해야해.. -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<br>
										<div>
											<table>
												<thead>
													<tr align="center">
														<th style="padding-right: 30px">인증성공</th>
														<th>전체 횟수</th>
													</tr>
												</thead>
												<tbody>
													<tr id="imageCount" th:data-challno="${chall.no}">
														<td><h4 id="successCheck"><b>[[ ${chall.success} ]]회</b></h4></td>
														<td><h4 id="totalCheck"><b>[[ ${chall.totalDay} ]]회</b></h4></td>
													<tr>
												</tbody>
											</table>
										</div>
										<br> <br> <br>
										<div>
											<h4>
												<b>나의 인증샷</b>
											</h4>

											<!-- 인증샷 반복문 돌리기 -->
											<div class="row row-0-gutter" id="myValImg">
												<div th:each="img : ${valImg}" class="col-md-3 col-0-gutter text-center">
													<div class="mz-module-about">
														<a href="#" data-toggle="modal" data-target="#imgDetail" th:onclick="imgDetail([[${img.no}]])">
															<img th:src="${img.fileDir}" style="width: 200px; height: 200px;">
														</a>
													</div>
												</div>
											</div>
											<!-- 인증샷 반복문 돌리기 끝 -->

										</div>
									</div>
								</div>
								<!-- 나의 챌린지 탭 끝 -->

								<!-- 챌린지 참가자 탭 시작 -->
								<div class="tab-pane" id="authentication" role="tabpanel">
									<section id="about" class="mz-module">
										<div class="row">
											<div class="col-md-6">
												<div>
													<table>

														<tr>
															<th>현재 참가자 수</th>
														</tr>
														<tr>
															<td><h4>
																	<b>[[ ${chall.particir} ]]명</b>
																</h4></td>
														<tr>
														<tr>
															<td><br></td>
														</tr>
														<tr>
															<th>누적 참가자 수</th>
														</tr>
														<tr>
															<td><h4>
																	<b>[[ ${chall.sumParticir} ]]명</b>
																</h4></td>
														<tr>
													</table>
												</div>
											</div>
											<div class="col-md-6">
												<p style="color: gray;">
													<b>평균 예상 달성률</b>
												</p>
												<h4>
													<b>원형 그래프가 낫나..?</b>
												</h4>
												<br>
												<!-- skill bar item -->
												<div class="skillbar-item">
													<div class="skillbar" data-percent="70%">
														<h3>Marketing</h3>
														<div class="skillbar-bar">
															<div class="skillbar-percent" style="width: 70%;">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<br>
										<br>
										<br>
										<div>
											<h4>
												<b>참가자 인증샷</b>
											</h4>

											<!-- 인증샷 반복문 돌리기 -->
											<div class="row row-0-gutter" id="userValImg">
												<div th:each="userImg : ${userValImg}" class="col-md-3 col-0-gutter text-center">
													<div class="mz-module-about">
														<a href="#" data-toggle="modal" data-target="#imgDetail" th:onclick="imgDetail([[${userImg.no}]])">
															<img th:src="${userImg.fileDir}" style="width: 200px; height: 200px;">
														</a>
													</div>
												</div>
											</div>
											<!-- 인증샷 반복문 돌리기 끝 -->

										</div>
									</section>
								</div>
								<!-- 챌린지 참가자 탭 끝 -->
							</div>

							<!-- 인증방법 모달 -->
							<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog"
								aria-labelledby="Modal-label-1">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="Modal-label-1">챌린지 인증방법</h4>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>인증방법 컬럼이 있어야 할 거 같은데........?</p>
											<br>
											<p>
												<b>✅ 이렇게 찍어주세요</b>
											</p>
											<div align="center">
												<img th:src="${chall.thumbnailImgPath}" alt="img01"
													class="img-responsive" style="width: 300px; height: 300px;" />
											</div>
											<p>요렇게 찍어달라는 인증방법 컬럼도 있어야 할 것 같은데..?🤦‍</p>
										</div>
									</div>
								</div>
							</div>
							<!-- 인증방법 모달 끝 -->

							<!-- 인증창 모달 -->
							<form id="frm" method="post" enctype="multipart/form-data">
								<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog"
									aria-labelledby="Modal-label-1">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="Modal-label-1">인증하기</h4>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body" id="myChallImgModal">
											<!-- 인증 사진 첨부 (script에서 처리) -->
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" id="uploadBtn" onclick="myChallImgInsert()">등록</button>
											</div>
											<input type="hidden" id="userId" name="userId" th:value="${session.userId}">
											<input type="hidden" id="chalNo" name="chalNo" th:value="${chall.no}">
										</div>
									</div>
								</div>
							</form>
							<!-- 인증창 모달 끝 -->
							
							<!-- 인증 이미지 상세 확인 모달 -->
							<div class="modal fade" id="imgDetail" tabindex="-1" role="dialog"
								aria-labelledby="Modal-label-1">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="Modal-label-1">인증사진</h4>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p id="imgDate"></p>
											<p id="userNickName"></p>
											<img src="" alt="img01" id="oneImg"
												class="img-responsive" style="width: 500px; height: 500px;" />
											<th:block th:if="${session.userId} != ${chall.userId}">
											<div class="modal-works" align="right">
												<span>신고</span>
											</div>
											</th:block>
										</div>
<!-- 										<div class="modal-footer"> -->
<!-- 											<button type="button" class="btn btn-default">닫기</button> -->
<!-- 										</div> -->
									</div>
								</div>
							</div>
							<!-- 인증 이미지 상세 확인 모달 끝 -->
							
							
							<!-- 후기 등록 모달 -->
							<form id="reviewForm" method="post">
								<div class="modal fade" id="review" tabindex="-1" role="dialog"
									aria-labelledby="Modal-label-1" align="center">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="Modal-label-1">후기</h4>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body" id="myChallReview" style="padding:30px">
											    <fieldset>
											        <input type="radio" name="star" value="5" id="rate1"><label for="rate1">⭐</label>
											        <input type="radio" name="star" value="4" id="rate2"><label for="rate2">⭐</label>
											        <input type="radio" name="star" value="3" id="rate3"><label for="rate3">⭐</label>
											        <input type="radio" name="star" value="2" id="rate4"><label for="rate4">⭐</label>
											        <input type="radio" name="star" value="1" id="rate5"><label for="rate5">⭐</label>
											    </fieldset>
											    <br><br>
											    <textarea id="subject" name="subject" rows="2" cols="10" placeholder="후기를 작성해주세요."></textarea>
												<div id="text_cnt">(0 / 100)</div>
											</div>
											<div class="modal-footer">
												<th:block th:if="${chall.reviewCheck == 0}">
													<button type="button" class="btn btn-default" id="insertBtn" th:onclick="reviewInsert([[${chall.no}]])">등록</button>
												</th:block>
												<th:block th:unless="${chall.reviewCheck == 0}">
													<button type="button" class="btn btn-default" id="updateBtn" onclick="reviewUpdate()">수정</button>
													<button type="button" class="btn btn-default" id="deleteBtn" th:onclick="reviewDelete([[${chall.no}]])">삭제</button>
												</th:block>
											</div>
											<input type="hidden" id="userId" name="userId" th:value="${session.userId}">
											<input type="hidden" id="no" name="no" th:value="${chall.no}">
										</div>
									</div>
								</div>
							</form>
							<!-- 후기 등록 끝 -->
						</div>
					</div>
				</div>
			</div>
			
			
		<script>
		// ▶ 인증하기 버튼 클릭시 동작
		function modal() {
			// 모달창 body의 내용 지우기
			 $("#myChallImgModal").empty()
			 
			 // 모달창 body에 날짜 넣을 태그, 파일첨부 창 생성
			 $("#myChallImgModal").append(
				`<p id="date"></p>
				<div style="padding: 10px;">
				<input type="file" id="file" name="file" onchange="preview(this)">
				</div>`
			 )
			
			// 오늘 날짜 계산하기
			let today = new Date();   

			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜

			// 계산한 오늘 날짜 출력하기
			$("#date").text(year + '년 ' + month + '월 ' + date + '일')
			
			
			imgCheck()
			
		}
		
		
		// ▶ 첨부파일 버튼 클릭시 동작
		function preview(obj) {

			// 파일이 있는지 확인
            if(!obj.files.length) {
                return;
            }
			
			// 기존 첨부파일이 있다면 지우기
			$("#file").parent().next().remove()
			
			// 미리보기 생성 (이미지 태그의 src에 선택한 파일 데이터를 넣어줌)
			let reader = new FileReader();

			// 
            reader.readAsDataURL(obj.files[0]);
			
            reader.onload = function (data) {
            	let img = $('<img />');
//             	$(img).attr('id', 'myChallImg');
                $(img).attr('src', data.target.result);
                $(img).height(500);
                $(img).width(500);
                
                $("#myChallImgModal").append(img);
            }
		}
			
		// ▶ 인증사진 등록
		function myChallImgInsert() {
			// serialize 왜 안 돼....? form에 있는 userId가 문자열로 안 바껴서 넘어감 ㅠ
// 			let data = $('#frm').serialize();
// 			let data = $("form[id=frm]").serialize();

			var formData = new FormData($('#frm')[0])
			
			if(confirm("인증사진은 등록 후 수정, 삭제가 불가능합니다. \n정말로 등록하시겠습니까?") == true){ 
				   //true는 확인버튼을 눌렀을 때 코드 작성
				   alert("인증사진이 등록되었습니다.");
			 }else{
			   // false는 취소버튼을 눌렀을 때, 취소됨
			   return;
			 }
			
			// ajax 처리
			$.ajax({
				url: "/insertMyChallImg",
				type: "post",
				data: formData,
				contentType:false,
				processData:false,
			})
			.then(result => {
				console.log(result);
// 				$('#uploadBtn').attr('data-dismiss', 'modal');
				
				// 모달창 닫기
				$('#Modal-2').modal('hide');
				
				// insert한 인증사진을 리스트에 붙이기
				$("#myValImg").prepend(
					`
					<div class="col-md-3 col-0-gutter text-center">
						<div class="mz-module-about">
							<a href="#" data-toggle="modal" data-target="#imgDetail" onclick="imgDetail(${result.no})">
								<img src="${result.fileDir}" style="width: 200px; height: 200px;">
							</a>
						</div>
					</div>
					`
				)
				
				// 인증 성공 횟수 업데이트
				let success = $('#successCheck').text();
				let total = $('#totalCheck').text();
				
				success = Number(success.substring(0, success.length - 1)) + 1;
				total = Number(total.substring(0, total.length - 1));
				
				percent =  Math.ceil((success / total) * 100); 
				
				console.log(percent + "퍼센트...............?")
				
				$('#myPercent').children().last().remove();
				$('#myPercent').append(
						`<h4><b>${percent}%</b></h4>`
				)
				$('#myPercentBar').data("percent", percent + "%")
				
				
				$('#imageCount').children().first().remove();
				$('#imageCount').prepend(
					`<td><h4 id="successCheck"><b>${success}회</b></h4></td>`
				)
				
			})
			
		}
		
		// ▶ 인증사진 상세
		function imgDetail(no) {
			
			$.ajax({
				url: "/myChallImg/" + no,
				type: "post",
			})
			.then(result => {
				console.log(result)
				$("#oneImg").attr("src", result.fileDir);
				$("#imgDate").text(result.vldDate);
				$("#userNickName").text(result.nickName);
			})
		}
		
		// ▶ 인증 중복체크
		function imgCheck() {
// 			debugger
			let chalNo = $("#imageCount").data("challno");
			
		   $.ajax({
			url: "/valImgCheck",
			type: "post",
			dataType: "json",
			data: {chalNo: chalNo}
		   })
		   .then(result => {
			   console.log(result)
			   
			   checkResult(result)
		   })
		   }
		
		// 중복 여부에 따라 보여줄 것
		function checkResult(data) {
// 		   console.log(data)
		   if(data == true) {
			   alert("오늘 인증을 이미 완료했습니다.")
			   
			   
		   }else if(data == false){
		      console.log(data)
		      $('#Modal-2').modal('show');
		   }
		}
		
		
		// ▶ 후기 글자수 제한
		$(function() {
		    $('#subject').on('keyup', function() {
		        $('#text_cnt').html("(" + $(this).val().length + " / 100)");
		 
		        if($(this).val().length > 100) {
		            $(this).val($(this).val().substring(0, 100));
		            $('#text_cnt').html("(100 / 100)");
		        }
		    });
		});
		
		// ▶ 후기 등록
		function reviewInsert(no) {
			let reviewInfo = $("form[id=reviewForm]").serialize();
			
			if($('input:radio[name="star"]').is(':checked') == false) {
				alert("별점을 선택해주세요.")
				return;
			}
			if($("#subject").val().length == 0) {
				alert("후기 내용을 입력해주세요.")
				return;
			}
			
			$.ajax({
				url: "/insertReview",
				type: "post",
				data : reviewInfo,
				dataType : "json"
			})
			.then(result => {
				if(result != 0) {
					alert("후기가 등록되었습니다.")
					
// 					// 모달창 닫기
// 					$("#review").modal("hide");
					
// 					// 리뷰작성 버튼 삭제 후 리뷰관리 버튼 달기
// 					$("#reviewBtn" + no).remove();
// 					$("#challInfo").append(
// 						`
// 						<a href="#" class="primary-btn"
// 						   data-toggle="modal" data-target="#review" id="reviewBtn" th:onclick="reviewModal(${no})">후기관리</a>
// 						`		
// 					)
					
					location.reload();
				}
			})
		}
		
		// ▶ 후기관리 버튼 클릭시 후기 내용 호출
		function reviewModal(no) {
			$.ajax({
				url: "/challOneReview/" + no,
				type: "post"
			})
			.then(result => {
				$(":radio[name='star'][value='" + result.star + "']").attr('checked', true);
				$("#subject").val(result.subject);
			})
		}
		
		// ▶ 후기 수정
		function reviewUpdate() {
			let reviewInfo = $("form[id=reviewForm]").serialize();
			
			$.ajax({
				url: "/updateReview",
				type: "post",
				data : reviewInfo,
				dataType : 'json'
			})
			.then(result => {
				alert("후기가 수정되었습니다.")
				
// 				// 모달창 닫기
// 				$('#review').modal('hide');
				
				location.reload();
			})
		}
		
		// ▶ 후기 삭제
		function reviewDelete(no) {
			let reviewInfo = $("form[id=reviewForm]").serialize();
			
			if(confirm("후기를 삭제하시겠습니까?") == true){ 
				   //true는 확인버튼을 눌렀을 때 코드 작성
				   alert("후기가 삭제되었습니다.");
			 }else{
			   // false는 취소버튼을 눌렀을 때, 취소됨
			   return;
			 }
			
			$.ajax({
				url: "/deleteReview",
				type: "post",
				data : reviewInfo,
				dataType : 'json'
			})
			.then(result => {
// 				// 모달창 닫기
// 				$('#review').modal('hide');
				

				location.reload();
				
				// 후기관리 버튼 삭제 후 후기쓰기 버튼 달기
// 				$("#reviewBtn").remove();
// 				$("#challInfo").append(
// 					`
// 					<a href="#" class="primary-btn"
// 						data-toggle="modal" data-target="#review" id="reviewBtn${no}">후기쓰기</a>
// 					`		
// 				)
				
			})
		}
		

		
		</script>
<!-- 		</section> -->


		<!-- Js Plugins -->
<!-- 		<script src="/ogani-master/js/jquery-3.3.1.min.js"></script> -->
		<script src="/second-template/js/bootstrap.min.js"></script>
<!-- 		<script src="/ogani-master/js/jquery.nice-select.min.js"></script> -->
<!-- 		<script src="/ogani-master/js/jquery-ui.min.js"></script> -->
<!-- 		<script src="/ogani-master/js/jquery.slicknav.js"></script> -->
<!-- 		<script src="/ogani-master/js/mixitup.min.js"></script> -->
<!-- 		<script src="/ogani-master/js/owl.carousel.min.js"></script> -->
<!-- 		<script src="/ogani-master/js/main.js"></script> -->
	</div>
</body>

</html>