<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/usual}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>My challenge</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/second-template/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/second-template/css/font-awesome.min.css"
	type="text/css">
<!-- <link rel="stylesheet" href="/ogani-master/css/elegant-icons.css" -->
<!-- 	type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/nice-select.css" -->
<!-- 	type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/jquery-ui.min.css" -->
<!-- 	type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/owl.carousel.min.css" -->
<!-- 	type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/slicknav.min.css" -->
<!-- 	type="text/css"> -->
<link rel="stylesheet" href="/second-template/css/style.css"
	type="text/css">

<!-- 리뷰 탭 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/assets/css/bootstrap.min_grp.css">
<link rel="stylesheet" href="/assets/css/style_grp.css">

<!-- 인증 모달 -->
<link href="/modal-template/css/style.css" rel="stylesheet">

</head>

<body>
	<div layout:fragment="content" align="center">
		<!-- Product Details Section Begin -->
		<!-- 		<section class="product-details spad"> -->
		<div class="row">
			<h4>
				<b>나의 챌린지</b>
			</h4>
			<div class="col-lg-12">
				<div class="product__details__tab">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item"><a class="nav-link active"
							data-toggle="tab" href="#myChallenge" role="tab"
							aria-selected="true">진행중</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab"
							href="#myEndChallenge" role="tab" aria-selected="false">종료</a></li>
					</ul>

					<!-- 탭 내용들 -->
					<div class="tab-content">
						<!-- 진행중인 챌린지 탭 시작 -->
						<div class="tab-pane active" id="myChallenge" role="tabpanel">
							<div class="product__details__tab__desc">
								<br>
								<button type="button"
									style="border: 1; border: solid; border-color: lightgray; border-radius: 20px; font-size: 15px; margin: 10px; background: white; padding: 10px 20px 10px 20px;">진행중인
									챌린지 개수</button>
								<br> <br> <br>
								<div id="wrapper">
									<div class="col-lg-7">
										<ul>
											<li th:each="chall : ${myChall}"
												th:onclick="'location.href=\''+ @{/myChallenge/{no}(no = ${chall.NO})} + '\''">
												<div align="left">
													<!-- 						<p class="truncate">품번</p> -->
												</div> <a href="#"
												class="block flex items-center py-3 px-4 space-x-3">
													<div class="w-13 h-13 rounded-full relative flex-shrink-0">
														<img th:src="${chall.THUMBNAIL_IMG_PATH}" alt=""
															style="width: 100px; height: 110px;">
													</div>
													<div class="flex-1 min-w-0 relative text-gray-500"
														align="left">
														<h4 class="text-black font-semibold dark:text-white"></h4>
														<!-- <span class="absolute right-0 top-1 text-xs">상세내역 링크?모달?</span>  -->
														<span class="absolute right-0 top-1 text-xs">주문일자</span>
														<p class="text-black font-semibold dark:text-white"
															style="font-size: 18px">[[ ${chall.TITLE} ]]</p>
														<p class="truncate" style="font-size: 13px">
															<b>진행기간</b> [[${#dates.format(chall.CHAL_START_DATE,
															'MM-dd')}]]([[${#dates.dayOfWeekName(chall.CHAL_START_DATE)}]])
															~ [[${#dates.format(chall.CHAL_END_DATE,
															'MM-dd')}]]([[${#dates.dayOfWeekName(chall.CHAL_END_DATE)}]])
														</p>
														<div align="right">
															<input type="button" value="인증하기"
																style="width: 100px; height: 40px;">
														</div>
													</div>
											</a>
												<hr>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- 진행중인 챌린지 탭 끝 -->

						<!-- 종료된 챌린지 탭 시작 -->
						<div class="tab-pane" id="myEndChallenge" role="tabpanel">
							<div class="product__details__tab__desc">
								<br>
								<button type="button"
									style="border: 1; border: solid; border-color: lightgray; border-radius: 20px; font-size: 15px; margin: 10px; background: white; padding: 10px 20px 10px 20px;">종료된
									챌린지 개수</button>
								<br> <br> <br>
								<div id="wrapper">
									<div class="col-lg-7">
										<ul>
											<li th:each="end : ${endChall}"
												th:onclick="'location.href=\''+ @{/myChallenge/{no}(no = ${end.NO})} + '\''">
												<div align="left"></div> <a href="#"
												class="block flex items-center py-3 px-4 space-x-3">
													<div class="w-13 h-13 rounded-full relative flex-shrink-0">
														<img th:src="${end.THUMBNAIL_IMG_PATH}" alt=""
															style="width: 100px; height: 110px;">
													</div>
													<div class="flex-1 min-w-0 relative text-gray-500"
														align="left">
														<h4 class="text-black font-semibold dark:text-white"></h4>
														<!-- <span class="absolute right-0 top-1 text-xs">상세내역 링크?모달?</span>  -->
														<span class="absolute right-0 top-1 text-xs">주문일자</span>
														<p class="text-black font-semibold dark:text-white"
															style="font-size: 18px">[[ ${end.TITLE} ]]</p>
														<p class="truncate" style="font-size: 13px">
															<b>진행기간</b> [[${#dates.format(end.CHAL_START_DATE,
															'MM-dd')}]]([[${#dates.dayOfWeekName(end.CHAL_START_DATE)}]])
															~ [[${#dates.format(end.CHAL_END_DATE,
															'MM-dd')}]]([[${#dates.dayOfWeekName(end.CHAL_END_DATE)}]])
														</p>
														<th:block th:if="${end.CODE_ID == 'CL01'}">
															<p style="color: red; padding-left: 10px;">
																<b>성공😍<b>
															</p>
														</th:block>
														<th:block th:unless="${end.CODE_ID == 'CL01'}">
															<p style="color: red; padding-left: 10px;">
																<b>실패😥</b>
															</p>
														</th:block>
														<div align="right"></div>
													</div>
											</a>
												<hr>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- 종료된 챌린지 탭 끝 -->
					</div>

				</div>
			</div>
		</div>


		<script>
			
		</script>
		<!-- 		</section> -->


		<!-- Js Plugins -->
		<!-- 		<script src="/ogani-master/js/jquery-3.3.1.min.js"></script> -->
		<script src="/second-template/js/bootstrap.min.js"></script>
		<!-- 		<script src="/ogani-master/js/jquery.nice-select.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/jquery-ui.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/jquery.slicknav.js"></script> -->
		<!-- 		<script src="/ogani-master/js/mixitup.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/owl.carousel.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/main.js"></script> -->
	</div>
</body>

</html>