<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/feed}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>My challenge</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<!-- icons
    ================================================== -->
<link rel="stylesheet" href="assets/css/icons.css">

<!-- CSS 
    ================================================== -->
<link rel="stylesheet" href="assets/css/uikit.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/tailwind-dark.css">


<!-- 글자 파란색됨 -->
<!-- <link rel="stylesheet" href="/second-template/css/bootstrap.min.css" -->
<!-- 	type="text/css"> -->
<link rel="stylesheet" href="/second-template/css/font-awesome.min.css"
	type="text/css">
<!-- <link rel="stylesheet" href="/ogani-master/css/elegant-icons.css" -->
<!-- type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/nice-select.css" -->
<!-- type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/jquery-ui.min.css" -->
<!-- type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/owl.carousel.min.css" -->
<!-- type="text/css"> -->
<!-- <link rel="stylesheet" href="/ogani-master/css/slicknav.min.css" -->
<!-- type="text/css"> -->
<link rel="stylesheet" href="/second-template/css/style.css"
	type="text/css">

<!-- 리뷰 탭 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/assets/css/bootstrap.min_grp.css">
<link rel="stylesheet" href="/assets/css/style_grp.css">

<!-- <!-- 인증 모달 -->
-->
<!-- <link href="/modal-template/css/style.css" rel="stylesheet"> -->

</head>

<body>
	<div layout:fragment="content" align="center">
		<!-- Product Details Section Begin -->
		<!-- <section class="product-details spad"> -->
		<div class="row">
			<h4>
				<b>GROUP LIST</b>
			</h4>
			<div class="col-lg-12">
				<div class="product__details__tab">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item"><a class="nav-link active"
							data-toggle="tab" href="#myGrp" role="tab" aria-selected="true"
							th:data-id="${session.userId}" id="myGroup">내가만든그룹</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab"
							href="#myGrps" role="tab" aria-selected="false">참여중인그룹</a></li>
					</ul>

					<!-- 탭 내용들 -->
					<div class="tab-content">
						<!-- 내가만든그룹 탭 시작 -->
						<div class="tab-pane active" id="myGrp" role="tabpanel" style="">
							<div class="product__details__tab__desc">
								<br>
								<div class="col-lg-6 list-group list-group-numbered">
									<!-- ajax List -->
								</div>

							</div>
						</div>

						<!-- 내가만든 그룹 탭 끝 -->

						<!-- 종료된 챌린지 탭 시작 -->
						<div class="tab-pane" id="myGrps" role="tabpanel">
							<div class="product__details__tab__desc">
								<br>
								<div class="col-lg-6 list-group list-group-numbered">
									<!-- ajax List -->
								</div>
							</div>
						</div>
						<!-- 종료된 챌린지 탭 끝 -->
					</div>
				</div>
				<br>
				<br>
				<button type="submit" data-toggle="modal"
					class="btn btn-outline-success" data-target="#createModal">그룹생성</button>
				&nbsp;&nbsp;
				<button type="submit" data-toggle="modal"
					class="btn btn-outline-secondary" data-target="#joinModal">참여하기</button>
			</div>
		</div>

		<!-- 멤버리스트 모달 -->
		<div class="modal fade" id="listModal" tabindex="-1" role="dialog"
			aria-labelledby="Modal-label-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="Modal-label-1"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="memList" style="padding: 20px;">
					</div>
					<div class="modal-footer">
						<button type="button" onclick="inviteMem()"
							class="btn btn-default btn btn-outline-success"
							data-toggle="modal" data-target="#inviteModal">초대하기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 멤버리스트 모달 끝 -->


		<!-- 멤버 초대 모달 -->
		<!-- data-target 이름이랑 모달의 id값이랑 같아야 모달이 뜸 -->
		<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog"
			aria-labelledby="Modal-label-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="Modal-label-1">초대하기</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="memList" style="padding: 20px;">
						<form id="emailFrm">
							<label>이메일을 입력하세요</label> <input type="text" id="email"
								name="email">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-default btn btn-outline-secondary">확인</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 멤버 초대 모달 끝 -->



		<!-- 그룹 만들기 모달 -->
		<form id="grpMakeFrm" method="post">
			<div class="modal fade" id="createModal" tabindex="-1" role="dialog"
				aria-labelledby="Modal-label-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="Modal-label-1">그룹 만들기</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" id="" style="padding: 20px;">
							<input type="hidden" id="grpLeader" name="grpLeader"
								th:value="${session.userId}"> <label>이름을 입력하세요</label> <input
								type="text" id="grpName" name="grpName">

						</div>
						<div class="modal-footer">
							<button type="button" onclick="createGrp()"
								class="btn btn-default btn btn-outline-secondary" id="attend"
								style="margin: 0px;">확인</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- 그룹만들기 모달 끝 -->


		<!-- 그룹참여 모달  -->
		<form id="grpAtdFrm" method="post">
			<div class="modal fade" id="joinModal" tabindex="-1" role="dialog"
				aria-labelledby="Modal-label-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="Modal-label-1">참여하기</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" id="" style="padding: 20px;">

							<input type="hidden" id="userId" name="userId"
								th:value="${session.userId}"> <label for="grpCode"
								id="grpCodeTxt">참여코드를 입력하세요</label> <input type="text"
								id="grpCode" name="grpCode">

						</div>
						<div class="modal-footer">
							<button type="button" onclick="joinGrp()"
								class="btn btn-default btn btn-outline-secondary" id="attend"
								style="margin: 0px;">확인</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- 그룹참여 모달 끝 -->

		<script>
		$('document').ready(function() {
			let id = $("#myGroup").data("id");
			$.ajax({
				url: "/groupsListAjax",
				type: 'POST',
				
				success: function(result) {
				 $.each(result, function(index, list){
					 if(id == list.GRP_LEADER) {
					
					$("#myGrp").append(
							`
								<div style="border: 1px solid #ccc; border-radius: 5px; width: 700px; height: 70px;" class="${list.NO}">
									<div class="block items-center py-3 px-4 space-x-3">
										<div class="w-13 h-13 rounded-full relative flex-shrink-0 row">
											<div class="flex-1 min-w-0 text-gray-500 col" align="left">
												<h4 class="ms-2 me-auto fw-bold">
													<a href="/groupsFeed/${list.NO}">${list.GRP_NAME}	&nbsp;&nbsp; ${list.GRP_LEADER}</a>
												</h4>
											</div>
										<div class="top-0 start-100 col" align="right">
											<button type="button" onclick="grpListDel()" data-no="${list.NO}" class="btn btn-outline-secondary" style="float: right;">삭제</button>
												&nbsp;&nbsp;
											<button type="button" data-toggle="modal" class="btn btn-outline-success" style="float: right;" data-target="#listModal" onclick="memChk()" data-no="${list.NO}">관리</button>
											</div>
										</div>
									</div>
								</div>
							`
					  )
					} else {
						$("#myGrps").append(
								`
								<div style="border: 1px solid #ccc; border-radius: 5px; width: 700px; height: 70px;" class="${list.GRP_NO}">
									<div class="block items-center py-3 px-4 space-x-3">
										<div class="w-13 h-13 rounded-full relative flex-shrink-0 row">
											<div class="flex-1 min-w-0 text-gray-500 col" align="left">
												<h4 class="ms-2 me-auto fw-bold">
													<a href="/groupsFeed/${list.NO}">${list.GRP_NAME}&nbsp;&nbsp;${list.GRP_LEADER}</a>
												</h4>
											</div>
										<div class="top-0 start-100 col" align="right">
									<button type="button" data-toggle="modal" class="btn btn-outline-success" data-target="#listModal" onclick="memChk()" id="showBtn" data-no="${list.NO}">멤버보기</button>
										
									<button type="button" onclick="membDel()" data-no="${list.NO}" class="btn btn-outline-secondary">탈퇴</button>
									<input type="hidden" id="userId" value="${id}">
								</div>
							</div>
						</div>
					</div>
								`
						)
					}
				 })
				}
			})
		})
		
	
			// 멤버리스트 모달로 보여줌
			function memChk() {
				let no = $(event.target).data("no");

				$("#memList").empty()

				$.ajax({
						url: "/groupsList/" + no

					})
					.then(result => {
						console.log(result);

						$(result).each(function (index, memb) {
							$("#Modal-label-1").text(memb.GRP_NAME)
							console.log(memb.USER_ID);

							if (memb.USER_ID == memb.GRP_LEADER) {
								$("#memList").append(
									`<div class="py-2" style="padding-left: 30px;">
          						  <div class="flex flex-1 items-center space-x-4">
						               <a href="#">
						                  <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
						                     <img src="${memb.PROFILE_IMG_PATH}" class="bg-gray-200 border border-white rounded-full w-8 h-8" id="profileImgPath">
						                  </div>
						               </a>
             						<span class="block text-lg font-semibold" id="nickName" style="color: green;">${memb.NICK_NAME}</span>
					            </div>
					         </div>`
								)

							} else {
								$("#memList").append(
									`<div class="py-2" style="padding-left: 30px;">
	          						  <div class="flex flex-1 items-center space-x-4">
							               <a href="#">
							                  <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
							                     <img src="${memb.PROFILE_IMG_PATH}" class="bg-gray-200 border border-white rounded-full w-8 h-8" id="profileImgPath">
							                  </div>
							               </a>
	             						<span class="block text-lg font-semibold" id="nickName">${memb.NICK_NAME}</span>
						            </div>
						         </div>
						         `
								)
							}

						})
					});
			}

			// 멤버 초대하기
			function inviteMem() {
				$('#listModal').modal('hide');

				// 이메일 인증번호
				$('#emailFrm').click(function () {
					$.ajax({
						type: "POST",
						url: "/grpInvite/mailConfirm.do",
						data: {
							"email": $("#email").val()
						},
						success: function (data) {
							alert("인증번호가 발송 되었습니다. \n 확인부탁드립니다.")
							console.log("data : " + data)
                chkEmailConfirm(data, $grpCode, $grpCodeTxt)
						}
					})
				})

			}


			// 참여중인 그룹의 멤버탈퇴
			function membDel() {
				let grpNo = $(event.target).data("no");
				let userId = $(event.target).next().val();

				$.ajax({
						type: 'POST',
						url: "/grpMembDel/" + userId + "/" + grpNo
					})
					.then(result => {
						$("." + grpNo).remove();
					});
			}


			// 내가 만든 그룹 삭제
			function grpListDel() {
				let no = $(event.target).data("no");
				console.log(no);

				$.ajax({
						type: 'POST',
						url: "/grpDel/" + no
					})
					.then(result => {
						$("." + no).remove();
					});
			}


			// 그룹 만들기
			function createGrp() {
				let userId = $(event.target).next().val();
				var formData = new FormData($('#grpMakeFrm')[0])
				console.log(userId);

				$.ajax({
						type: 'POST',
						url: "/grpInsert",
						data: formData,
						contentType: false,
						processData: false
					})
					.then(result => {
						console.log(result);

					})
			}

			var $grpCode = $('#grpCode')
			var $grpCodeTxt = $('#grpCodeTxt')
			
			$grpCode.on("keyup", function () {
					if (data != $('email').val()) {
						emconfirmchk = false;
						$grpCodeTxt.html("<span id='emconfirmchk'>인증번호가 잘못되었습니다</span>")
						$memconfirmchk.css({
							"color": "#FA3E3E",
							"font-weight": "bold",
							"font-size": "10px"
						})
						//console.log("중복아이디");
					} else {
						grpCode = true;
						$grpCodeTxt.html("<span id='emconfirmchk'>인증번호 확인 완료</span>")

						$memconfirmchk.css({
							"color": "#0D6EFD",
							"font-weight": "bold",
							"font-size": "10px"
						})

					}
				})
			
			// 초대코드로 그룹 참여
			function joinGrp(data, $grpCode, $grpCodeTxt) {
				
				// 그룹입력코드 
					$.ajax({
						url: "/grps/compareInsert",
						type: 'POST',
						data: {
							grpCode : $grpCode
						},
						success: function (result) {
							alert("다시 확인해주세요")
							console.log("============결과" + result) 
							
						}
					})
			}
		</script>
		<!-- 		</section> -->


		<!-- Js Plugins -->
		<!-- 		<script src="/ogani-master/js/jquery-3.3.1.min.js"></script> -->
		<script src="/second-template/js/bootstrap.min.js"></script>
		<!-- 		<script src="/ogani-master/js/jquery.nice-select.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/jquery-ui.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/jquery.slicknav.js"></script> -->
		<!-- 		<script src="/ogani-master/js/mixitup.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/owl.carousel.min.js"></script> -->
		<!-- 		<script src="/ogani-master/js/main.js"></script> -->
	</div>
</body>

</html>