<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frame/usual}">
<head>
<!-- Favicon -->
<link href="assets/images/favicon.png" rel="icon" type="image/png">

<!-- Basic Page Needs
    ================================================== -->
<title>GroupsSelect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Instello - Sharing Photos platform HTML Template">

<!-- icons
    ================================================== -->
<link rel="stylesheet" href="assets/css/icons.css">

<!-- CSS 
    ================================================== -->
<link rel="stylesheet" href="assets/css/uikit.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/tailwind-dark.css">

</head>
<body>
	<!-- 그룹 상세내역 -->
	<div layout:fragment="content" align="center">
		<br> <br>
		<form id="frm" action="/groupsFeed" method="post">
			<img src="${selects.profileImgPath}"
				class="w-13 h-13 rounded-full relative flex-shrink-0"
				style="width: 30px; display: inline-block;">&nbsp;&nbsp;<b>[[${selects.nickName}]]</b>
			<br>
			<br>
			<div class="col-lg-8" style="border: 1px solid #ccc">
				<br>
				<div class="block flex items-center py-3 px-4 space-x-3">
					<br>
					<div th:each="meals : ${mealImg}"
						style="border: 1px solid #ccc; width: 1200px; height: 300px;">
						<img th:src="${meals.fileDir}" alt=""
							style="width: 120px; height: 120px;">
						<div class="flex-1 min-w-0 relative text-gray-500" align="left">
							<span class="text-black font-semibold dark:text-white">[[${meals.typeCode}]]
								: [[${meals.mealTime}]]</span>
							<p class="truncate" style="margin: 0px">[[${meals.mealAmount}]]</p>
							<p class="text-black font-semibold dark:text-white">[[${meals.subject}]]</p>
						</div>
					</div>
				</div>


				<br> <br>

				<!-- 댓글 출력 -->
				<div class="-mt-1 space-y-1" id="reply">
					<div class="flex flex-1 items-center space-x-2">
						<img src="assets/images/avatars/avatar-2.jpg"
							class="rounded-full w-8 h-8">
						<div class="flex-1 p-2">댓글 내용1</div>
					</div>

					<div class="flex flex-1 items-center space-x-2">
						<img src="assets/images/avatars/avatar-4.jpg"
							class="rounded-full w-8 h-8">
						<div class="flex-1 p-2">댓글 내용2</div>
					</div>
				</div>
				<!-- 댓글 출력 끝 -->
				<div class="p-3 border-t dark:border-gray-600">
					<div
						class="bg-gray-200 dark:bg-gray-700 rounded-full rounded-md relative">
						<input type="text" placeholder="댓글을 입력하세요."
							class="bg-transparent max-h-8 shadow-none" id="cmmtSubject">
						<div
							class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
							<a href=""><button type="button" style="font-size: 10px;"
									onclick="cmmtInsert()">등록</button></a>
						</div>
					</div>
				</div>
			</div>
	<br>
	<button type="submit" class="button bg-blue-700">목록으로</button>
	</form>
	</div>
</body>
</html>